<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <style>
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h2>Поиск кредитного договора</h2>
<form th:action="@{/search/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchLA">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>№ КД</label>
        <input name="numLA" type="text"/>
        <input type="hidden", name="numLAOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Заемщик</label>
        <input name="client" type="text"/>
        <select name="typeOfClient">
            <option selected value="LEGAL_ENTITY">ЮЛ</option>
            <option value="INDIVIDUAL">ФЛ</option>
        </select>
    </div>
    <br>
    <div class="row">
            <label>дата начала КД</label>
            <input name="dateBeginLA" type="date"/>
            <select name="dateBeginLAOption">
                <option selected value="EQUAL_IGNORE_CASE">равно</option>
                <option value="GREATER">больше</option>
                <option value="GREATER_EQUAL">больше или ровно</option>
                <option value="LESS">меньше</option>
                <option value="LESS_EQUAL">меньше или равно</option>
            </select>
    </div>
    <br>
    <div class="row">
        <label>Дата окончания КД</label>
        <input name="dateEndLA" type="date"/>
        <select name="dateEndLAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ПФО</label>
        <input type="number" min="1" max="5" name="pfo" />
        <select name="pfoOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Кат.кач</label>
        <input type="number" min="1" max="5" name="qualityCategory" />
        <select name="qualityCategoryOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Сумма договора</label>
        <input type="number" min="0" step="0.01" name="amountLA" />
        <select name="amountLAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Ссудная задолженность</label>
        <input type="number" min="0" step="0.01" name="debtLA"/>
        <select name="debtLAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>%</label>
        <input type="number" min="0" max="1" step="0.0001" name="interestRateLA"/>
        <select name="interestRateLAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Статус КД</label>
        <select name="statusLA">
            <option selected value="OPEN">открыт</option>
            <option value="CLOSED">закрыт</option>
        </select>
    </div>
    <br>
    <button type="submit">Найти</button>
</form>


<h2>Поиск договора залога</h2>
<form th:action="@{/search/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchPA">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>№ ДЗ</label>
        <input name="numPA" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Залогодатель</label>
        <input name="client" type="text"/>
        <select name="typeOfClient">
            <option selected value="LEGAL_ENTITY">ЮЛ</option>
            <option value="INDIVIDUAL">ФЛ</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>дата начала ДЗ</label>
        <input name="dateBeginPA" type="date"/>
        <select name="dateBeginPAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата окончания ДЗ</label>
        <input name="dateEndPA" type="date"/>
        <select name="dateEndPAOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Перв/посл</label>
        <select name="pervPosl">
            <option selected value="">Все</option>
            <option value="PERV">Первичный</option>
            <option value="POSL">Последующий</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Рыночная стоимость по ДЗ</label>
        <input type="number" min="0" step="0.01" name="zsDz"/>
        <select name="zsDzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Рыночная стоимость по ЗЗ</label>
        <input type="number" min="0" step="0.01" name="rsZz"/>
        <select name="rsZzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость по ДЗ</label>
        <input type="number" min="0" step="0.01" name="zsDz"/>
        <select name="zsDzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость по ЗЗ</label>
        <input type="number" min="0" step="0.01" name="zsZz"/>
        <select name="zsZzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Справедливая стоимость</label>
        <input type="number" min="0" step="0.01" name="ss"/>
        <select name="ssOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Статус ДЗ</label>
        <select name="statusPA">
            <option selected value="OPEN">открыт</option>
            <option value="CLOSED">закрыт</option>
        </select>
    </div>
    <br>
    <button type="submit">Найти</button>
</form>




<h2>Поиск клиента</h2>
<form th:action="@{/search/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchClient">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>Клиент</label>
        <input name="clientName" type="text"/>
        <select id="whatSearchClient" onchange="choiseClient()" name="typeOfClient">
            <option selected value="LEGAL_ENTITY">ЮЛ</option>
            <option value="INDIVIDUAL">ФЛ</option>
        </select>
    </div>
    <br>
    <div id="elementClient"></div>

    <button type="submit">Найти</button>
</form>

<h2>Поиск предмета залога</h2>
<h3><u>Общие признаки</u>(поиск по всем видам имущества)</h3>

<form th:action="@{/search/search_results}" th:method="get" action="search_results.html">
    <input type="hidden" name="typeOfSearch" value="searchPS">
    <input type="hidden" name="size" value='50'>
    <input type="hidden" name="page" value='0'>

    <div class="row">
        <label>Наименование</label>
        <input name="name" type="text"/>
        <input type="hidden" name="nameOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Ликвидность</label>
        <select name="liquidity">
            <option selected value="">не выбрано</option>
            <option value="HIGH">высокая</option>
            <option value="AVERAGE">средняя</option>
            <option value="BELOW_AVERAGE">ниже средней</option>
            <option value="LOW">низкая</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>РС по ДЗ</label>
        <input type="number" min="0" step="0.01" name="rsDz"/>
        <select name="rsDzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ДЗ</label>
        <input type="number" min="0" step="0.01" name="zsDz"/>
        <select name="zsDzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>РС по ЗЗ</label>
        <input type="number" min="0" step="0.01" name="rsZz"/>
        <select name="rsZzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ЗЗ</label>
        <input type="number" min="0" step="0.01" name="zsZz"/>
        <select name="zsZzOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>СС</label>
        <input type="number" min="0" step="0.01" name="ss"/>
        <select name="ssOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата мониторинга</label>
        <input name="dateMonitoring" type="date"/>
        <select name="dateMonitoringOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата заключения</label>
        <input name="dateConclusion" type="date"/>
        <select name="dateConclusionOption">
            <option selected value="EQUAL_IGNORE_CASE">равно</option>
            <option value="GREATER">больше</option>
            <option value="GREATER_EQUAL">больше или ровно</option>
            <option value="LESS">меньше</option>
            <option value="LESS_EQUAL">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Результат мониторинга</label>
        <select name="statusMonitoring">
            <option selected value="">не выбрано</option>
            <option value="IN_STOCK">в наличии</option>
            <option value="PARTIAL_LOSS">частичная утрата</option>
            <option value="LOSING">утрата</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Функция залога</label>
        <select name="typeOfPledge">
            <option selected value="">не выбрано</option>
            <option value="RETURN">возвратная</option>
            <option value="LEVER">рычаговая</option>
            <option value="LIMITING">ограничивающая</option>
            <option value="INFORMATIONAL">информационная</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Адрес(Регион)</label>
        <input name="adressRegion" type="text"/>
        <input type="hidden" name="adressRegionOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Адрес(Район)</label>
        <input name="adressDistrict" type="text"/>
        <input type="hidden" name="adressDistrictOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Адрес(Город)</label>
        <input name="adressCity" type="text"/>
        <input type="hidden" name="adressCityOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Адрес(Улица)</label>
        <input name="adressStreet" type="text"/>
        <input type="hidden" name="adressStreetOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <div class="row">
        <label>Обязательство страхования</label>
        <select name="insuranceObligation">
            <option selected value="">не выбрано</option>
            <option value="да">да</option>
            <option value="нет">нет</option>
        </select>
        <input type="hidden" name="insuranceObligationOption" value="EQUAL_IGNORE_CASE">
    </div>
    <br>
    <h3><u>Поиск по конкретному виду обеспечения</u></h3>
    <div class="row">
        <label>Вид обеспечения</label>
        <select id="whatSearchPS" onchange="choisePS()" name="typeOfCollateral">
            <option selected value="">Не выбрано</option>
            <option value="AUTO">Авто/спецтехника</option>
            <option value="EQUIPMENT">Оборудование</option>
            <option value="TBO">ТМЦ</option>
            <option value="SECURITIES">Ценные бумаги</option>
            <option value="LAND_OWNERSHIP">Недвижимость - ЗУ - собственность</option>
            <option value="LAND_LEASE">Недвижимость - ЗУ - право аренды</option>
            <option value="BUILDING">Недвижимость - здание/сооружение</option>
            <option value="PREMISE">Недвижимость - помещение</option>
            <option value="VESSEL">Судно</option>
        </select>
    </div>
    <br>
    <div id="elementPS"></div>
    <button type="submit">Найти</button>
</form>











<script>
    $(document).ready(choiseClient());
    $(document).ready(choisePS());



    function choiseClient() {
        var n = document.getElementById("whatSearchClient").options.selectedIndex;
        var choise = document.getElementById("whatSearchClient").options[n].value;
        if(choise == 'LEGAL_ENTITY'){
            var codeInner = '<div class="row">\n' +
                '        <label>ИНН</label>\n' +
                '        <input name="inn" type="text"/>\n' +
                '    </div>\n' +
                '    <br>';
            elementClient.innerHTML = '';
            elementClient.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'INDIVIDUAL'){
            var codeInner = '<div class="row">\n' +
                '        <label>№ паспорта</label>\n' +
                '        <input name="pasportNum" type="text"/>\n' +
                '    </div>\n' +
                '    <br>';
            elementClient.innerHTML = '';
            elementClient.insertAdjacentHTML('afterbegin', codeInner);
        }
    }


    function choisePS () {
        var n = document.getElementById("whatSearchPS").options.selectedIndex;
        var choise = document.getElementById("whatSearchPS").options[n].value;
        if(choise == ''){
            elementPS.innerHTML = '';
        }else if(choise == 'AUTO'){
            var codeInner = '<div class="row">\n' +
                '<label>Марка</label>\n' +
                '<input name="brandAuto" type="text"/>\n' +
                '<input type="hidden" name="brandAutoOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Модель</label>\n' +
                '<input name="modelAuto" type="text"/>\n' +
                '<input type="hidden" name="modelAutoOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>VIN</label>\n' +
                '<input name="vin" type="text"/>\n' +
                '<input type="hidden" name="vinOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>№ двигателя</label>\n' +
                '<input name="numOfEngine" type="text"/>\n' +
                '<input type="hidden" name="numOfEngineOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>№ПТС</label>\n' +
                '<input name="numOfPTS" type="text"/>\n' +
                '<input type="hidden" name="numOfPTSOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Год выпуска</label>\n' +
                '<input type="number" min="0" name="yearOfManufactureAuto"/>\n' +
                '<select name="yearOfManufactureAutoOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '</select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Инв.№</label>\n' +
                '<input name="inventoryNumAuto" type="text">\n' +
                '<input type="hidden" name="inventoryNumAutoOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Вид транспорта</label>\n' +
                '<select name="typeOfAuto">\n' +
                '<option selected value="">не выбрано</option>\n' +
                '<option value="BULLDOZER">бульдозер</option>\n' +
                '<option value="EXCAVATOR">экскаватор</option>\n' +
                '<option value="TRAILER">прицеп</option>\n' +
                '<option value="LOADER">погрузчик</option>\n' +
                '<option value="CRANE">кран</option>\n' +
                '<option value="ROAD_CONSTRUCTION">дорожно-строительная</option>\n' +
                '<option value="COMBINE">комбайн</option>\n' +
                '<option value="TRACTOR">трактор</option>\n' +
                '<option value="PASSENGER">пассажирский транспорт</option>\n' +
                '<option value="CARGO">грузовой транспорт</option>\n' +
                '<option value="PERSONAL">легковой транспорт</option>\n' +
                '<option value="RAILWAY">ж/д транспорт</option>\n' +
                '<option value="OTHER">иное</option>\n' +
                '</select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'EQUIPMENT'){
            var codeInner = '<div class="row">\n' +
                '    <label>Марка</label>\n' +
                '    <input name="brandEquip" type="text"/>\n' +
                '<input type="hidden" name="brandEquipOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Модель</label>\n' +
                '    <input name="modelEquip" type="text"/>\n' +
                '<input type="hidden" name="modelEquipOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Завод №</label>\n' +
                '    <input name="SerialNum" type="text"/>\n' +
                '<input type="hidden" name="SerialNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год выпуска</label>\n' +
                '    <input type="number" min="0" name="yearOfManufactureEquip"/>\n' +
                '    <select name="yearOfManufactureEquipOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Инв №</label>\n' +
                '    <input name="inventoryNumEquip" type="text"/>\n' +
                '<input type="hidden" name="inventoryNumEquipOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид оборудования</label>\n' +
                '    <select name="typeOfEquip">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="METALWORKING">металлообработка</option>\n' +
                '        <option value="FOREST_PROCCESSING">лесообработка</option>\n' +
                '        <option value="TRADING">торговое</option>\n' +
                '        <option value="OFFICE">офисное</option>\n' +
                '        <option value="ENGINEERING_NETWORKS">сети ито</option>\n' +
                '        <option value="ADVERTISIING">рекламное</option>\n' +
                '        <option value="FOOD">пищевое</option>\n' +
                '        <option value="AUTOMOBILE">автомобильное</option>\n' +
                '        <option value="GAS_STATION">азс</option>\n' +
                '        <option value="CHEMICAL">химическое</option>\n' +
                '        <option value="METRICAL">измерительное</option>\n' +
                '        <option value="MEDICAL">медицинское</option>\n' +
                '        <option value="OIL_GAS">нефте-газовое</option>\n' +
                '        <option value="MINING">карьерное и горное</option>\n' +
                '        <option value="LIFTING">подъемное</option>\n' +
                '        <option value="AVIATION">авиационное</option>\n' +
                '        <option value="BUILDING">строительое</option>\n' +
                '        <option value="RESTAURANT">ресторанное</option>\n' +
                '        <option value="TRANSPORTATION">транспортировка</option>\n' +
                '        <option value="PACKAGING">упаковачное</option>\n' +
                '        <option value="STORAGE">хранение</option>\n' +
                '        <option value="AGRICULTURAL">с/х назначения</option>\n' +
                '        <option value="OTHER">иное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'TBO'){
            var codeInner = '<div class="row">\n' +
                '    <label>Баланс. стоимость</label>\n' +
                '    <input type="number" min="0" step="0.01" name="carryingAmount"/>\n' +
                '    <select name="carryingAmountOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид ТМЦ</label>\n' +
                '    <select name="typeOfTbo">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="TRANSPORT">транспорт</option>\n' +
                '        <option value="SPARE_PARTS">запчасти</option>\n' +
                '        <option value="CLOTHES">одежда</option>\n' +
                '        <option value="FOOD">продукты питания</option>\n' +
                '        <option value="ALCOHOL">алкоголь</option>\n' +
                '        <option value="PETROCHEMISTRY">нефтехимия</option>\n' +
                '        <option value="METAL_PRODUCTS">металлопродукция</option>\n' +
                '        <option value="BUILDING_MATERIALS">стройматериалы</option>\n' +
                '        <option value="CATTLE">крс</option>\n' +
                '        <option value="SMALL_CATTLE">мрс</option>\n' +
                '        <option value="MEDICINES">медикаменты</option>\n' +
                '        <option value="PLUMBING">сантехника</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'SECURITIES'){
            var codeInner = '<div class="row">\n' +
                '    <label>Номинал. стоимость</label>\n' +
                '    <input type="number" min="0" step="0.01" name="nominalValue"/>\n' +
                '    <select name="nominalValueOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Действ. стоимость</label>\n' +
                '    <input type="number" min="0" step="0.01" name="actualValue"/>\n' +
                '    <select name="actualValueOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид ценных бумаг</label>\n' +
                '    <select name="typeOfSecurities">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="SHARE_IN_AUTHORIZED_CAPITAL">доли в ук</option>\n' +
                '        <option value="STOCK">акции</option>\n' +
                '        <option value="BILL">вексель</option>\n' +
                '        <option value="SHARES">паи</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'LAND_OWNERSHIP'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="cadastralNum" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input type="number" min="0" step="0.01" name="area"/>\n' +
                '    <select name="areaOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="conditionalNum" type="text"/>\n' +
                '<input type="hidden" name="conditionalNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Категория земель</label>\n' +
                '    <select name="landCategory">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="AGRICULTURAL">земли сельскохозяйственного назначения</option>\n' +
                '        <option value="LOCALITY">земли населенных пунктов</option>\n' +
                '        <option value="INDUSTRIAL">земли промышленности, энергетики, транспорта, связи...</option>\n' +
                '        <option value="SPECIALLY_PROTECTED">земли особо охраняемых территорий и объектов</option>\n' +
                '        <option value="FOREST">земли лесного фонда</option>\n' +
                '        <option value="WATER">земли водного фонда</option>\n' +
                '        <option value="STOCK_LANDS">земли запаса</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Разрешенное использование</label>\n' +
                '    <input name="permittedUse" type="text"/>\n' +
                '<input type="hidden" name="permittedUseOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Наличие ОКС</label>\n' +
                '    <select name="builtUp">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="да">да</option>\n' +
                '        <option value="нет">нет</option>\n' +
                '    </select>\n' +
                '<input type="hidden" name="builtUpOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Кад № ОКС</label>\n' +
                '    <input name="cadastralNumOfBuilding" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOfBuildingOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'LAND_LEASE'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="cadastralNum" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input type="number" min="0" step="0.01" name="area"/>\n' +
                '    <select name="areaOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="conditionalNum" type="text"/>\n' +
                '<input type="hidden" name="conditionalNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Категория земель</label>\n' +
                '    <select name="landCategory">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="AGRICULTURAL">земли сельскохозяйственного назначения</option>\n' +
                '        <option value="LOCALITY">земли населенных пунктов</option>\n' +
                '        <option value="INDUSTRIAL">земли промышленности, энергетики, транспорта, связи...</option>\n' +
                '        <option value="SPECIALLY_PROTECTED">земли особо охраняемых территорий и объектов</option>\n' +
                '        <option value="FOREST">земли лесного фонда</option>\n' +
                '        <option value="WATER">земли водного фонда</option>\n' +
                '        <option value="STOCK_LANDS">земли запаса</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Разрешенное использование</label>\n' +
                '    <input name="permittedUse" type="text"/>\n' +
                '<input type="hidden" name="permittedUseOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Наличие ОКС</label>\n' +
                '    <select name="builtUp">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="да">да</option>\n' +
                '        <option value="нет">нет</option>\n' +
                '    </select>\n' +
                '<input type="hidden" name="builtUpOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Кад № ОКС</label>\n' +
                '    <input name="cadastralNumOfBuilding" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOfBuildingOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дата начала аренды</label>\n' +
                '    <input name="beginDateLease" type="date"/>\n' +
                '    <select name="beginDateLeaseOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дата окончания аренды</label>\n' +
                '    <input name="endDateLease" type="date"/>\n' +
                '    <select name="endDateLeaseOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'BUILDING'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="cadastralNum" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input type="number" min="0" step="0.01" name="area"/>\n' +
                '    <select name="areaOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="conditionalNum" type="text"/>\n' +
                '<input type="hidden" name="conditionalNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка</label>\n' +
                '    <select name="marketSegment">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="TRADING">Торговое</option>\n' +
                '        <option value="OFFICE">Офисное</option>\n' +
                '        <option value="TRADING_OFFICE">Торгово-Офисное</option>\n' +
                '        <option value="INDUSTRIAL">Производственное</option>\n' +
                '        <option value="WAREHOUSE">Складское</option>\n' +
                '        <option value="INDUSTRIAL_WAREHOUSE">Производственно-складсткое</option>\n' +
                '        <option value="FLAT">Квартира</option>\n' +
                '        <option value="HOTEL">Жилой дом</option>\n' +
                '        <option value="ENGINEERING">Инженерное</option>\n' +
                '        <option value="AGRICULTURAL">с/х</option>\n' +
                '        <option value="SUBSIDIARY">Вспомогательное</option>\n' +
                '        <option value="HOTEL">Гостиничное</option>\n' +
                '        <option value="RECREATIONAL">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Степень готовности</label>\n' +
                '    <input type="number" min="0" max="100" name="readinessDegree"/>\n' +
                '    <select name="readinessDegreeOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год постройки</label>\n' +
                '    <input type="number" min="0" name="yearOfConstruction"/>\n' +
                '    <select name="yearOfConstructiongOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'PREMISE'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="cadastralNum" type="text"/>\n' +
                '<input type="hidden" name="cadastralNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input type="number" min="0" step="0.01" name="area"/>\n' +
                '    <select name="areaOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="conditionalNum" type="text"/>\n' +
                '<input type="hidden" name="conditionalNumOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка ппомещения</label>\n' +
                '    <select name="marketSegmentRoom">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="TRADING">Торговое</option>\n' +
                '        <option value="OFFICE">Офисное</option>\n' +
                '        <option value="TRADING_OFFICE">Торгово-Офисное</option>\n' +
                '        <option value="INDUSTRIAL">Производственное</option>\n' +
                '        <option value="WAREHOUSE">Складское</option>\n' +
                '        <option value="INDUSTRIAL_WAREHOUSE">Производственно-складсткое</option>\n' +
                '        <option value="FLAT">Квартира</option>\n' +
                '        <option value="HOTEL">Жилой дом</option>\n' +
                '        <option value="ENGINEERING">Инженерное</option>\n' +
                '        <option value="AGRICULTURAL">с/х</option>\n' +
                '        <option value="SUBSIDIARY">Вспомогательное</option>\n' +
                '        <option value="HOTEL">Гостиничное</option>\n' +
                '        <option value="RECREATIONAL">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка здания где расположено помещение</label>\n' +
                '    <select name="marketSegmentBuilding">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="TRADING">Торговое</option>\n' +
                '        <option value="OFFICE">Офисное</option>\n' +
                '        <option value="TRADING_OFFICE">Торгово-Офисное</option>\n' +
                '        <option value="INDUSTRIAL">Производственное</option>\n' +
                '        <option value="WAREHOUSE">Складское</option>\n' +
                '        <option value="INDUSTRIAL_WAREHOUSE">Производственно-складсткое</option>\n' +
                '        <option value="FLAT">Квартира</option>\n' +
                '        <option value="HOTEL">Жилой дом</option>\n' +
                '        <option value="ENGINEERING">Инженерное</option>\n' +
                '        <option value="AGRICULTURAL">с/х</option>\n' +
                '        <option value="SUBSIDIARY">Вспомогательное</option>\n' +
                '        <option value="HOTEL">Гостиничное</option>\n' +
                '        <option value="RECREATIONAL">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Этаж расположения</label>\n' +
                '    <input name="floorLocation" type="text"/>\n' +
                '    <select name="floorLocationOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '<input type="hidden" name="floorLocationOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'VESSEL'){
            var codeInner = '';
            elementPS.innerHTML = '<div class="row">\n' +
                '    <label>IMO</label>\n' +
                '    <input type="number" min="0" name="imo"/>\n' +
                '<input type="hidden" name="imoOption" value="EQUAL_IGNORE_CASE">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид судна</label>\n' +
                '    <select name="typeOfVessel">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="GDC">general cargo (gcd)</option>\n' +
                '        <option value="CON">container ship (con)</option>\n' +
                '        <option value="LOG">log carrier/timber (log)</option>\n' +
                '        <option value="R_R">ro-ro (r/r)</option>\n' +
                '        <option value="B_C">bulk carrier (b/c)</option>\n' +
                '        <option value="O_O">ore/oil carrier (o/o)</option>\n' +
                '        <option value="OBO">oil/bulk/ore carrier (obo)</option>\n' +
                '        <option value="TNP">tanker product (tnp)</option>\n' +
                '        <option value="TNC">tanker crude (tnc)</option>\n' +
                '        <option value="TNS">tanker storage (tns)</option>\n' +
                '        <option value="TNV">tanker vlcc/ulcc (tnv)</option>\n' +
                '        <option value="CHM">chemical tanker (chm)</option>\n' +
                '        <option value="GAS">lpg/lng carrier (gas)</option>\n' +
                '        <option value="OSV">offshore supply vessel (osv)</option>\n' +
                '        <option value="HVL">heavy lift vessel (hvl)</option>\n' +
                '        <option value="SRV">survey vessel (srv)</option>\n' +
                '        <option value="PAS">passenger ship (pas)</option>\n' +
                '        <option value="RFG">reefer (rfg)</option>\n' +
                '        <option value="LIV">livestock carrier (liv)</option>\n' +
                '        <option value="TUG">tug</option>\n' +
                '        <option value="FSH">fishing trawler (fsh)</option>\n' +
                '        <option value="DRG">dredger (drg)</option>\n' +
                '        <option value="M">м</option>\n' +
                '        <option value="M_SP">м-сп</option>\n' +
                '        <option value="O">о</option>\n' +
                '        <option value="R">р</option>\n' +
                '        <option value="L">л</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Валовая вместимость</label>\n' +
                '    <input type="number" min="0" name="grossTonnage"/>\n' +
                '    <select name="grossTonnageOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дедвейт</label>\n' +
                '    <input type="number" min="0" name="deadweight"/>\n' +
                '    <select name="deadweightOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год постройки</label>\n' +
                '    <input type="number" min="0" name="yearBuilt"/>\n' +
                '    <select name="yearBuiltOption">\n' +
                '<option selected value="EQUAL_IGNORE_CASE">равно</option>\n' +
                '<option value="GREATER">больше</option>\n' +
                '<option value="GREATER_EQUAL">больше или ровно</option>\n' +
                '<option value="LESS">меньше</option>\n' +
                '<option value="LESS_EQUAL">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }
    }
</script>
</body>
</html>