<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Обновление cтоимостей предмета залога: ' + ${pledgeSubjectName}">Обновление cтоимостей</title>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Обновление cтоимостей предмета залога:' + ${pledgeSubjectName}">Обновление cтоимостей</h1>

<form th:action="@{/cost_history/insert}" th:method="post" th:object="${costHistoryDto}" action="card.html">
    <input type="hidden", name="pledgeSubjectName" th:value="${pledgeSubjectName}">
    <input type="hidden", th:field="*{pledgeSubjectId}" th:value="${costHistoryDto.getPledgeSubjectId()}">

    <div class="row">
        <label>Дата заключения</label>
        <input required th:field="*{dateConclusion}" type="date"/>
        <div th:if="${#fields.hasErrors('dateConclusion')}" th:errors="*{dateConclusion}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>РС по ДЗ</label>
        <input type="number" step="0.01" required th:field="*{rsDz}" th:value="${costHistoryDto.getRsDz()}"/>
        <div th:if="${#fields.hasErrors('rsDz')}" th:errors="*{rsDz}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ДЗ</label>
        <input type="number" step="0.01"  required th:field="*{zsDz}" th:value="${costHistoryDto.getZsDz()}"/>
        <div th:if="${#fields.hasErrors('zsDz')}" th:errors="*{zsDz}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>РС по ЗЗ</label>
        <input type="number" step="0.01" required th:field="*{rsZz}"/>
        <div th:if="${#fields.hasErrors('rsZz')}" th:errors="*{rsZz}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ЗЗ</label>
        <input type="number" step="0.01" required th:field="*{zsZz}"/>
        <div th:if="${#fields.hasErrors('zsZz')}" th:errors="*{zsZz}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>СС</label>
        <input type="number" step="0.01" required th:field="*{ss}"/>
        <div th:if="${#fields.hasErrors('ss')}" th:errors="*{ss}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Оценщик</label>
        <input th:field="*{appraiser}" type="text"/>
        <div th:if="${#fields.hasErrors('appraiser')}" th:errors="*{appraiser}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>№ отчета об оценке</label>
        <input th:field="*{appraisalReportNum}" type="text"/>
        <div th:if="${#fields.hasErrors('appraisalReportNum')}" th:errors="*{appraisalReportNum}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Дата отчета об оценке</label>
        <input th:field="*{appraisalReportDate}" type="date"/>
        <div th:if="${#fields.hasErrors('appraisalReportDate')}" th:errors="*{appraisalReportDate}">Name Error</div>
    </div>
    <br>
    <button type="submit">Обновить</button>
</form>
</body>
</html>