<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whereUpdateMonitoring}">
        <div th:case="pa">
            <title th:text="'Обновление мониторинга предметов в договоре залога №' + ${pledgeAgreement.getNumPA()}">Обновление мониторинга</title>
        </div>
        <div th:case="ps">
            <title th:text="'Обновление мониторинга предмета залога: ' + ${pledgeSubject.getName()}">Обновление мониторинга</title>
        </div>
        <div th:case="pledgor">
            <title th:text="'Обновление мониторинга предмета залога по залогодателю: '
                    + ${client.getFullName()}">Обновление мониторинга предмета залога по залогодателю</title>
        </div>
        <div th:case="*">
            <title>Обновление мониторинга</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<div th:switch="${whereUpdateMonitoring}">
    <div th:case="pa">
        <h1 th:text="'Обновление мониторинга предметов в договоре залога №' + ${pledgeAgreement.getNumPA()}">Обновление мониторинга</h1>
    </div>
    <div th:case="ps">
        <h1 th:text="'Обновление мониторинга предмета залога:' + ${pledgeSubject.getName()}">Обновление мониторинга</h1>
    </div>
    <div th:case="pledgor">
        <h1 th:text="'Обновление мониторинга предмета залога по залогодателю: '
             + ${client.getFullName()}">Обновление мониторинга предмета залога по залогодателю ЮЛ</h1>
    </div>
    <div th:case="*">
        <h1>Обновление мониторинга</h1>
    </div>
</div>

<form th:action="@{/monitoring/insert}" th:method="post" th:object="${monitoringDto}" action="card.html">
    <div th:switch="${whereUpdateMonitoring}">
        <div th:case="pa">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreement.getPledgeAgreementId()}" value="0">
        </div>
        <div th:case="ps">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgeSubjectId" th:value="${pledgeSubject.getPledgeSubjectId()}" value="0">
        </div>
        <div th:case="pledgor">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgorId" th:value="${client.getClientId()}" value="0">
        </div>
    </div>


    <div class="row">
        <label>Дата мониторинга</label>
        <input required th:field="*{dateMonitoring}" type="date"/>
        <div th:if="${#fields.hasErrors('dateMonitoring')}" th:errors="*{dateMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Вид мониторинга</label>
        <select required th:field="*{typeOfMonitoring}">
            <option value="DOCUMENTARY">документарный</option>
            <option value="VISUAL">визуальный</option>
        </select>
        <div th:if="${#fields.hasErrors('typeOfMonitoring')}" th:errors="*{typeOfMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Результат мониторинга</label>
        <select required th:field="*{statusMonitoring}">
            <option value="IN_STOCK">в наличии</option>
            <option value="LOSING">утрата</option>
            <option value="PARTIAL_LOSS">частичная утрата</option>
        </select>
        <div th:if="${#fields.hasErrors('statusMonitoring')}" th:errors="*{statusMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Ответственный сотрудник</label>
        <input required th:field="*{employee}" type="text"/>
        <div th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость (в случаи утраты)</label>
        <input type="number" min="0" step="0.01" th:field="*{collateralValue}"/>
        <div th:if="${#fields.hasErrors('collateralValue')}" th:errors="*{collateralValue}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Комментарии</label>
        <input th:field="*{notice}" type="text"/>
        <div th:if="${#fields.hasErrors('notice')}" th:errors="*{notice}">Name Error</div>
    </div>
    <br>
    <button type="submit">Обновить</button>
</form>


<div th:if="${whereUpdateMonitoring} eq 'responseSuccessClient'">
    <h3 th:text="${'Обновлено ' + countMonitoring + ' предметов залога у Залогодателя ' + client.getFullName()}">Обновлены предметы</h3>
    <a th:href="@{/client/detail(clientId=${client.getClientId()})}" href="../client/detail.html"
       th:text="'Перейти к клиенту'"></a>
</div>
<div th:if="${whereUpdateMonitoring} eq 'responseSuccessPledgeAgreement'">
    <h3 th:text="${'Обновлено ' + countMonitoring + ' предметов залога в договоре залога ' + pledgeAgreement.getNumPA()}">Обновлены предметы</h3>
    <a th:href="@{/pledge_agreement/detail(pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}" href="../pledge_agreement/detail.html"
       th:text="'Перейти к договору'">н/д</a>
</div>
</body>
</html>