<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Мониторинги (' + ${#dates.monthName(#dates.createNow())} + ')'">Мониторинги</title>
    <style type="text/css">
    body {
        padding: 50px;
    }
    .containerTable{
        width: 3000px;
    }
    .customTable, .customTable td {
        border: 1px solid lightgray;
        padding: 5px;
        table-layout: fixed;
    }
    .nav-item{
        display: inline;
    }
</style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:unless="${pledgeAgreementListWithMonitoringNotDone.isEmpty()}" >
    <h1>Предстоящие мониторинги</h1>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithMonitoringNotDone})"></div>
    </div>
</div>
<div th:unless="${pledgeAgreementListWithMonitoringIsDone.isEmpty()}" >
    <h1>Выполненные мониторинги</h1>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithMonitoringIsDone})"></div>
    </div>
</div>
<div th:unless="${pledgeAgreementListWithMonitoringOverdue.isEmpty()}" >
    <h1>Просроченные мониторинги</h1>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithMonitoringOverdue})"></div>
    </div>
</div>


</body>
</html>