<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whatDo}">
        <div th:case="changePA">
            <title th:text="'Обновление данных ДЗ№' + ${pledgeAgreement.getNumPA()}">Обновление данных</title>
        </div>
        <div th:case="newPA">
            <title th:text="'Создание нового ДЗ'">Создание нового ДЗ</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:switch="${whatDo}">
    <div th:case="changePA">
        <form th:action="@{/pledge_agreement/update_insert}" th:method="post" th:object="${pledgeAgreement}" action="card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden", th:field="*{pledgeAgreementId}" th:value="${pledgeAgreement.getPledgeAgreementId()}">
            <input type="hidden" , th:field="*{client}" th:value="${pledgeAgreement.getClient()}">
            <input type="hidden", th:field="*{loanAgreements}" th:value="${pledgeAgreement.getLoanAgreements()}">
            <input type="hidden", th:field="*{pledgeSubjects}" th:value="${pledgeAgreement.getPledgeSubjects()}">

            <div class="row">
                <label>№ ДЗ:</label>
                <input required th:field="*{numPA}" type="text" th:value="${pledgeAgreement.getNumPA()}"/>
                <div th:if="${#fields.hasErrors('numPA')}" th:errors="*{numPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата начала ДЗ</label>
                <input required th:field="*{dateBeginPA}" type="date" th:value="${pledgeAgreement.getDateBeginPA()}"/>
                <div th:if="${#fields.hasErrors('dateBeginPA')}" th:errors="*{dateBeginPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата окончания ДЗ</label>
                <input required th:field="*{dateEndPA}" type="date" th:value="${pledgeAgreement.getDateEndPA()}"/>
                <div th:if="${#fields.hasErrors('dateEndPA')}" th:errors="*{dateEndPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Тип договора</label>
                <select required th:field="*{pervPosl}">
                    <option value="PERV">Первичный</option>
                    <option value="POSL">Последующий</option>
                </select>
                <div th:if="${#fields.hasErrors('pervPosl')}" th:errors="*{pervPosl}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Статус</label>
                <select required th:field="*{statusPA}">
                    <option value="OPEN">открыт</option>
                    <option value="CLOSED">закрыт</option>
                </select>
                <div th:if="${#fields.hasErrors('statusPA')}" th:errors="*{statusPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Комментарии:</label>
                <input th:field="*{noticePA}" type="text" th:value="${pledgeAgreement.getNoticePA()}"/>
                <div th:if="${#fields.hasErrors('noticePA')}" th:errors="*{noticePA}">Name Error</div>
            </div>
            <br>
            <button type="submit">Обновить</button>
        </form>
    </div>
    <div th:case="newPA">
        <form th:action="@{/pledge_agreement/update_insert}" th:method="post" th:object="${pledgeAgreement}" action="card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden" , th:field="*{client}" th:value="${pledgeAgreement.getClient()}">

            <div class="row">
                <label>№ ДЗ:</label>
                <input required th:field="*{numPA}" type="text"/>
                <div th:if="${#fields.hasErrors('numPA')}" th:errors="*{numPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата начала ДЗ</label>
                <input required th:field="*{dateBeginPA}" type="date"/>
                <div th:if="${#fields.hasErrors('dateBeginPA')}" th:errors="*{dateBeginPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата окончания ДЗ</label>
                <input required th:field="*{dateEndPA}" type="date"/>
                <div th:if="${#fields.hasErrors('dateEndPA')}" th:errors="*{dateEndPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Тип договора</label>
                <select required th:field="*{pervPosl}">
                    <option selected value="">не выбрано</option>
                    <option value="PERV">Первичный</option>
                    <option value="POSL">Последующий</option>
                </select>
                <div th:if="${#fields.hasErrors('pervPosl')}" th:errors="*{pervPosl}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Статус</label>
                <select required th:field="*{statusPA}">
                    <option selected value="OPEN">открыт</option>
                    <option value="CLOSED">закрыт</option>
                </select>
                <div th:if="${#fields.hasErrors('statusPA')}" th:errors="*{statusPA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Комментарии:</label>
                <input th:field="*{noticePA}" type="text"/>
                <div th:if="${#fields.hasErrors('noticePA')}" th:errors="*{noticePA}">Name Error</div>
            </div>
            <br>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div th:case="responseSuccess">
        <h3>Успешно добавлен новый договор залога</h3>
        <a th:href="@{/pledge_agreement/detail(pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}" href="detail.html"
           th:text="'подробрее'">н/д</a>
    </div>
    <div th:case="responseError">

    </div>
</div>
</body>
</html>




