<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/scripts.js}" src="/js/testScript.js"></script>
    <meta charset="UTF-8">
    <title th:text="'Договор залога: №' + ${pledgeAgreementDto.getNumPA()}">Договор залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<h1 th:text="'Договор залога: №' + ${pledgeAgreementDto.getNumPA()} + ' от ' + ${#temporals.format(pledgeAgreementDto.getDateBeginPA(), 'dd.MM.yyyy')}">Договор залога</h1>
    <label>Ответственный сотрудник: </label>
    <span th:text="${employeeDto.getFullName()}"></span>
    <br>
    <br>
    <label>Id договора залога:</label>
    <span th:text="${pledgeAgreementDto.getPledgeAgreementId()}"></span>
    <br>
    <br>
    <label>Номер договора залога:</label>
    <span th:text="${pledgeAgreementDto.getNumPA()}">н/д</span>
    <br>
    <br>
    <label>Дата начала ДЗ:</label>
    <span th:text="${#temporals.format(pledgeAgreementDto.getDateBeginPA(), 'dd.MM.yyyy')}">н/д</span>
    <br>
    <br>
    <label>Дата окончания ДЗ:</label>
    <span th:text="${#temporals.format(pledgeAgreementDto.getDateEndPA(), 'dd.MM.yyyy')}">н/д</span>
    <br>
    <br>
    <label>Залогодатель:</label>
    <a th:href="@{/client/detail(clientId=${pledgeAgreementDto.getClientId()})}" href="../client/detail.html"
       th:text="${pledgeAgreementDto.getClientName()}">Залогодатель</a>
    <br>
    <br>
    <label>Тип договора:</label>
    <div th:switch="${pledgeAgreementDto.getPervPosl().name()}">
        <div th:case="PERV">Первичный</div>
        <div th:case="POSL">Последующий</div>
    </div>
    <br>
    <br>

    <label>Вид залогового обеспечения:</label>
    <div th:each="typeOfCollateral : ${pledgeAgreementDto.getTypesOfCollateral()}">
        <ul>
            <li th:text="${typeOfCollateral}">н/д</li>
        </ul>
    </div>
    <br>
    <br>
    <label>Количество предметов залога:</label>
    <span th:text="${pledgeAgreementDto.getPledgeSubjectsIds().size()}">н/д</span>
    <a th:href="@{/pledge_agreement/pledge_subjects(pledgeAgreementId=${pledgeAgreementDto.getPledgeAgreementId()})}"
       href="pledge_agreement/pledge_subjects.html"
       th:text="подробнее">подробнее</a>
    <br>
    <br>
    <label>Рыночная стоимость по ДЗ:</label>
    <span th:text="${#numbers.formatCurrency(pledgeAgreementDto.getRsDz())}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(pledgeAgreementDto.getZsDz())}">0.00</span>
    <br>
    <br>
    <label>Рыночная стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(pledgeAgreementDto.getRsZz())}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(pledgeAgreementDto.getZsZz())}">0.00</span>
    <br>
    <br>
    <label>Справедливая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(pledgeAgreementDto.getSs())}">0.00</span>
    <br>
    <br>
    <label>Статус:</label>
    <span th:text="${pledgeAgreementDto.getStatusPA().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Комментарии:</label>
    <span th:text="${pledgeAgreementDto.getNoticePA()}">н/д</span>
    <br>
    <br>
    <div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
        <a th:href="@{/pledge_agreement/card(whatDo='changePA', pledgeAgreementId=${pledgeAgreementDto.getPledgeAgreementId()})}"
           href="card.html"
           th:text="'Изменить данные'">Изменить данные</a>
        <br>
        <br>
    </div>
    <div th:if="${currentLoanAgreementDtoList.size() &gt; 0}">
        <label>Действующие кредитные договоры:</label>
        <div class="containerTable">
            <div th:replace="fragments/table_loan_agreements :: loanAgreementTable(${currentLoanAgreementDtoList})"></div>
        </div>
    </div>

    <div th:if="${closedLoanAgreementDtoList.size() &gt; 0}">
        <label>Закрытые кредитные договоры:</label>
        <div class="containerTable">
            <div th:replace="fragments/table_loan_agreements :: loanAgreementTable(${closedLoanAgreementDtoList})"></div>
        </div>
    </div>





</body>

</html>