<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:switch="${pervPosl}">
        <div th:case="перв">
            <title>Договоры залога на сопровождении (первичные):</title>
        </div>
        <div th:case="посл">
            <title>Договоры залога на сопровождении (последующие):</title>
        </div>
        <div th:case="*">
            <title>Договоры залога на сопровождении (все):</title>
        </div>
    </div>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>


<div th:switch="${pervPosl}">
    <div th:case="перв">
        <h1>Договоры залога на сопровождении (первичные):</h1>
    </div>
    <div th:case="посл">
        <h1>Договоры залога на сопровождении (последующие):</h1>
    </div>
    <div th:case="*">
        <h1>Договоры залога на сопровождении (все):</h1>
    </div>
</div>
<div class="containerTable">
    <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementList})"></div>

    <div th:if="${pledgeAgreementList.totalPages > 1}" >
        <span th:text="'Страница: '"></span>
        <div th:if="${pervPosl == 'перв' || pervPosl == 'посл'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1, employeeId=${employeeId}, pervPosl=${pervPosl})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
        <div th:unless="${pervPosl == 'PERV' || pervPosl == 'POSL'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1, employeeId=${employeeId})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
</div>
</div>
</body>
</html>