<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
        <div th:switch="${pervPosl}">
            <div th:case="перв">
                <title>Договоры залога на сопровождении (первичные):</title>
            </div>
            <div th:case="посл">
                <title>Договоры залога на сопровождении (последующие):</title>
            </div>
            <div th:case="*">
                <title>Договоры залога на сопровождении (все):</title>
            </div>
        </div>
    </div>
    <div sec:authorize="hasAnyRole('GUEST', 'ADMIN')">
        <div th:switch="${pervPosl}">
            <div th:case="перв">
                <title>Договоры залога (первичные):</title>
            </div>
            <div th:case="посл">
                <title>Договоры залога (последующие):</title>
            </div>
            <div th:case="*">
                <title>Договоры залога (все):</title>
            </div>
        </div>
    </div>

    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:switch="${pervPosl}">
        <div th:case="перв">
            <h1>Договоры залога на сопровождении (первичные):</h1>
        </div>
        <div th:case="посл">
            <h1>Договоры залога на сопровождении (последующие):</h1>
        </div>
        <div th:case="*">
            <h1>Договоры залога на сопровождении (все):</h1>
        </div>
    </div>
</div>
<div sec:authorize="hasAnyRole('GUEST', 'ADMIN')">
    <div th:switch="${pervPosl}">
        <div th:case="перв">
            <h1>Договоры залога (первичные):</h1>
        </div>
        <div th:case="посл">
            <h1>Договоры залога (последующие):</h1>
        </div>
        <div th:case="*">
            <h1>Договоры залога (все):</h1>
        </div>
    </div>
</div>


<div class="containerTable">
    <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementList})"></div>
</div>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:if="${pledgeAgreementList.totalPages > 1}" >
        <span th:text="'Страница: '"></span>
        <div th:if="${pervPosl == 'PERV' || pervPosl == 'POSL'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1, employeeId=${employeeId}, pervPosl=${pervPosl})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
        <div th:unless="${pervPosl == 'PERV' || pervPosl == 'POSL'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1, employeeId=${employeeId})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
    </div>
</div>
<div sec:authorize="hasAnyRole('GUEST', 'ADMIN')">
    <div th:if="${pledgeAgreementList.totalPages > 1}" >
        <span th:text="'Страница: '"></span>
        <div th:if="${pervPosl == 'PERV' || pervPosl == 'POSL'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1, pervPosl=${pervPosl})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
        <div th:unless="${pervPosl == 'PERV' || pervPosl == 'POSL'}">
            <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
                <a th:href="@{/pledge_agreement/pledge_agreements(size=${pledgeAgreementList.size}, page=${pageNumber}-1)}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pledgeAgreementList.number + 1} ? active"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>