<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whatDo}">
        <div th:case="updateClient">
            <title th:text="'Изменить данные клиента ' + ${clientDto.getFullName()}">Изменить данные клиента</title>
        </div>
        <div th:case="insertClient">
            <title th:text="'Создание нового клиента'">Создание нового клиента</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<div th:switch="${whatDo}">
    <div th:case="updateClient">
        <form th:action="@{/client/update_insert}" th:method="post" th:object="${clientDto}" action="client/card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden", th:field="*{clientId}" th:value="${clientDto.getClientId()}">
            <input type="hidden", th:field="*{loanAgreementsIds}" th:value="${clientDto.getLoanAgreementsIds()}">
            <input type="hidden", th:field="*{pledgeAgreementsIds}" th:value="${clientDto.getPledgeAgreementsIds()}">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientDto.typeOfClient}">

            <div th:replace="fragments/client_forms :: generalProperty(${clientDto}, ${employeeDtoList}, ${clientManagerDtoList})"></div>
            <br>

            <div th:switch="${clientDto.getTypeOfClient().name()}">
                <div th:case="LEGAL_ENTITY">
                    <div th:replace="fragments/client_forms :: legalEntitylProperty(${clientDto.getClientLegalEntityDto()})"></div>
                </div>
                <div th:case="INDIVIDUAL">
                    <div th:replace="fragments/client_forms :: individualProperty(${clientDto.getClientIndividualDto()})"></div>
                </div>
            </div>

            <br>
            <button type="submit">Обновить</button>
        </form>
    </div>
    <div th:case="insertClient">
        <form th:action="@{/client/update_insert}" th:method="post" th:object="${clientDto}" action="client/card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientDto.typeOfClient}">

            <div th:replace="fragments/client_forms :: generalProperty(${clientDto}, ${employeeDtoList}, ${clientManagerDtoList})"></div>
            <br>

            <div th:switch="${clientDto.getTypeOfClient().name()}">
                <div th:case="LEGAL_ENTITY">
                    <div th:replace="fragments/client_forms :: legalEntitylProperty(${clientDto.getClientLegalEntityDto()})"></div>
                </div>
                <div th:case="INDIVIDUAL">
                    <div th:replace="fragments/client_forms :: individualProperty(${clientDto.getClientIndividualDto()})"></div>
                </div>
            </div>

            <br>
            <button type="submit">Создать</button>
        </form>
    </div>
</div>

</body>
</html>