<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Создание нового клиента'">Создание нового КД</title>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:switch="${typeOfClient.name()}">
    <div th:case="LEGAL_ENTITY">
        <form th:action="@{/client/insert_client_le}" th:method="post" th:object="${clientLegalEntityDto}" action="client/card_new.html">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientLegalEntityDto.typeOfClient}">
            <div th:replace="fragments/client_forms :: generalProperty(${clientLegalEntityDto}, ${employeeList}, ${clientManagerList})"></div>
            <br>
            <div th:replace="fragments/client_forms :: legalEntitylProperty(${clientLegalEntityDto})"></div>
            <br>
            <button type="submit">Обновить</button>
        </form>
    </div>
    <div th:case="INDIVIDUAL">
        <form th:action="@{/client/insert_client_ind}" th:method="post" th:object="${clientIndividualDto}" action="client/card_new.html">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientIndividualDto.typeOfClient}">
            <div th:replace="fragments/client_forms :: generalProperty(${clientIndividualDto}, ${employeeList}, ${clientManagerList})"></div>
            <br>
            <div th:replace="fragments/client_forms :: individualProperty(${clientIndividualDto})"></div>
            <br>
            <button type="submit">Обновить</button>
        </form>
    </div>
</div>
</body>
</html>