<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<h1 th:text="'Клиент: ' + ${clientDto.getFullName()}">Клиент ЮЛ</h1>
<div th:switch="${clientDto.getTypeOfClient().name()}">
    <div th:case="LEGAL_ENTITY">
        <label>ИНН:</label>
        <span th:text="${clientDto.getClientLegalEntityDto().getInn()}"></span>
    </div>
    <div th:case="INDIVIDUAL">
        <label>Паспорт:</label>
        <span th:text="${clientDto.getClientIndividualDto().getPasportNum()}"></span>
    </div>
</div>
<br>

<label>Ответственный сотрудник: </label>
<span th:text="${employeeDto.getFullName()}"></span>
<br>
<br>
<label>Клиентский менеджер: </label>
<span th:text="${clientManagerDto.getFullName()}"></span>
<br>
<br>
<label>Id клиента:</label>
<span th:text="${clientDto.getClientId()}"></span>
<br>
<br>
<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <a th:href="@{/client/card(clientId=${clientDto.getClientId()}, whatDo='updateClient')}"
       href="client/card.html"
       th:text="'Изменить данные клиента'">Изменить данные клиента</a>
    <br>
    <br>
    <a th:href="@{/pledge_agreement/card(whatDo='newPA', clientId=${clientDto.getClientId()})}"
       href="../pledge_agreement/card.html"
       th:text="'Добавить новый договор залога'">Добавить новый договор залога</a>
    <br>
    <br>
    <a th:href="@{/loan_agreement/card(whatDo='newLA', clientId=${clientDto.getClientId()})}"
       href="../loan_agreement/card.html"
       th:text="'Добавить новый кредитный договор'">Добавить новый кредитный договор</a>
    <br>
    <br>
</div>

<div th:if="${pledgeAgreementCurrentList.size() &gt; 0}">
    <div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
        <a th:href="@{/monitoring/card(whereUpdateMonitoring='pledgor', pledgorId=${clientDto.getClientId()})}"
           href="../monitoring/card.html"
           th:text="'Обновить мониторинг предметов залога по всем договорам залога залогодателя'">Обновить мониторинг предметов залога по всем договорам залога залогодателя</a>
        <br>
        <br>
    </div>

    <h2>Действующее договоры залога</h2>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementCurrentList})"></div>
    </div>
    <br>
    <br>
</div>

<div th:if="${pledgeAgreementClosedList.size() &gt; 0}">
    <h2>Закрытые договоры залога</h2>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementClosedList})"></div>
    </div>
    <br>
    <br>
</div>


<div th:if="${loanAgreementCurrentList.size() &gt; 0}">
    <h2>Действующее кредитные договоры</h2>
    <div class="containerTable">
        <div th:replace="fragments/table_loan_agreements :: loanAgreementTable(${loanAgreementCurrentList})"></div>
    </div>
    <br>
    <br>
</div>
<div th:if="${loanAgreementClosedList.size() &gt; 0}">
    <h2>Закрытые кредитные договоры</h2>
    <div class="containerTable">
        <div th:replace="fragments/table_loan_agreements :: loanAgreementTable(${loanAgreementClosedList})"></div>
    </div>
    <br>
    <br>
</div>

</body>
</html>