<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="generalProperty(client, employeeList, clientManagerList)">
    <div class="row">
        <label>Ответственный сотрудник</label>
        <select required th:field="*{employeeId}">
            <div th:each="emp : ${employeeList}">
                <option th:value="${emp.getEmployeeId()}" th:text="${emp.getFullName()}"></option>
            </div>
        </select>
        <div th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Клиентский менеджер</label>
        <select required th:field="*{clientManagerId}">
            <div th:each="cm : ${clientManagerList}">
                <option th:value="${cm.clientManagerId}" th:text="${cm.getFullName()}"></option>
            </div>
        </select>
        <div th:if="${#fields.hasErrors('clientManagerId')}" th:errors="*{clientManagerId}">Name Error</div>
    </div>
</div>


<div th:fragment="legalEntitylProperty(client)">
    <div class="row">
        <label>Правовая форма</label>
        <input required th:field="*{clientLegalEntityDto.organizationalForm}" type="text" th:value="${client.getOrganizationalForm()}"/>
        <div th:if="${#fields.hasErrors('clientLegalEntityDto.organizationalForm')}" th:errors="*{clientLegalEntityDto.organizationalForm}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Наименование</label>
        <input required th:field="*{clientLegalEntityDto.name}" type="text" th:value="${client.getName()}"/>
        <div th:if="${#fields.hasErrors('clientLegalEntityDto.name')}" th:errors="*{clientLegalEntityDto.name}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>ИНН</label>
        <input th:field="*{clientLegalEntityDto.inn}" type="text" th:value="${client.getInn()}"/>
        <div th:if="${#fields.hasErrors('clientLegalEntityDto.inn')}" th:errors="*{clientLegalEntityDto.inn}">Name Error</div>
    </div>
</div>


<div th:fragment="individualProperty(client)">
    <div class="row">
        <label>Фамилия</label>
        <input required th:field="*{clientIndividualDto.surname}" type="text" th:value="${client.getSurname()}"/>
        <div th:if="${#fields.hasErrors('clientIndividualDto.surname')}" th:errors="*{clientIndividualDto.surname}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Имя</label>
        <input required th:field="*{clientIndividualDto.name}" type="text" th:value="${client.getName()}"/>
        <div th:if="${#fields.hasErrors('clientIndividualDto.name')}" th:errors="*{clientIndividualDto.name}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Отчество</label>
        <input th:field="*{clientIndividualDto.patronymic}" type="text" th:value="${client.getPatronymic()}"/>
        <div th:if="${#fields.hasErrors('clientIndividualDto.patronymic')}" th:errors="*{clientIndividualDto.patronymic}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>№ паспорта</label>
        <input th:field="*{clientIndividualDto.pasportNum}" type="text" th:value="${client.getPasportNum()}"/>
        <div th:if="${#fields.hasErrors('clientIndividualDto.pasportNum')}" th:errors="*{clientIndividualDto.pasportNum}">Name Error</div>
    </div>
</div>


</body>
</html>