<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="clietTable (clientList)">
    <table class="customTable">
        <thead>
        <tr>
            <th>№п/п</th>
            <th>Наименование</th>
            <th>Тип клиента</th>
            <th>ИНН/Паспорт</th>
            <th>Ответственный сотрудник</th>
            <th>Клиентский менеджер</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="client : ${clientList}">
            <tr>
                <td th:text="${clientStat.count}"></td>

                <td>
                    <a th:href="@{/client(clientId=${client.getClientId()})}" href="client.html"
                       th:text="${@clientService.getFullNameClient(client.getClientId())}">Клиент</a>
                </td>

                <td th:text="${client.getTypeOfClient()}"></td>

                <td>
                    <div th:switch="${client.getTypeOfClient()}">
                        <div th:case="юл">
                            <span th:text="${client.getClientLegalEntity().getInn()}"></span>
                        </div>
                        <div th:case="фл">
                            <span th:text="${client.getClientIndividual().getPasportNum()}"></span>
                        </div>
                    </div>
                </td>
                <td th:text="${client.getEmployee().getSurname()} + ' ' + ${client.getEmployee().name}">н/д</td>

                <td th:text="${client.getClientManager().getSurname() + ' ' + client.getClientManager().getName()}">н/д</td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>