<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/scripts.js}" src="/js/testScript.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="pledgeSubjectTable (pledgeSubjectList)">
    <table class="customTable">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Наименование</th>
            <th>Вид обеспечения</th>
            <th>ОХП</th>
            <th>Ед.изм</th>
            <th>ОИП</th>
            <th>Вид ОИП</th>
            <th>Адрес</th>
            <th>РС ДЗ</th>
            <th>ЗС ДЗ</th>
            <th>РС ЗЗ</th>
            <th>ЗС ЗЗ</th>
            <th>СС</th>
            <th>Дата ЗЗ</th>
            <th>Дата Мониторинга</th>
            <th>Вид мониторинга</th>
            <th>Результат мониторинга</th>
            <th>Ликвидность</th>
            <th>Функция залога</th>
            <th>Обязательство страхования</th>
            <th>Наличие обременений</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="ps, stat : ${pledgeSubjectList}">
            <tr>
                <td th:text="${stat.count}"></td>
                <td>
                    <a th:href="@{/pledge_subject/detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../pledge_subject/detail.html" th:text="${ps.getName()}">наименование</a>
                </td>

                <td th:text="${ps.getTypeOfCollateral().getTranslate()}">н/д</td>

                <td th:text="${ps.getMainCharacteristic().getName()}">0.00</td>

                <td th:text="${ps.getMainCharacteristic().getTypeOfMainCharacteristic()}">-</td>

                <td th:text="${ps.getPrimaryIdentifier().getName()}">0.00</td>

                <td th:text="${ps.getPrimaryIdentifier().getTypeOfPrimaryIdentifier()}">-</td>

                <td th:text="${ps.getFullAddress()}">н/д</td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getRsDz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getZsDz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getRsZz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getZsZz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getSs())}">н/д</a>
                </td>

                <td th:text="${#temporals.format(ps.getDateConclusion(), 'dd.MM.yyyy')}"></td>

                <td>
                    <a th:href="@{/monitoring/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../monitoring/pledge_subject.html"
                       th:text="${#temporals.format(ps.getDateMonitoring(), 'dd.MM.yyyy')}">н/д</a>
                </td>

                <td th:text="${ps.getTypeOfMonitoring().getTranslate()}"></td>

                <td th:text="${ps.getStatusMonitoring().getTranslate()}"></td>

                <td th:text="${ps.getLiquidity().getTranslate()}"></td>

                <td th:text="${ps.getTypeOfPledge().getTranslate()}"></td>

                <div th:switch="${ps.getInsuranceObligation()}">
                    <div th:case="да">
                        <td>
                            <a th:href="@{/insurance/insurances(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../insurance/insurances.html" th:text="да">да</a>
                        </td>
                    </div>
                    <div th:case="нет">
                        <td>нет</td>
                    </div>
                </div>
                <td>
                    <a th:href="@{/encumbrance/encumbrances(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../encumbrance/encumbrances.html" th:text="подробнее">подробнее</a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>


<div th:fragment="pledgeSubjectTableWithDelete (pledgeSubjectList, pledgeAgreementId)">
    <table class="customTable">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Наименование</th>
            <th>Вид обеспечения</th>
            <th>ОХП</th>
            <th>Ед.изм</th>
            <th>ОИП</th>
            <th>Вид ОИП</th>
            <th>Адрес</th>
            <th>РС ДЗ</th>
            <th>ЗС ДЗ</th>
            <th>РС ЗЗ</th>
            <th>ЗС ЗЗ</th>
            <th>СС</th>
            <th>Дата ЗЗ</th>
            <th>Дата Мониторинга</th>
            <th>Вид мониторинга</th>
            <th>Результат мониторинга</th>
            <th>Ликвидность</th>
            <th>Функция залога</th>
            <th>Обязательство страхования</th>
            <th>Наличие обременений</th>
            <th>Вывести из под залога</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="ps, stat : ${pledgeSubjectList}">
            <tr>
                <td th:text="${stat.count}"></td>
                <td>
                    <a th:href="@{/pledge_subject/detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../pledge_subject/detail.html" th:text="${ps.getName()}">наименование</a>
                </td>

                <td th:text="${ps.getTypeOfCollateral().getTranslate()}">н/д</td>

                <td th:text="${ps.getMainCharacteristic().getName()}">0.00</td>

                <td th:text="${ps.getMainCharacteristic().getTypeOfMainCharacteristic()}">-</td>

                <td th:text="${ps.getPrimaryIdentifier().getName()}">0.00</td>

                <td th:text="${ps.getPrimaryIdentifier().getTypeOfPrimaryIdentifier()}">-</td>

                <td th:text="${ps.getFullAddress()}">н/д</td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getRsDz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getZsDz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getRsZz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getZsZz())}">н/д</a>
                </td>

                <td>
                    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
                       th:text="${#numbers.formatCurrency(ps.getSs())}">н/д</a>
                </td>

                <td th:text="${#temporals.format(ps.getDateConclusion(), 'dd.MM.yyyy')}"></td>

                <td>
                    <a th:href="@{/monitoring/pledge_subject(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../monitoring/pledge_subject.html"
                       th:text="${#temporals.format(ps.getDateMonitoring(), 'dd.MM.yyyy')}">н/д</a>
                </td>

                <td th:text="${ps.getTypeOfMonitoring().getTranslate()}"></td>

                <td th:text="${ps.getStatusMonitoring().getTranslate()}"></td>

                <td th:text="${ps.getLiquidity().getTranslate()}"></td>

                <td th:text="${ps.getTypeOfPledge().getTranslate()}"></td>

                <div th:switch="${ps.getInsuranceObligation()}">
                    <div th:case="да">
                        <td>
                            <a th:href="@{/insurance/insurances(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../insurance/insurances.html" th:text="да">да</a>
                        </td>
                    </div>
                    <div th:case="нет">
                        <td>нет</td>
                    </div>
                </div>

                <td>
                    <a th:href="@{/encumbrance/encumbrances(pledgeSubjectId=${ps.getPledgeSubjectId()})}" href="../encumbrance/encumbrances.html" th:text="подробнее">подробнее</a>
                </td>

                <td>
                    <!--<a href="#" onclick="withdrawFromDepositPledgeSubject([[${ps.getPledgeSubjectId()}]], [[${pledgeAgreementId}]])">Вывести из под залога</a>-->
                    <a href="#" th:onclick="'javascript:withdrawFromDepositPledgeSubject(\'' + ${ps.getPledgeSubjectId()} + '\', \'' + ${pledgeAgreementId} + '\');'">Вывести из под залога</a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>


</body>
</html>