<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="loanAgreementTable (loanAgreementList)">
    <table class="customTable">
        <thead>
        <tr>
            <th>№п/п</th>
            <th>№КД</th>
            <th>Заемщик</th>
            <th>Дата начала КД</th>
            <th>Дата окончания КД</th>
            <th>Сумма договора</th>
            <th>%</th>
            <th>Задолженность</th>
            <th>ПФО</th>
            <th>Кат.кач.</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="la, countStat: ${loanAgreementList}">
            <tr>
                <td th:text="${countStat.index + 1}"></td>
                <td>
                    <a th:href="@{/loan_agreement/detail(loanAgreementId=${la.getLoanAgreementId()})}" href="../loan_agreement/detail.html"
                       th:text="${la.getNumLA()}">№ КД</a>
                </td>
                <td>
                    <a th:href="@{/client/detail(clientId=${la.getClientId()})}" href="../client/detail.html"
                       th:text="${la.getClientName()}"></a>
                </td>
                <td th:text="${#dates.format(la.getDateBeginLA(), 'dd.MM.yyyy')}">н/д</td>
                <td th:text="${#dates.format(la.getDateEndLA(), 'dd.MM.yyyy')}">н/д</td>
                <td th:text="${#numbers.formatCurrency(la.getAmountLA())}">н/д</td>
                <td th:text="${#numbers.formatPercent(la.getInterestRateLA(), 0, 1)}">н/д</td>
                <td th:text="${#numbers.formatCurrency(la.getDebtLA())}">н/д</td>
                <td th:text="${la.getPfo()}">н/д</td>
                <td th:text="${la.getQualityCategory()}">н/д</td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>