<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="pledgeAgreementTable (pledgeAgreementList)">
    <table class="customTable">
        <thead>
        <tr>
            <th>№п/п</th>
            <th>№ДЗ</th>
            <th>Дата начала ДЗ</th>
            <th>Дата окончания ДЗ</th>
            <th>Залогодатель</th>
            <th>Описание предметов залога</th>
            <th>Количество предметов залога</th>
            <th>Вид обеспечения</th>
            <th>РС ДЗ</th>
            <th>ЗС ДЗ</th>
            <th>РС ЗЗ</th>
            <th>ЗС ЗЗ</th>
            <th>СС</th>
            <th>Дата ЗЗ</th>
            <th>Дата мониторинга</th>
            <th>Рузультат мониторинга</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="pa : ${pledgeAgreementList}">
            <td th:text="${paStat.count}"></td>
            <td>
                <a th:href="@{/pledge_agreement/detail(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="../pledge_agreement/detail.html"
                   th:text="${pa.getNumPA()}">н/д</a>
            </td>

            <td th:text="${#dates.format(pa.getDateBeginPA(), 'dd.MM.yyyy')}"></td>

            <td th:text="${#dates.format(pa.getDateEndPA(), 'dd.MM.yyyy')}"></td>

            <td>
                <a th:href="@{/client/detail(clientId=${pa.getClient().getClientId()})}" href="../client/detail.html"
                   th:text="${@clientService.getFullNameClient(pa.getClient())}"></a>
            </td>

            <td>
                <ol>
                    <div th:unless="${pa.getPledgeSubjects()==null}">
                        <div th:if="${pa.getPledgeSubjects().size() &gt; 5}">
                            <div th:each="ps, countStat: ${pa.getPledgeSubjects()}">
                                <div th:if="${countStat.index &lt; 5}" th:remove="tag">
                                    <li>
                                        <a th:href="@{/pledge_subject/detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                           href="../pledge_subject/detail.html" th:text="${ps.getName()}">наименование</a>
                                    </li>
                                </div>
                            </div>
                            <span>...</span>
                        </div>
                        <div th:unless="${pa.getPledgeSubjects().size() &gt; 5}">
                            <div th:each="ps : ${pa.getPledgeSubjects()}">
                                <li>
                                    <a th:href="@{/pledge_subject/detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                       href="../pledge_subject/detail.html" th:text="${ps.getName()}">наименование</a>
                                </li>
                            </div>
                        </div>
                    </div>

                </ol>
                <a th:href="@{/pledge_agreement/pledge_subjects(pledgeAgreementId=${pa.getPledgeAgreementId()})}"
                   th:unless="${#lists.isEmpty(pa.getPledgeSubjects())}"
                   href="..pledge_agreement/pledge_subjects.html">подробнее</a>
            </td>

            <td>
                <div th:unless="${pa.getPledgeSubjects()== null}" th:text="${pa.getPledgeSubjects().size()}"></div>
            </td>

            <td>
                <div th:each="typeOfCollateral : ${@pledgeAgreementService.getTypeOfCollateral(pa)}" th:text="${typeOfCollateral}"></div>
            </td>

            <td th:text="${#numbers.formatCurrency(pa.getRsDz())}">0.00</td>

            <td th:text="${#numbers.formatCurrency(pa.getZsDz())}">0.00</td>

            <td th:text="${#numbers.formatCurrency(pa.getRsZz())}">0.00</td>

            <td th:text="${#numbers.formatCurrency(pa.getZsZz())}">0.00</td>

            <td th:text="${#numbers.formatCurrency(pa.getSs())}">0.00</td>

            <td>
                <div th:each="dateOfConclusion : ${@pledgeAgreementService.getDatesOfConclusion(pa)}">
                    <span th:text="${#dates.format(dateOfConclusion, 'dd.MM.yyyy')}">н/д</span>
                </div>
            </td>

            <td>
                <div th:each="dateOfMonitoring : ${@pledgeAgreementService.getDatesOfMonitoring(pa)}">
                    <span th:text="${#dates.format(dateOfMonitoring, 'dd.MM.yyyy')}">н/д</span>
                </div>
            </td>

            <td>
                <div th:each="resultsOfMonitoring : ${@pledgeAgreementService.getResultsOfMonitoring(pa)}">
                    <span th:text="${resultsOfMonitoring}">н/д</span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>