<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/scripts.js}" src="/js/testScript.js"></script>
    <meta charset="UTF-8">
    <title th:text="'Обновление данные предмета залога: '">Обновление данные предмета залога</title>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<form th:action="@{/pledge_subject/update_pledge_subject}" th:method="post" th:object="${pledgeSubjectDto}" action="card_update.html">
    <input type="hidden", th:field="*{pledgeSubjectId}" th:value="${pledgeSubjectDto.getPledgeSubjectId()}">
    <input type="hidden", th:field="*{zsDz}" th:value="${pledgeSubjectDto.getZsDz()}">
    <input type="hidden", th:field="*{zsZz}" th:value="${pledgeSubjectDto.getZsZz()}">
    <input type="hidden", th:field="*{rsDz}" th:value="${pledgeSubjectDto.getRsDz()}">
    <input type="hidden", th:field="*{rsZz}" th:value="${pledgeSubjectDto.getRsZz()}">
    <input type="hidden", th:field="*{ss}" th:value="${pledgeSubjectDto.getSs()}">
    <input type="hidden", th:field="*{dateMonitoring}" th:value="${pledgeSubjectDto.getDateMonitoring()}">
    <input type="hidden", th:field="*{dateConclusion}" th:value="${pledgeSubjectDto.getDateConclusion()}">
    <input type="hidden", th:field="*{statusMonitoring}" th:value="${pledgeSubjectDto.getStatusMonitoring()}">
    <input type="hidden", th:field="*{typeOfMonitoring}" th:value="${pledgeSubjectDto.getTypeOfMonitoring()}">
    <input type="hidden", th:field="*{pledgeAgreementsIds}" th:value="${pledgeSubjectDto.getPledgeAgreementsIds()}">
    <input type="hidden", th:field="*{costHistoriesIds}" th:value="${pledgeSubjectDto.getCostHistoriesIds()}">
    <input type="hidden", th:field="*{monitoringIds}" th:value="${pledgeSubjectDto.getMonitoringIds()}">
    <input type="hidden", th:field="*{encumbrancesIds}" th:value="${pledgeSubjectDto.getEncumbrancesIds()}">
    <input type="hidden", th:field="*{insurancesIds}" th:value="${pledgeSubjectDto.getInsurancesIds()}">
    <input type="hidden", th:field="*{typeOfCollateral}" th:value="${pledgeSubjectDto.getTypeOfCollateral()}">

    <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectDto})"></div>
    <br>

    <div th:switch="${pledgeSubjectDto.getTypeOfCollateral().name()}">
        <div th:case="AUTO">
            <div th:replace="fragments/pledge_subject_forms :: autoProperty(${pledgeSubjectDto.getPledgeSubjectAutoDto()})"></div>
        </div>
        <div th:case="EQUIPMENT">
            <div th:replace="fragments/pledge_subject_forms :: equipmentProperty(${pledgeSubjectDto.getPledgeSubjectEquipmentDto()})"></div>
        </div>
        <div th:case="SECURITIES">
            <div th:replace="fragments/pledge_subject_forms :: securitiesProperty(${pledgeSubjectDto.getPledgeSubjectSecuritiesDto()})"></div>
        </div>
        <div th:case="VESSEL">
            <div th:replace="fragments/pledge_subject_forms :: vesselProperty(${pledgeSubjectDto.getPledgeSubjectVesselDto()})"></div>
        </div>
        <div th:case="TBO">
            <div th:replace="fragments/pledge_subject_forms :: tboProperty(${pledgeSubjectDto.getPledgeSubjectTboDto()})"></div>
        </div>
        <div th:case="LAND_OWNERSHIP">
            <div th:replace="fragments/pledge_subject_forms :: landOwnshipProperty(${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto()})"></div>
        </div>
        <div th:case="LAND_LEASE">
            <div th:replace="fragments/pledge_subject_forms :: landLeaseProperty(${pledgeSubjectDto.getPledgeSubjectLandLeaseDto()})"></div>
        </div>
        <div th:case="BUILDING">
            <div th:replace="fragments/pledge_subject_forms :: buildingProperty(${pledgeSubjectDto.getPledgeSubjectBuildingDto()})"></div>
        </div>
        <div th:case="PREMISE">
            <div th:replace="fragments/pledge_subject_forms :: roomProperty(${pledgeSubjectDto.getPledgeSubjectRoomDto()})"></div>
        </div>
    </div>


    <br>
    <button type="submit">Обновить</button>
</form>

</body>
</html>