<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Создание нового предмета залога'">Создание нового предмета залога</title>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:switch="${typeOfCollateral.name()}">
    <div th:case="AUTO">
        <form th:action="@{/pledge_subject/insert_pledge_subject_auto}" th:method="post" th:object="${pledgeSubjectAuto}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectAuto.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectAuto})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: autoProperty(${pledgeSubjectAuto})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
            <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
            <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="EQUIPMENT">
        <form th:action="@{/pledge_subject/insert_pledge_subject_equipment}" th:method="post" th:object="${pledgeSubjectEquipment}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectEquipment.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectEquipment})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: equipmentProperty(${pledgeSubjectEquipment})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="SECURITIES">
        <form th:action="@{/pledge_subject/insert_pledge_subject_securities}" th:method="post" th:object="${pledgeSubjectSecurities}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectSecurities.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectSecurities})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: securitiesProperty(${pledgeSubjectSecurities})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="VESSEL">
        <form th:action="@{/pledge_subject/insert_pledge_subject_vessel}" th:method="post" th:object="${pledgeSubjectVessel}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectVessel.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectVessel})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: vesselProperty(${pledgeSubjectVessel})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="TBO">
        <form th:action="@{/pledge_subject/insert_pledge_subject_tbo}" th:method="post" th:object="${pledgeSubjectTBO}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectTBO.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectTBO})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: tboProperty(${pledgeSubjectTBO})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="LAND_OWNERSHIP">
        <form th:action="@{/pledge_subject/insert_pledge_subject_landOwn}" th:method="post" th:object="${pledgeSubjectRealtyLandOwnership}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectRealtyLandOwnership.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectRealtyLandOwnership})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: realtyProperty(${pledgeSubjectRealtyLandOwnership})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: landOwnshipProperty(${pledgeSubjectRealtyLandOwnership}, ${landCategoryList})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="LAND_LEASE">
        <form th:action="@{/pledge_subject/insert_pledge_subject_landLease}" th:method="post" th:object="${pledgeSubjectRealtyLandLease}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectRealtyLandLease.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectRealtyLandLease})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: realtyProperty(${pledgeSubjectRealtyLandLease})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: landLeaseProperty(${pledgeSubjectRealtyLandLease}, ${landCategoryList})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="BUILDING">
        <form th:action="@{/pledge_subject/insert_pledge_subject_building}" th:method="post" th:object="${pledgeSubjectRealtyBuilding}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectRealtyBuilding.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectRealtyBuilding})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: realtyProperty(${pledgeSubjectRealtyBuilding})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: buildingProperty(${pledgeSubjectRealtyBuilding}, ${marketSegmentList})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
    <div th:case="PREMISE">
        <form th:action="@{/pledge_subject/insert_pledge_subject_room}" th:method="post" th:object="${pledgeSubjectRealtyRoom}" action="card_new.html">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreementId}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubjectRealtyRoom.getPledgeAgreements()}">

            <div th:replace="fragments/pledge_subject_forms :: generalProperty(${pledgeSubjectRealtyRoom})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: realtyProperty(${pledgeSubjectRealtyRoom})"></div>
            <br>
            <div th:replace="fragments/pledge_subject_forms :: roomProperty(${pledgeSubjectRealtyRoom}, ${marketSegmentList})"></div>
            <br>
            <h3>Залоговое заключение</h3>
            <div th:object="${costHistory}">
                <div th:replace="fragments/pledge_subject_forms :: costHistoryProperty(${costHistory})"></div>
            </div>
            <br>
            <h3>Мониторинг</h3>
            <div th:object="${monitoring}">
                <div th:replace="fragments/pledge_subject_forms :: monitoringProperty(${monitoring})"></div>
            </div>
            <br>
            <button type="submit">Добавить новый предмет</button>
        </form>
    </div>
</div>



</body>
</html>