<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Предмет залога подробно</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .pledgeSubjectDetailTable, .pledgeSubjectDetailTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<h1 th:text="'Предмет залога:' + ${pledgeSubjectDto.getName()}">Предмет залога</h1>
<div class="containerTable">

    <label>id предмета залога</label>
    <span th:text="${pledgeSubjectDto.getPledgeSubjectId()}">н/д</span>
    <br>
    <br>
    <label>Наименование:</label>
    <span th:text="${pledgeSubjectDto.getName()}">н/д</span>
    <br>
    <br>
    <div th:switch="${pledgeSubjectDto.getTypeOfCollateral().name()}">
        <div th:case="AUTO">
            <label>Марка:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getBrand()}">н/д</span>
            <br>
            <br>
            <label>Модель:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getModel()}">н/д</span>
            <br>
            <br>
            <label>л.с.:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getHorsepower()}">н/д</span>
            <br>
            <br>
            <label>VIN:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getVin()}">н/д</span>
            <br>
            <br>
            <label>№ двигателя:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getNumOfEngine()}">н/д</span>
            <br>
            <br>
            <label>№ ПТС:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getNumOfPTS()}">н/д</span>
            <br>
            <br>
            <label>Год выпуска:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getYearOfManufacture()}">н/д</span>
            <br>
            <br>
            <label>Инв. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getInventoryNum()}">н/д</span>
            <br>
            <br>
            <label>Вид транспорта:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectAutoDto().getTypeOfAuto().getTranslate()}">н/д</span>
            <br>
            <br>
        </div>
        <div th:case="EQUIPMENT">
            <label>Марка:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getBrand()}">н/д</span>
            <br>
            <br>
            <label>Модель:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getModel()}">н/д</span>
            <br>
            <br>
            <label>Завод. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getSerialNum()}">н/д</span>
            <br>
            <br>
            <label>Год выпуска:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getYearOfManufacture()}">н/д</span>
            <br>
            <br>
            <label>Инв. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getInventoryNum()}">н/д</span>
            <br>
            <br>
            <label>Вид оборудования:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getTypeOfEquipment().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Производительность:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getProductivity()}">н/д</span>
            <br>
            <br>
            <label>Вид производительности:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectEquipmentDto().getTypeOfProductivity()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="SECURITIES">
            <label>Номинальная стоимость:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectSecuritiesDto().getNominalValue()}">н/д</span>
            <br>
            <br>
            <label>Действительная стоимость:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectSecuritiesDto().getActualValue()}">н/д</span>
            <br>
            <br>
            <label>Вид ценных бумаг:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectSecuritiesDto().getTypeOfSecurities().getTranslate()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="VESSEL">
            <label>ИМО:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getImo()}">н/д</span>
            <br>
            <br>
            <label>MMSI:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getMmsi()}">н/д</span>
            <br>
            <br>
            <label>Флаг:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getFlag()}">н/д</span>
            <br>
            <br>
            <label>Вид судна:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getVesselType().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Валовый тоннаж:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getGrossTonnage()}">н/д</span>
            <br>
            <br>
            <label>Дедвейт:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getDeadweight()}">н/д</span>
            <br>
            <br>
            <label>Год постройки:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getYearBuilt()}">н/д</span>
            <br>
            <br>
            <label>Статус судна:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectVesselDto().getStatusVessel()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="TBO">
            <label>Количество:</label>
            <span th:text="${#numbers.formatDecimal(pledgeSubjectDto.getPledgeSubjectTboDto().getCountOfTBO(), 0, 'WHITESPACE', 2, 'COMMA')}">н/д</span>
            <br>
            <br>
            <label>Баланс. стоимость:</label>
            <span th:text="${#numbers.formatDecimal(pledgeSubjectDto.getPledgeSubjectTboDto().getCarryingAmount(), 0, 'WHITESPACE', 2, 'COMMA')}">н/д</span>
            <br>
            <br>
            <label>Вид ТМЦ:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectTboDto().getTypeOfTBO().getTranslate()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="LAND_OWNERSHIP">
            <label>Площадь:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Категория земель:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getLandCategory().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Разрешенное использование:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getPermittedUse()}">н/д</span>
            <br>
            <br>
            <label>Наличение ОКС:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getBuiltUp()}">н/д</span>
            <br>
            <br>
            <label>Кад. № ОКС:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandOwnershipDto().getCadastralNumOfBuilding()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="LAND_LEASE">
            <label>Площадь:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Категория земель:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getLandCategory().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Разрешенное использование:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getPermittedUse()}">н/д</span>
            <br>
            <br>
            <label>Наличение ОКС:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getBuiltUp()}">н/д</span>
            <br>
            <br>
            <label>Кад. № ОКС:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getCadastralNumOfBuilding()}">н/д</span>
            <br>
            <br>
            <label>Дата начала аренды:</label>
            <span th:text="${#temporals.format(pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getDateBeginLease(), 'dd.MM.yyyy')}">н/д</span>
            <br>
            <br>
            <label>Дата окончания аренды:</label>
            <span th:text="${#temporals.format(pledgeSubjectDto.getPledgeSubjectLandLeaseDto().getDateEndLease(), 'dd.MM.yyyy')}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="BUILDING">
            <label>Площадь:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Сегмент рынка:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getMarketSegment().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Степень готовноси:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getReadinessDegree()}">н/д</span>
            <br>
            <br>
            <label>Год постройки:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectBuildingDto().getYearOfConstruction()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="PREMISE">
            <label>Площадь:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Сегмент рынка помещения:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getMarketSegmentRoom().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Сегмент рынка здания где расположенно помещение:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getMarketSegmentBuilding().getTranslate()}">н/д</span>
            <br>
            <br>
            <label>Этаж расположения:</label>
            <span th:text="${pledgeSubjectDto.getPledgeSubjectRoomDto().getFloorLocation()}">н/д</span>
            <br>
            <br>
        </div>
    </div>

    <label>Ликвидность:</label>
    <span th:text="${pledgeSubjectDto.getLiquidity().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Рыночноя стоимость по ДЗ:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#numbers.formatCurrency(pledgeSubjectDto.getRsDz())}">н/д</a>
    <br>
    <br>
    <label>Рыночная стоимость по ЗЗ:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#numbers.formatCurrency(pledgeSubjectDto.getRsZz())}">н/д</a>
    <br>
    <br>
    <label>Залоговая стоимость по ДЗ:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#numbers.formatCurrency(pledgeSubjectDto.getZsDz())}">н/д</a>
    <br>
    <br>
    <label>Залоговая стоимость по ЗЗ:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#numbers.formatCurrency(pledgeSubjectDto.getZsZz())}">н/д</a>
    <br>
    <br>
    <label>Справедливая стоимость:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#numbers.formatCurrency(pledgeSubjectDto.getSs())}">н/д</a>
    <br>
    <br>
    <label>Дата ЗЗ:</label>
    <a th:href="@{/cost_history/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../cost_history/pledge_subject.html"
       th:text="${#temporals.format(pledgeSubjectDto.getDateConclusion(), 'dd.MM.yyyy')}">н/д</a>
    <br>
    <br>
    <label>Дата мониторинга:</label>
    <a th:href="@{/monitoring/pledge_subject(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../monitoring/pledge_subject.html"
       th:text="${#temporals.format(pledgeSubjectDto.getDateMonitoring(), 'dd.MM.yyyy')}">н/д</a>
    <br>
    <br>
    <label>Вид мониторинга:</label>
    <span th:text="${pledgeSubjectDto.getTypeOfMonitoring().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Результат мониторинга:</label>
    <span th:text="${pledgeSubjectDto.getStatusMonitoring().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Вид обеспечения:</label>
    <span th:text="${pledgeSubjectDto.getTypeOfCollateral().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Функция залога:</label>
    <span th:text="${pledgeSubjectDto.getTypeOfPledge().getTranslate()}">н/д</span>
    <br>
    <br>
    <label>Адрес:</label>
    <span th:text="${pledgeSubjectDto.getFullAddress()}">н/д</span>
    <br>
    <br>
    <label>Обязательство страхования:</label>
    <div th:switch="${pledgeSubjectDto.getInsuranceObligation()}">
        <div th:case="да">
                <a th:href="@{/insurance/insurances(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../insurance/insurances.html" th:text="да">да</a>
        </div>
        <div th:case="нет">
            <span>нет</span>
        </div>
    </div>
    <br>
    <br>
    <label>Обременения:</label>
    <a th:href="@{/encumbrance/encumbrances(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}" href="../encumbrance/encumbrances.html" th:text="подробнее">подробнее</a>
    <br>
    <br>
    <div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
        <a th:href="@{/pledge_subject/card_update(pledgeSubjectId=${pledgeSubjectDto.getPledgeSubjectId()})}"
           href="card_update.html"
           th:text="'Изменить данные'">Изменить данные</a>
        <br>
        <br>
    </div>


    <label>Договора залога:</label>
    <ol>
        <div th:each="pa: ${pledgeAgreementDtoList}">
            <li>
                <a th:href="@{/pledge_agreement/detail(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="../pledge_agreement/detail.html"
                   th:text="${pa.getNumPA() + ' от ' + #temporals.format(pa.getDateBeginPA(), 'dd.MM.yyyy')}">№ ДЗ</a>
                <a th:href="@{/client/detail(clientId=${pa.getClientId()})}" href="../client/detail.html"
                   th:text="${pa.getClientName()}">Залогодатель</a>
            </li>
        </div>
    </ol>
    <br>
    <br>


    <label>Кредитные договоры:</label>
    <ol>

            <div th:each="loanAgreement : ${loanAgreementDtoList}">
                <li>
                    <a th:href="@{/loan_agreement/detail(loanAgreementId=${loanAgreement.getLoanAgreementId()})}" href="../loan_agreement/detail.html"
                       th:text="${loanAgreement.getNumLA() + ' от ' + #temporals.format(loanAgreement.getDateBeginLA(), 'dd.MM.yyyy')}">№ КД</a>
                    <a th:href="@{/client/detail(clientId=${loanAgreement.getClientId()})}" href="../client/detail.html"
                       th:text="${loanAgreement.getClientName()}">Заемщик</a>
                </li>
            </div>

    </ol>

</div>
</body>
</html>