<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whatDo}">
        <div th:case="changeClient">
            <div th:switch="${client.getTypeOfClient()}">
                <div th:case="юл">
                    <title th:text="'Изменить данные ' + ${client.getClientLegalEntity().getOrganizationalForm() + ' ' + client.getClientLegalEntity().getName()}">Изменить данные</title>
                </div>
                <div th:case="фл">
                    <title th:text="'Изменить данные ' + ${client.getClientIndividual().getSurname() + ' ' + client.getClientIndividual().getName()}">Изменить данные</title>
                </div>
            </div>
        </div>
        <div th:case="newClient">
            <title th:text="'Создание нового КД'">Создание нового КД</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<div th:switch="${whatDo}">
    <div th:case="changeClient">
        <form th:action="@{/client_card}" th:method="post" th:object="${client}" action="client_card.html">
            <input type="hidden", name="whatDo" value="changeClient">
            <input type="hidden", th:field="*{clientId}" th:value="${client.getClientId()}">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${client.getTypeOfClient()}">
            <input type="hidden", th:field="*{clientIndividual}" th:value="${client.getClientIndividual()}">
            <input type="hidden", th:field="*{clientLegalEntity}" th:value="${client.getClientLegalEntity()}">
            <input type="hidden", th:field="*{loanAgreements}" th:value="${client.getLoanAgreements()}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${client.getPledgeAgreements()}">


            <div class="row">
                <label>Ответственный сотрудник</label>
                <select required th:field="*{employee}">
                    <div th:each="emp : ${employeeList}">
                        <option th:value="${emp.getEmployeeId()}" th:text="${emp.getSurname() + ' ' + emp.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Клиентский менеджер</label>
                <select required th:field="*{clientManager}">
                    <div th:each="cm : ${clientManagerList}">
                        <option th:value="${cm.clientManagerId}" th:text="${cm.getSurname() + ' ' + cm.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div th:switch="${client.getTypeOfClient()}">
                <div th:case="юл">
                    <div class="row">
                        <label>Правовая форма</label>
                        <input required th:field="*{clientLegalEntity.organizationalForm}" type="text" th:value="${client.getClientLegalEntity().getOrganizationalForm()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Наименование</label>
                        <input required th:field="*{clientLegalEntity.name}" type="text" th:value="${client.getClientLegalEntity().getName()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>ИНН</label>
                        <input th:field="*{clientLegalEntity.inn}" type="text" th:value="${client.getClientLegalEntity().getInn()}"/>
                    </div>
                    <br>
                </div>

                <div th:case="фл">
                    <div class="row">
                        <label>Фамилия</label>
                        <input required th:field="*{clientIndividual.surname}" type="text" th:value="${client.getClientIndividual().getSurname()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Имя</label>
                        <input required th:field="*{clientIndividual.name}" type="text" th:value="${client.getClientIndividual().getName()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Отчество</label>
                        <input th:field="*{clientIndividual.patronymic}" type="text" th:value="${client.getClientIndividual().getPatronymic()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>№ паспорта</label>
                        <input th:field="*{clientIndividual.pasportNum}" type="text" th:value="${client.getClientIndividual().getPasportNum()}"/>
                    </div>
                    <br>
                </div>
            </div>

            <button type="submit">Обновить</button>
        </form>
    </div>

    <div th:case="newClientLE">
        <form th:action="@{/client_card}" th:method="post" th:object="${clientLegalEntity}" action="client_card.html">
            <input type="hidden", name="whatDo" value="newClientLE">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientLegalEntity.getTypeOfClient()}">

            <div class="row">
                <label>Ответственный сотрудник</label>
                <select required th:field="*{employee}">
                    <div th:each="emp : ${employeeList}">
                        <option th:value="${emp.getEmployeeId()}" th:text="${emp.getSurname() + ' ' + emp.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Клиентский менеджер</label>
                <select required th:field="*{clientManager}">
                    <div th:each="cm : ${clientManagerList}">
                        <option th:value="${cm.clientManagerId}" th:text="${cm.getSurname() + ' ' + cm.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Правовая форма</label>
                <input required th:field="*{organizationalForm}" type="text"/>
            </div>
            <br>
            <div class="row">
                <label>Наименование</label>
                <input required th:field="*{name}" type="text"/>
            </div>
            <br>
            <div class="row">
                <label>ИНН</label>
                <input th:field="*{inn}" type="text" />
            </div>
            <br>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div th:case="newClientInd">
        <form th:action="@{/client_card}" th:method="post" th:object="${clientIndividual}" action="client_card.html">
            <input type="hidden", name="whatDo" value="newClientInd">
            <input type="hidden", th:field="*{typeOfClient}" th:value="${clientIndividual.getTypeOfClient()}">

            <div class="row">
                <label>Ответственный сотрудник</label>
                <select required th:field="*{employee}">
                    <div th:each="emp : ${employeeList}">
                        <option th:value="${emp.getEmployeeId()}" th:text="${emp.getSurname() + ' ' + emp.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Клиентский менеджер</label>
                <select required th:field="*{clientManager}">
                    <div th:each="cm : ${clientManagerList}">
                        <option th:value="${cm.clientManagerId}" th:text="${cm.getSurname() + ' ' + cm.getName()}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Фамилия</label>
                <input required th:field="*{surname}" type="text" th:value="${clientIndividual.getSurname()}"/>
            </div>
            <br>
            <div class="row">
                <label>Имя</label>
                <input required th:field="*{name}" type="text" th:value="${clientIndividual.getName()}"/>
            </div>
            <br>
            <div class="row">
                <label>Отчество</label>
                <input th:field="*{patronymic}" type="text" th:value="${clientIndividual.getPatronymic()}"/>
            </div>
            <br>
            <div class="row">
                <label>№ паспорта</label>
                <input th:field="*{pasportNum}" type="text" th:value="${clientIndividual.getPasportNum()}"/>
            </div>
            <br>

            <button type="submit">Добавить</button>
        </form>
    </div>

    <div th:case="responseSuccess">
        <h3>Успешно добавлен новый клиент</h3>
        <a th:href="@{/client(clientId=${client.getClientId()})}" href="client.html"
           th:text="${'подробнее'}">подробнее</a>
    </div>
</div>



</body>
</html>