<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Заключения</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>
<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:if="${countOfConclusionNotDone &gt; 0}">
    <h1>Предстоящие заключения</h1>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithConclusionNotDone})"></div>
    </div>
</div>

<div th:if="${countOfConclusionIsDone &gt; 0}">
<h1>Выполненные заключения</h1>
<div class="containerTable">
    <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithConclusionIsDone})"></div>
</div>
</div>

<div th:if="${countOfConclusionOverdue &gt; 0}">
    <h1>Просроченные заключения</h1>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementListWithConclusionOverdue})"></div>
    </div>
</div>

</body>
</html>