<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Обновление cтоимостей предмета залога: ' + ${pledgeSubject.getName()}">Обновление cтоимостей</title>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<h1 th:text="'Обновление cтоимостей предмета залога:' + ${pledgeSubject.getName()}">Обновление cтоимостей</h1>

<form th:action="@{/cost_history_card}" th:method="post" th:object="${costHistory}" action="cost_history_card.html">
    <input type="hidden", name="pledgeSubjectId" th:value="${pledgeSubject.getPledgeSubjectId()}" value="0">

    <div class="row">
        <label>Дата заключения</label>
        <input required th:field="*{dateConclusion}" type="date"/>
    </div>
    <br>
    <div class="row">
        <label>РС по ДЗ</label>
        <input required th:field="*{rsDz}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ДЗ</label>
        <input required th:field="*{zsDz}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>РС по ЗЗ</label>
        <input required th:field="*{rsZz}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ЗЗ</label>
        <input required th:field="*{zsZz}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>СС</label>
        <input required th:field="*{ss}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Оценщик</label>
        <input th:field="*{appraiser}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>№ отчета об оценке</label>
        <input th:field="*{appraisalReportNum}" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Дата отчета об оценке</label>
        <input th:field="*{appraisalReportDate}" type="date"/>
    </div>
    <br>
    <button type="submit">Обновить</button>
</form>
</body>
</html>