<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'История изменения стоимостей предмета залога:' + ${pledgeSubject.getName()}">История изменения стоимостей предмета залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .MonitoringTable, .MonitoringTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'История изменения стоимостей предмета залога:' + ${pledgeSubject.getName()}">История изменения стоимостей предмета залога</h1>

<a th:href="@{cost_history_card(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="cost_history_card.html"
   th:text="'Обновить стоимости предмета залога'">Обновить стоимости предмета залога</a>
<br>
<br>

<div class="containerTable">
    <table class="MonitoringTable">
        <thead>
        <tr>
            <th>Дата</th>
            <th>РС по ДЗ</th>
            <th>ЗС по ДЗ</th>
            <th>РС по ЗЗ</th>
            <th>ЗС по ЗЗ</th>
            <th>СС</th>
            <th>Оценщик</th>
            <th>№ отчета об оценке</th>
            <th>Дата отчета об оценке</th>
        </tr>
        </thead>
        <tbody>
            <div th:each="costHistory : ${costHistoryList}">
                <tr>
                    <td th:text="${costHistory.getDateConclusion()}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(costHistory.getRsDz())}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(costHistory.getZsDz())}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(costHistory.getRsZz())}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(costHistory.getZsZz())}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(costHistory.getSs())}">н/д</td>
                    <td th:text="${costHistory.getAppraiser()}">н/д</td>
                    <td th:text="${costHistory.getAppraisalReportNum()}">н/д</td>
                    <td th:text="${costHistory.getAppraisalReportDate()}">н/д</td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
</body>
</html>