<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Обременения</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .incumbranceTable, .incumbranceTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Обременения для предмета залога:' + ${pledgeSubject.getName()}">Обременения для предмета залога</h1>

<a th:href="@{/pledge_subject_detail(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="pledge_subject_detail.html"
   th:text="'Вернуться к предмету залога ' + ${pledgeSubject.getName()}">Вернуться к предмету залога</a>
<br>
<br>
<a th:href="@{encumbrance_card(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="encumbrance_card.html"
   th:text="'Добавить обременение'">Добавить обременение</a>
<br>
<br>

<div class="containerTable">
    <table class="incumbranceTable">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Вид обременения</th>
            <th>В пользу кого</th>
            <th>Дата начала обременения</th>
            <th>Дата окончания обременения</th>
            <th>№ обременения</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="encumbrance : ${encumbranceList}">
            <tr>
                <td th:text="${encumbrance.getNameEncumbrance()}">н/д</td>
                <td th:text="${encumbrance.getTypeOfEncumbrance()}">н/д</td>
                <td th:text="${encumbrance.getInFavorOfWhom()}">н/д</td>
                <td th:text="${#dates.format(encumbrance.getDateBegin(), 'dd.MM.yyyy')}">н/д</td>
                <td th:text="${#dates.format(encumbrance.getDateEnd(), 'dd.MM.yyyy')}">н/д</td>
                <td th:text="${encumbrance.getNumOfEncumbrance()}">н/д</td>
            </tr>

        </div>



        </tbody>
    </table>
</div>
</body>
</html>