<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>

<div>Сотрудник</div>
<div th:text="${employee.surname}"></div>
<div th:text="${employee.name}"></div>
<div th:text="${employee.patronymic}"></div>

<br>

<p>Договоров залога на сопровождении:</p>
<label>Всего:</label>
<a th:href="@{/pledge_agreements(employeeId=${employee.employeeId}, pervPosl='all')}" href="pledge_agreements.html" th:text="${countOfAllPledgeAgreement}">0</a>
<label>Первичных:</label>
<a th:href="@{/pledge_agreements(employeeId=${employee.employeeId}, pervPosl='perv')}" href="pledge_agreements.html" th:text="${countOfPervPledgeAgreements}">0</a>
<label>Последующих:</label>
<a th:href="@{/pledge_agreements(employeeId=${employee.employeeId}, pervPosl='posl')}" href="pledge_agreements.html" th:text="${countOfPoslPledgeAgreements}">0</a>

<p>Кредитных договоров на сопровождении:</p>
<a th:href="@{/loan_agreements(employeeId=${employee.employeeId})}" href="loan_agreements.html" th:text="${countOfLoanAgreements}">0</a>


</body>
</html>