<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>


<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div>Сотрудник</div>
    <div th:text="${employeeDto.getFullName()}"></div>

    <br>

    <p>Договоров залога на сопровождении:</p>
    <label>Всего:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50, employeeId=${employeeDto.employeeId})}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfAllPledgeAgreement}">0</a>
    <label>Первичных:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50, employeeId=${employeeDto.employeeId}, pervPosl='PERV')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPervPledgeAgreements}">0</a>
    <label>Последующих:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50, employeeId=${employeeDto.employeeId}, pervPosl='POSL')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPoslPledgeAgreements}">0</a>

    <br>
    <br>

    <label>Кредитных договоров на сопровождении:</label>
    <a th:href="@{/loan_agreement/loan_agreements(size=50, employeeId=${employeeDto.employeeId})}" href="loan_agreement/loan_agreements.html" th:text="${countOfLoanAgreements}">0</a>

    <p th:text="'Мониторинги (' + ${#dates.monthName(#dates.createNow())} + ')'">Мониторинги</p>
    <ul>
        <li th:text="${'Предстоящие: ' + countOfMonitoringNotDone}">Предстоящие</li>
        <li th:text="${'Выполненые: ' + countOfMonitoringIsDone}">Выполненые</li>
        <li th:text="${'Просроченные: ' + countOfMonitoringOverdue}">Просроченные</li>
    </ul>
    <a th:href="@{/monitoring/pledge_agreements(employeeId=${employeeDto.employeeId})}"
       href="monitoring/pledge_agreements.html"
       th:text="подробнее">подробнее</a>

    <p th:text="'Заключения (' + ${#dates.monthName(#dates.createNow())} + ')'">Заключения</p>
    <ul>
        <li th:text="${'Предстоящие: ' + countOfConclusionNotDone}">Предстоящие</li>
        <li th:text="${'Выполненые: ' + countOfConclusionIsDone}">Выполненые</li>
        <li th:text="${'Просроченные: ' + countOfConclusionOverdue}">Просроченные</li>
    </ul>
    <a th:href="@{/cost_history/pledge_agreements(employeeId=${employeeDto.employeeId})}"
       href="cost_history/pledge_agreements.html"
       th:text="подробнее">подробнее</a>
</div>

<div sec:authorize="hasRole('USER_CHIEF')">
    <div th:if="${employeeDtoMapExcludeChief} != null">
        <br>
        <br>
        <table class="customTable">
            <thead>
            <tr>
                <th>Сотрудник</th>
                <th>ДЗ всего</th>
                <th>ДЗ первичные</th>
                <th>ДЗ последующие</th>
                <th>КД всего</th>
                <th>Мониторинги. не выполено</th>
                <th>Мониторинги. выполено</th>
                <th>Мониторинги. просрочено</th>
                <th>Заключения. не выполено</th>
                <th>Заключения. выполено</th>
                <th>Заключения. просрочено</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="emp : ${employeeDtoMapExcludeChief}">
                <tr>
                    <td>
                        <a th:href="@{/employee(id=${emp.getKey().getEmployeeId()})}" href="home.html"
                           th:text="${emp.getKey().getFullName()}">№ КД</a>
                    </td>
                    <td th:text="${emp.getValue().get(0)}"></td>
                    <td th:text="${emp.getValue().get(1)}"></td>
                    <td th:text="${emp.getValue().get(2)}"></td>
                    <td th:text="${emp.getValue().get(3)}"></td>
                    <td th:text="${emp.getValue().get(4)}"></td>
                    <td th:text="${emp.getValue().get(5)}"></td>
                    <td th:text="${emp.getValue().get(6)}"></td>
                    <td th:text="${emp.getValue().get(7)}"></td>
                    <td th:text="${emp.getValue().get(8)}"></td>
                    <td th:text="${emp.getValue().get(9)}"></td>
                </tr>
            </div>

            </tbody>
        </table>
    </div>
</div>

<div sec:authorize="hasAnyRole('GUEST', 'ADMIN')">
    <p>Договоры залога:</p>
    <label>Всего:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50)}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfAllPledgeAgreement}">0</a>
    <label>Первичных:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50, pervPosl='PERV')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPervPledgeAgreements}">0</a>
    <label>Последующих:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements(size=50, pervPosl='POSL')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPoslPledgeAgreements}">0</a>

    <br>
    <br>

    <p>Кредитные договоры:</p>
    <label>Всего:</label>
    <a th:href="@{/loan_agreement/loan_agreements(size=50)}" href="loan_agreement/loan_agreements.html" th:text="${countOfLoanAgreements}">0</a>

</div>
</body>
</html>