<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/scripts.js}" src="/js/testScript.js"></script>
    <title>Кредитный договор</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Кредитный договор: №' + ${loanAgreement.getNumLA()} + ' от ' + ${loanAgreement.getDateBeginLA()}">Кредитный договор</h1>
<label>Ответственный сотрудник: </label>
<span th:text="${loanAgreement.getLoaner().getEmployee().getSurname()} + ' ' + ${loanAgreement.getLoaner().getEmployee().name}"></span>
<br>
<br>

<label>Id кредитного договора:</label>
<span th:text="${loanAgreement.getLoanAgreementId()}" id="loanAgreementId"></span>
<br>
<br>
<label>Номер кредитного договора:</label>
<span th:text="${loanAgreement.getNumLA()}">н/д</span>
<br>
<br>
<label>Дата начала КД:</label>
<span th:text="${loanAgreement.getDateBeginLA()}">н/д</span>
<br>
<br>
<label>Дата окончания КД:</label>
<span th:text="${loanAgreement.getDateEndLA()}">н/д</span>
<br>
<br>
<label>Заемщик:</label>
<div th:switch="${loanAgreement.getLoaner().getTypeOfClient()}">
    <div th:case="юл">
        <a th:href="@{/client(clientId=${loanAgreement.getLoaner().getClientId()})}" href="client.html"
           th:text="${loanAgreement.getLoaner().getClientLegalEntity().getOrganizationalForm() + ' ' + loanAgreement.getLoaner().getClientLegalEntity().getName()}">Заемщик ЮЛ</a>
    </div>
    <div th:case="фл">
        <a th:href="@{/client(clientId=${loanAgreement.getLoaner().getClientId()})}" href="client.html"
           th:text="${loanAgreement.getLoaner().getClientIndividual().getSurname() + ' ' + loanAgreement.getLoaner().getClientIndividual().getName()}">Заемщик ФЛ</a>

    </div>
</div>
<br>
<br>
<label>Сумма договора:</label>
<span th:text="${#numbers.formatCurrency(loanAgreement.getAmountLA())}">н/д</span>
<br>
<br>
<label>%:</label>
<span th:text="${#numbers.formatPercent(loanAgreement.getInterestRateLA(), 0, 2)}">н/д</span>
<br>
<br>
<label>Задолженность:</label>
<span th:text="${#numbers.formatCurrency(loanAgreement.getDebtLA())}">н/д</span>
<br>
<br>
<label>ПФО:</label>
<span th:text="${loanAgreement.getPfo()}">н/д</span>
<br>
<br>
<label>Кат.кач.:</label>
<span th:text="${loanAgreement.getQualityCategory()}">н/д</span>
<br>
<br>
<label>Статус договора:</label>
<span th:text="${loanAgreement.getStatusLA()}">н/д</span>
<br>
<br>
<a th:href="@{loan_agreement_card(whatDo='changeLA', loanAgreementId=${loanAgreement.getLoanAgreementId()})}"
   href="loan_agreement_card.html"
   th:text="'Изменить данные'">Изменить данные</a>
<br>
<br>

<a href="javascript:setVisible('searchBar');">Добавить договор залога</a>
<div id="searchBar" style="display:none">
    <br>
    <form action="" id="inputSearchNumPA" role="form">
        <div class="form-group">
            <label>№ договора залога</label>
            <input required id="numPA" type="text"/>
            <button type="submit">Найти</button>
        </div>
    </form>
    <div id="searchResultPA" style="display:none">
        <br>
        <table class="customTable">
            <thead>
            <tr>
                <th>check</th>
                <th>№ ДЗ</th>
                <th>дата</th>
            </tr>
            </thead>
            <tbody id="tBodyPA">
            </tbody>
        </table>
        <br>
        <input type="button" id="buttonInsert" value="добавить" onclick="insertPA()" disabled="disabled">
    </div>
</div>

<br>
<br>
<div th:if="${@loanAgreementService.countOfCurrentPledgeAgreements(loanAgreement.getLoanAgreementId()) &gt; 0}">
    <label>Действующее обеспечение:</label>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${@loanAgreementService.getCurrentPledgeAgreements(loanAgreement.getLoanAgreementId())})"></div>
    </div>
    <br>
    <br>
</div>
    <div th:if="${@loanAgreementService.countOfClosedPledgeAgreements(loanAgreement.getLoanAgreementId()) &gt; 0}">
    <label>Закрытые договоры залога:</label>
    <div class="containerTable">
        <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${@loanAgreementService.getClosedPledgeAgreements(loanAgreement.getLoanAgreementId())})"></div>
    </div>
</div>

</body>
</html>