<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кредитные договоры на сопровождении</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<h1>Кредитные договоры на сопровождении:</h1>
<div class="containerTable">
    <div th:replace="static/table_loan_agreements :: loanAgreementTable(${loanAgreementList})"></div>

    <div th:if="${loanAgreementList.totalPages > 1}" >
        <span th:text="'Страница: '"></span>
        <div th:each="pageNumber : ${pageNumbers}" style="display: inline">
            <a th:href="@{/loan_agreements(size=${loanAgreementList.size}, page=${pageNumber}-1, employeeId=${employeeId})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==loanAgreementList.number + 1} ? active"></a>
        </div>
    </div>

</div>
</body>
</html>