<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Мониторинги (' + ${#dates.monthName(#dates.createNow())} + ')'">Мониторинги</title>
    <style type="text/css">
    body {
        padding: 50px;
    }
    .containerTable{
        width: 3000px;
    }
    .pledgeAgreement, .pledgeAgreement td {
        border: 1px solid lightgray;
        padding: 5px;
        table-layout: fixed;
    }
    .nav-item{
        display: inline;
    }
</style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<div th:if="${countOfMonitoringNotDone &gt; 0}">
    <h1>Предстоящие мониторинги</h1>
    <div class="containerTable">
        <table class="pledgeAgreement">
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>№ДЗ</th>
                <th>Дата начала ДЗ</th>
                <th>Дата окончания ДЗ</th>
                <th>Залогодатель</th>
                <th>Описание предметов залога</th>
                <th>Количество предметов залога</th>
                <th>Вид обеспечения</th>
                <th>Дата мониторинга</th>
                <th>Рузультат мониторинга</th>
            </tr>
            </thead>
            <tbody>
                <div th:each="pa, stat : ${pledgeAgreementListWithMonitoringNotDone}">
                    <tr>
                        <td th:text="${stat.index + 1}"></td>
                        <td>
                            <a th:href="@{/pledge_agreement_detail(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_agreement_detail.html"
                               th:text="${pa.getNumPA()}">н/д</a>
                        </td>

                        <td th:text="${pa.getDateBeginPA()}"></td>

                        <td th:text="${pa.getDateEndPA()}"></td>

                        <div th:switch="${pa.getPledgor().getTypeOfClient()}">
                            <div th:case="юл">
                                <td>
                                    <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                       th:text="${pa.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pa.getPledgor().getClientLegalEntity().getName()}"></a>
                                </td>
                            </div>
                            <div th:case="фл">
                                <td>
                                    <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                       th:text="${pa.getPledgor().getClientIndividual().getSurname() + ' ' + pa.getPledgor().getClientIndividual().getName()}"></a>
                                </td>
                            </div>
                        </div>

                        <td>
                            <ol>
                                <div th:if="${pa.getPledgeSubjects().size() &gt; 5}">
                                    <div th:each="ps, countStat: ${pa.getPledgeSubjects()}">
                                        <div th:if="${countStat.index &lt; 5}" th:remove="tag">
                                            <li>
                                                <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                                   href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                            </li>
                                        </div>
                                    </div>
                                    <span>...</span>
                                </div>
                                <div th:unless="${pa.getPledgeSubjects().size() &gt; 5}">
                                    <div th:each="ps : ${pa.getPledgeSubjects()}">
                                        <li>
                                            <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                               href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                        </li>
                                    </div>
                                </div>
                            </ol>
                            <a th:href="@{/pledge_subjects(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_subjects.html" th:text="подробнее">подробнее</a>
                        </td>

                        <td th:text="${pa.getPledgeSubjects().size()}">0</td>

                        <td th:text="${@pledgeAgreementService.getTypeOfCollateral(pa.getPledgeAgreementId())}">н/д</td>

                        <td>
                            <div th:each="dateOfMonitoring : ${@pledgeAgreementService.getDatesOfMonitoring(pa.getPledgeAgreementId())}">
                                <span th:text="${dateOfMonitoring}">н/д</span>
                            </div>
                        </td>

                        <td>
                            <div th:each="resultsOfMonitoring : ${@pledgeAgreementService.getResultsOfMonitoring(pa.getPledgeAgreementId())}">
                                <span th:text="${resultsOfMonitoring}">н/д</span>
                            </div>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${countOfMonitoringIsDone &gt; 0}">
    <h1>Выполненные мониторинги</h1>
    <div class="containerTable">
        <table class="pledgeAgreement">
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>№ДЗ</th>
                <th>Дата начала ДЗ</th>
                <th>Дата окончания ДЗ</th>
                <th>Залогодатель</th>
                <th>Описание предметов залога</th>
                <th>Количество предметов залога</th>
                <th>Вид обеспечения</th>
                <th>Дата мониторинга</th>
                <th>Рузультат мониторинга</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="pa, stat : ${pledgeAgreementListWithMonitoringIsDone}">
                <tr>
                    <td th:text="${stat.index + 1}"></td>
                    <td>
                        <a th:href="@{/pledge_agreement_detail(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_agreement_detail.html"
                           th:text="${pa.getNumPA()}">н/д</a>
                    </td>

                    <td th:text="${pa.getDateBeginPA()}"></td>

                    <td th:text="${pa.getDateEndPA()}"></td>

                    <div th:switch="${pa.getPledgor().getTypeOfClient()}">
                        <div th:case="юл">
                            <td>
                                <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                   th:text="${pa.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pa.getPledgor().getClientLegalEntity().getName()}"></a>
                            </td>
                        </div>
                        <div th:case="фл">
                            <td>
                                <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                   th:text="${pa.getPledgor().getClientIndividual().getSurname() + ' ' + pa.getPledgor().getClientIndividual().getName()}"></a>
                            </td>
                        </div>
                    </div>

                    <td>
                        <ol>
                            <div th:if="${pa.getPledgeSubjects().size() &gt; 5}">
                                <div th:each="ps, countStat: ${pa.getPledgeSubjects()}">
                                    <div th:if="${countStat.index &lt; 5}" th:remove="tag">
                                        <li>
                                            <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                               href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                        </li>
                                    </div>
                                </div>
                                <span>...</span>
                            </div>
                            <div th:unless="${pa.getPledgeSubjects().size() &gt; 5}">
                                <div th:each="ps : ${pa.getPledgeSubjects()}">
                                    <li>
                                        <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                           href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                    </li>
                                </div>
                            </div>
                        </ol>
                        <a th:href="@{/pledge_subjects(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_subjects.html" th:text="подробнее">подробнее</a>
                    </td>

                    <td th:text="${pa.getPledgeSubjects().size()}">0</td>

                    <td th:text="${@pledgeAgreementService.getTypeOfCollateral(pa.getPledgeAgreementId())}">н/д</td>

                    <td>
                        <div th:each="dateOfMonitoring : ${@pledgeAgreementService.getDatesOfMonitoring(pa.getPledgeAgreementId())}">
                            <span th:text="${dateOfMonitoring}">н/д</span>
                        </div>
                    </td>

                    <td>
                        <div th:each="resultsOfMonitoring : ${@pledgeAgreementService.getResultsOfMonitoring(pa.getPledgeAgreementId())}">
                            <span th:text="${resultsOfMonitoring}">н/д</span>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${countOfMonitoringOverdue &gt; 0}">
    <h1>Просроченные мониторинги</h1>
    <div class="containerTable">
        <table class="pledgeAgreement">
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>№ДЗ</th>
                <th>Дата начала ДЗ</th>
                <th>Дата окончания ДЗ</th>
                <th>Залогодатель</th>
                <th>Описание предметов залога</th>
                <th>Количество предметов залога</th>
                <th>Вид обеспечения</th>
                <th>Дата мониторинга</th>
                <th>Рузультат мониторинга</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="pa, stat : ${pledgeAgreementListWithMonitoringOverdue}">
                <tr>
                    <td th:text="${stat.index + 1}"></td>
                    <td>
                        <a th:href="@{/pledge_agreement_detail(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_agreement_detail.html"
                           th:text="${pa.getNumPA()}">н/д</a>
                    </td>

                    <td th:text="${pa.getDateBeginPA()}"></td>

                    <td th:text="${pa.getDateEndPA()}"></td>

                    <div th:switch="${pa.getPledgor().getTypeOfClient()}">
                        <div th:case="юл">
                            <td>
                                <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                   th:text="${pa.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pa.getPledgor().getClientLegalEntity().getName()}"></a>
                            </td>
                        </div>
                        <div th:case="фл">
                            <td>
                                <a th:href="@{/pledgor(pledgorId=${pa.getPledgor().getClientId()})}" href="pledgor.html"
                                   th:text="${pa.getPledgor().getClientIndividual().getSurname() + ' ' + pa.getPledgor().getClientIndividual().getName()}"></a>
                            </td>
                        </div>
                    </div>

                    <td>
                        <ol>
                            <div th:if="${pa.getPledgeSubjects().size() &gt; 5}">
                                <div th:each="ps, countStat: ${pa.getPledgeSubjects()}">
                                    <div th:if="${countStat.index &lt; 5}" th:remove="tag">
                                        <li>
                                            <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                               href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                        </li>
                                    </div>
                                </div>
                                <span>...</span>
                            </div>
                            <div th:unless="${pa.getPledgeSubjects().size() &gt; 5}">
                                <div th:each="ps : ${pa.getPledgeSubjects()}">
                                    <li>
                                        <a th:href="@{/pledge_subject_detail(pledgeSubjectId=${ps.getPledgeSubjectId()})}"
                                           href="pledge_subject_detail.html" th:text="${ps.getName()}">наименование</a>
                                    </li>
                                </div>
                            </div>
                        </ol>
                        <a th:href="@{/pledge_subjects(pledgeAgreementId=${pa.getPledgeAgreementId()})}" href="pledge_subjects.html" th:text="подробнее">подробнее</a>
                    </td>

                    <td th:text="${pa.getPledgeSubjects().size()}">0</td>

                    <td th:text="${@pledgeAgreementService.getTypeOfCollateral(pa.getPledgeAgreementId())}">н/д</td>

                    <td>
                        <div th:each="dateOfMonitoring : ${@pledgeAgreementService.getDatesOfMonitoring(pa.getPledgeAgreementId())}">
                            <span th:text="${dateOfMonitoring}">н/д</span>
                        </div>
                    </td>

                    <td>
                        <div th:each="resultsOfMonitoring : ${@pledgeAgreementService.getResultsOfMonitoring(pa.getPledgeAgreementId())}">
                            <span th:text="${resultsOfMonitoring}">н/д</span>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>