<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'История мониторингов предмета залога:' + ${pledgeSubject.getName()}">История мониторингов предмета залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .MonitoringTable, .MonitoringTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'История мониторингов предмета залога:' + ${pledgeSubject.getName()}">История мониторингов предмета залога</h1>

<a th:href="@{/pledge_subject_detail(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="pledge_subject_detail.html"
   th:text="'Вернуться к предмету залога ' + ${pledgeSubject.getName()}">Вернуться к предмету залога</a>
<br>
<br>

<a th:href="@{monitoring_card(whereUpdateMonitoring='ps', pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="monitoring_card.html"
   th:text="'Добавить мониторинг'">Добавить мониторинг</a>
<br>
<br>

<div class="containerTable">
    <table class="MonitoringTable">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Ответственный сотрудник</th>
            <th>Резульнат мониторинга</th>
            <th>Вид монитоинга</th>
            <th>Залоговая стоимость</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="monitoring : ${monitoringList}">
            <tr>
                <td th:text="${#dates.format(monitoring.getDateMonitoring(), 'dd.MM.yyyy')}">н/д</td>
                <td th:text="${monitoring.getEmployee()}">н/д</td>
                <td th:text="${monitoring.getStatusMonitoring().getTranslate()}">н/д</td>
                <td th:text="${monitoring.getTypeOfMonitoring().getTranslate()}">н/д</td>
                <td th:text="${#numbers.formatCurrency(monitoring.getCollateralValue())}">н/д</td>
                <td th:text="${monitoring.getNotice()}">н/д</td>
            </tr>
        </div>
        </tbody>
    </table>
</div>

</body>
</html>