<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whereUpdateMonitoring}">
        <div th:case="pa">
            <title th:text="'Обновление мониторинга предметов в договоре залога №' + ${pledgeAgreement.getNumPA()}">Обновление мониторинга</title>
        </div>
        <div th:case="ps">
            <title th:text="'Обновление мониторинга предмета залога: ' + ${pledgeSubject.getName()}">Обновление мониторинга</title>
        </div>
        <div th:case="pledgor">
            <div th:switch="${pledgor.getTypeOfClient()}">
                <div th:case="юл">
                    <title th:text="'Обновление мониторинга предмета залога по залогодателю: '
                    + ${pledgor.getClientLegalEntity().getOrganizationalForm()} + ' '
                    + ${pledgor.getClientLegalEntity().getName()}">Обновление мониторинга предмета залога по залогодателю ЮЛ</title>
                </div>
                <div th:case="фл">
                    <title th:text="'Обновление мониторинга предмета залога по залогодателю: '
                     + ${pledgor.getClientIndividual().getSurname()} + ' '
                        + ${pledgor.getClientIndividual().getName()}">Обновление мониторинга предмета залога по залогодателю ФЛ</title>
                </div>
            </div>
        </div>
        <div th:case="*">
            <title>Обновление мониторинга</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:switch="${whereUpdateMonitoring}">
    <div th:case="pa">
        <h1 th:text="'Обновление мониторинга предметов в договоре залога №' + ${pledgeAgreement.getNumPA()}">Обновление мониторинга</h1>
    </div>
    <div th:case="ps">
        <h1 th:text="'Обновление мониторинга предмета залога:' + ${pledgeSubject.getName()}">Обновление мониторинга</h1>
    </div>
    <div th:case="pledgor">
        <div th:switch="${pledgor.getTypeOfClient()}">
            <div th:case="юл">
                <h1 th:text="'Обновление мониторинга предмета залога по залогодателю:'
                    + ${pledgor.getClientLegalEntity().getOrganizationalForm()} + ' '
                    + ${pledgor.getClientLegalEntity().getName()}">Обновление мониторинга предмета залога по залогодателю ЮЛ</h1>
            </div>
            <div th:case="фл">
                <h1 th:text="'Обновление мониторинга предмета залога по залогодателю:'
                     + ${pledgor.getClientIndividual().getSurname()} + ' '
                        + ${pledgor.getClientIndividual().getName()}">Обновление мониторинга предмета залога по залогодателю ФЛ</h1>
            </div>
        </div>
    </div>
    <div th:case="*">
        <h1>Обновление мониторинга</h1>
    </div>
</div>

<form th:action="@{/monitoring_card}" th:method="post" th:object="${monitoring}" action="monitoring_card.html">
    <div th:switch="${whereUpdateMonitoring}">
        <div th:case="pa">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgeAgreementId" th:value="${pledgeAgreement.getPledgeAgreementId()}" value="0">
        </div>
        <div th:case="ps">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgeSubjectId" th:value="${pledgeSubject.getPledgeSubjectId()}" value="0">
        </div>
        <div th:case="pledgor">
            <input type="hidden", name="whereUpdateMonitoring" th:value="${whereUpdateMonitoring}">
            <input type="hidden", name="pledgorId" th:value="${pledgor.getClientId()}" value="0">
        </div>
    </div>


    <div class="row">
        <label>Дата мониторинга</label>
        <input required th:field="*{dateMonitoring}" type="date"/>
        <div th:if="${#fields.hasErrors('dateMonitoring')}" th:errors="*{dateMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Вид мониторинга</label>
        <select required th:field="*{typeOfMonitoring}">
            <!--<option></option>-->
            <option value="документарный">документарный</option>
            <option value="визуальный">визуальный</option>
        </select>
        <div th:if="${#fields.hasErrors('typeOfMonitoring')}" th:errors="*{typeOfMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Результат мониторинга</label>
        <select required th:field="*{statusMonitoring}">
            <option value="в наличии">в наличии</option>
            <option value="утрата">утрата</option>
            <option value="частичная утрата">частичная утрата</option>
        </select>
        <div th:if="${#fields.hasErrors('statusMonitoring')}" th:errors="*{statusMonitoring}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Ответственный сотрудник</label>
        <input required th:field="*{employee}" type="text"/>
        <div th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость (в случаи утраты)</label>
        <input type="number" min="0" step="0.01" th:field="*{collateralValue}"/>
        <div th:if="${#fields.hasErrors('collateralValue')}" th:errors="*{collateralValue}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Комментарии</label>
        <input th:field="*{notice}" type="text"/>
        <div th:if="${#fields.hasErrors('notice')}" th:errors="*{notice}">Name Error</div>
    </div>
    <br>
    <button type="submit">Обновить</button>
</form>


<div th:switch="${whereUpdateMonitoring}">
    <div th:if="${whereUpdateMonitoring} eq 'responseSuccess'">
        <h3 th:text="'Обновлены следующие предметы залога'">Обновлены следующие предметы</h3>
        <div th:each="mon, stat: ${monitoringList}">
            <h4 th:text="${stat.index + 1} + '. ' + ${mon.getPledgeSubject().getName()}"></h4>
            <span th:text="'дата мониторинга: ' + ${mon.getDateMonitoring()} +
            ', вид мониторинга: ' + ${mon.getTypeOfMonitoring()} +
            ', результат: ' + ${mon.getStatusMonitoring()} +
            ', ответственный сотрудник: ' + ${mon.getEmployee()} +
            ', Залоговая стоимость (в случаи утраты): ' + ${mon.getCollateralValue()} +
            ', Комментарии: ' + ${mon.getNotice()}"></span>
            <br>
        </div>
    </div>
</div>
</body>
</html>