<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/scripts.js}" src="/js/testScript.js"></script>
    <meta charset="UTF-8">
    <title>Предметы залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Предметы залога по договору залога №' + ${pledgeAgreement.getNumPA()}">Предметы залога</h1>
<span th:text="${pledgeAgreement.getPledgeAgreementId()}" id="pledgeAgreementId" hidden></span>
<a th:href="@{/pledge_agreement_detail(pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}" href="pledge_agreement_detail.html"
   th:text="'Вернуться к договору залога №' + ${pledgeAgreement.getNumPA()}">Вернуться к договору залога</a>
<br>
<br>
<a href="javascript:setVisible('searchBarNewPS');">Добавить новый предмет залога</a>
<div id="searchBarNewPS" style="display:none">
    <br>
    <form th:action="@{/pledge_subject_card}" th:method="get" action="pledge_subject_card.html">
        <input type="hidden" name="whatDo" value="newPS">
        <input type="hidden" name="pledgeAgreementId" th:value="${pledgeAgreement.getPledgeAgreementId()}">
        <select required name="typeOfCollateral">
            <option value="Авто/спецтехника">Авто/спецтехника</option>
            <option value="Оборудование">Оборудование</option>
            <option value="ТМЦ">ТМЦ</option>
            <option value="Ценные бумаги">Ценные бумаги</option>
            <option value="Недвижимость - ЗУ - собственность">Недвижимость - ЗУ - собственность</option>
            <option value="Недвижимость - ЗУ - право аренды">Недвижимость - ЗУ - право аренды</option>
            <option value="Недвижимость - здание/сооружение">Недвижимость - здание/сооружение</option>
            <option value="Недвижимость - помещение">Недвижимость - помещение</option>
            <option value="Судно">Судно</option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>
<br>
<br>

<a href="javascript:setVisible('searchBarCurrentPS');">Добавить существующий предмет залога</a>
<div id="searchBarCurrentPS" style="display:none">
    <br>
    <form action="" id="inputSearchCadastralNum" role="form">
        <div class="form-group">
            <label>Недвижимое имущество(Кад №)</label>
            <input required id="cadastralNum" type="text"/>
            <button type="submit">Найти</button>
        </div>
    </form>
    <br>
    <form action="" id="inputSearchNamePS" role="form">
        <div class="form-group">
            <label>Движимое имущество(Наименование)</label>
            <input required id="namePS" type="text"/>
            <button type="submit">Найти</button>
        </div>
    </form>
    <div id="searchResultPS" style="display:none">
        <br>
        <table class="customTable">
            <thead>
            <tr>
                <th>check</th>
                <th>Наименование</th>
                <th>ОХП</th>
            </tr>
            </thead>
            <tbody id="tBodyPS">
            </tbody>
        </table>
        <br>
        <input type="button" id="buttonInsert" value="добавить" onclick="insertPS()" disabled="disabled">
    </div>
</div>
<br>
<br>

<a th:href="@{monitoring_card(whereUpdateMonitoring='pa', pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}"
   href="monitoring_card.html"
   th:text="'Обновить мониторинг по всем предметам договора залога №' + ${pledgeAgreement.getNumPA()}">Обновить мониторинг по всем предметам договора залога</a>
<br>
<br>
<div class="containerTable">
    <div th:replace="fragments/table_pledge_subjects :: pledgeSubjectTable(${pledgeAgreement.getPledgeSubjects()})"></div>
</div>



</body>
</html>