<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Предмет залога подробно</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .pledgeSubjectDetailTable, .pledgeSubjectDetailTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Предмет залога:' + ${pledgeSubject.getName()}">Предмет залога</h1>
<div class="containerTable">

    <label>id предмета залога</label>
    <span th:text="${pledgeSubject.getPledgeSubjectId()}">н/д</span>
    <br>
    <br>
    <label>Наименование:</label>
    <span th:text="${pledgeSubject.getName()}">н/д</span>
    <br>
    <br>
    <div th:switch="${pledgeSubject.getTypeOfCollateral()}">
        <div th:case="'Авто/спецтехника'">
            <label>Марка:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getBrand()}">н/д</span>
            <br>
            <br>
            <label>Модель:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getModel()}">н/д</span>
            <br>
            <br>
            <label>л.с.:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getHorsepower()}">н/д</span>
            <br>
            <br>
            <label>VIN:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getVin()}">н/д</span>
            <br>
            <br>
            <label>№ двигателя:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getNumOfEngine()}">н/д</span>
            <br>
            <br>
            <label>№ ПТС:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getNumOfPTS()}">н/д</span>
            <br>
            <br>
            <label>Год выпуска:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getYearOfManufacture()}">н/д</span>
            <br>
            <br>
            <label>Инв. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getInventoryNum()}">н/д</span>
            <br>
            <br>
            <label>Вид транспорта:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectAuto().getTypeOfAuto()}">н/д</span>
            <br>
            <br>
        </div>
        <div th:case="Оборудование">
            <label>Марка:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getBrand()}">н/д</span>
            <br>
            <br>
            <label>Модель:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getModel()}">н/д</span>
            <br>
            <br>
            <label>Завод. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getSerialNum()}">н/д</span>
            <br>
            <br>
            <label>Год выпуска:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getYearOfManufacture()}">н/д</span>
            <br>
            <br>
            <label>Инв. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getInventoryNum()}">н/д</span>
            <br>
            <br>
            <label>Вид оборудования:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getTypeOfquipment()}">н/д</span>
            <br>
            <br>
            <label>Производительность:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getProductivity()}">н/д</span>
            <br>
            <br>
            <label>Вид производительности:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectEquipment().getTypeOfProductivity()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="'Ценные бумаги'">
            <label>Номинальная стоимость:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectSecurities().getNominalValue()}">н/д</span>
            <br>
            <br>
            <label>Действительная стоимость:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectSecurities().getActualValue()}">н/д</span>
            <br>
            <br>
            <label>Вид ценных бумаг:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectSecurities().getTypeOfSecurities()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="Судно">
            <label>ИМО:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getImo()}">н/д</span>
            <br>
            <br>
            <label>MMSI:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getMmsi()}">н/д</span>
            <br>
            <br>
            <label>Флаг:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getFlag()}">н/д</span>
            <br>
            <br>
            <label>Вид судна:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getVesselType()}">н/д</span>
            <br>
            <br>
            <label>Валовый тоннаж:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getGrossTonnage()}">н/д</span>
            <br>
            <br>
            <label>Дедвейт:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getDeadweight()}">н/д</span>
            <br>
            <br>
            <label>Год постройки:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getYearBuilt()}">н/д</span>
            <br>
            <br>
            <label>Статус судна:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectVessel().getStatusVessel()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="ТМЦ">
            <label>Количество:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectTBO().getCountOfTBO()}">н/д</span>
            <br>
            <br>
            <label>Баланс. стоимость:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectTBO().getCarryingAmount()}">н/д</span>
            <br>
            <br>
            <label>Вид ТМЦ:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectTBO().getTypeOfTBO()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="'Недвижимость - ЗУ - собственность'">
            <label>Площадь:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Категория земель:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getLandCategory().getName()}">н/д</span>
            <br>
            <br>
            <label>Разрешенное использование:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getPermittedUse()}">н/д</span>
            <br>
            <br>
            <label>Наличение ОКС:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getBuiltUp()}">н/д</span>
            <br>
            <br>
            <label>Кад. № ОКС:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getCadastralNumOfBuilding()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="'Недвижимость - ЗУ - право аренды'">
            <label>Площадь:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Категория земель:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getLandCategory().getName()}">н/д</span>
            <br>
            <br>
            <label>Разрешенное использование:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getPermittedUse()}">н/д</span>
            <br>
            <br>
            <label>Наличение ОКС:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getBuiltUp()}">н/д</span>
            <br>
            <br>
            <label>Кад. № ОКС:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getCadastralNumOfBuilding()}">н/д</span>
            <br>
            <br>
            <label>Дата начала аренды:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getDateBeginLease()}">н/д</span>
            <br>
            <br>
            <label>Дата окончания аренды:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getDateEndLease()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="'Недвижимость - здание/сооружение'">
            <label>Площадь:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Сегмент рынка:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding().getMarketSegment().getName()}">н/д</span>
            <br>
            <br>
            <label>Степень готовноси:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding().getReadinessDegree()}">н/д</span>
            <br>
            <br>
            <label>Год постройки:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding().getYearOfConstruction()}">н/д</span>
            <br>
            <br>
        </div>

        <div th:case="'Недвижимость - помещение'">
            <label>Площадь:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getArea()}">н/д</span>
            <br>
            <br>
            <label>Кад. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}">н/д</span>
            <br>
            <br>
            <label>Услов. №:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}">н/д</span>
            <br>
            <br>

            <label>Сегмент рынка помещения:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyRoom().getMarketSegmentRoom().getName()}">н/д</span>
            <br>
            <br>
            <label>Сегмент рынка здания где расположенно помещение:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyRoom().getMarketSegmentBuilding().getName()}">н/д</span>
            <br>
            <br>
            <label>Этаж расположения:</label>
            <span th:text="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyRoom().getFloorLocation()}">н/д</span>
            <br>
            <br>
        </div>
    </div>

    <label>Ликвидность:</label>
    <span th:text="${pledgeSubject.getLiquidity()}">н/д</span>
    <br>
    <br>
    <label>Рыночноя стоимость по ДЗ:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${#numbers.formatCurrency(pledgeSubject.getRsDz())}">н/д</a>
    <br>
    <br>
    <label>Рыночная стоимость по ЗЗ:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${#numbers.formatCurrency(pledgeSubject.getRsZz())}">н/д</a>
    <br>
    <br>
    <label>Залоговая стоимость по ДЗ:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${#numbers.formatCurrency(pledgeSubject.getZsDz())}">н/д</a>
    <br>
    <br>
    <label>Залоговая стоимость по ЗЗ:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${#numbers.formatCurrency(pledgeSubject.getZsZz())}">н/д</a>
    <br>
    <br>
    <label>Справедливая стоимость:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${#numbers.formatCurrency(pledgeSubject.getSs())}">н/д</a>
    <br>
    <br>
    <label>Дата ЗЗ:</label>
    <a th:href="@{/cost_history(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="cost_history.html"
       th:text="${pledgeSubject.getDateConclusion()}">н/д</a>
    <br>
    <br>
    <label>Дата мониторинга:</label>
    <a th:href="@{/monitoring_pledge_subject(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="monitoring_pledge_subject.html"
       th:text="${#dates.format(pledgeSubject.getDateMonitoring(), 'dd.MM.yyyy')}">н/д</a>
    <br>
    <br>
    <label>Вид мониторинга:</label>
    <span th:text="${pledgeSubject.getTypeOfMonitoring()}">н/д</span>
    <br>
    <br>
    <label>Результат мониторинга:</label>
    <span th:text="${pledgeSubject.getStatusMonitoring()}">н/д</span>
    <br>
    <br>
    <label>Вид обеспечения:</label>
    <span th:text="${pledgeSubject.getTypeOfCollateral()}">н/д</span>
    <br>
    <br>
    <label>Функция залога:</label>
    <span th:text="${pledgeSubject.getTypeOfPledge()}">н/д</span>
    <br>
    <br>
    <label>Адрес:</label>
    <span th:text="${pledgeSubject.getAdressRegion() + ', ' + pledgeSubject.getAdressDistrict() + ', ' + pledgeSubject.getAdressCity() + ', ' + pledgeSubject.getAdressStreet() + ', ' + pledgeSubject.getAdressBuilbing() + ', ' + pledgeSubject.getAdressPemises()}">н/д</span>
    <br>
    <br>
    <label>Обязательство страхования:</label>
    <div th:switch="${pledgeSubject.getInsuranceObligation()}">
        <div th:case="да">
                <a th:href="@{/insurances(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="insurances.html" th:text="да">да</a>
        </div>
        <div th:case="нет">
            <span>нет</span>
        </div>
    </div>
    <br>
    <br>
    <label>Обременения:</label>
    <a th:href="@{/encumbrances(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}" href="encumbrances.html" th:text="подробнее">подробнее</a>
    <br>
    <br>
    <a th:href="@{pledge_subject_card_update(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
       href="pledge_subject_card_update.html"
       th:text="'Изменить данные'">Изменить данные</a>
    <br>
    <br>


    <label>Договора залога:</label>
    <ol>
        <div th:each="pe: ${pledgeSubject.getPledgeAgreements()}">
            <li>
                <a th:href="@{/pledge_agreement_detail(pledgeAgreementId=${pe.getPledgeAgreementId()})}" href="pledge_agreement_detail.html"
                   th:text="${pe.getNumPA() + ' от ' + pe.getDateBeginPA()}">№ ДЗ</a>
            </li>
            <div th:switch="${pe.getPledgor().getTypeOfClient()}">
                <div th:case="юл">
                    <a th:href="@{/client(clientId=${pe.getPledgor().getClientId()})}" href="client.html"
                       th:text="${pe.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pe.getPledgor().getClientLegalEntity().getName()}">Залогодатель ЮЛ</a>
                </div>
                <div th:case="фл">
                    <a th:href="@{/client(clientId=${pe.getPledgor().getClientId()})}" href="client.html"
                       th:text="${pe.getPledgor().getClientIndividual().getSurname() + ' ' + pe.getPledgor().getClientIndividual().getName()}">Залогодатель ФЛ</a>

                </div>
            </div>
        </div>
    </ol>
    <br>
    <br>


    <label>Кредитные договоры:</label>
    <ol>
        <div th:each="pe : ${pledgeSubject.getPledgeAgreements()}">
            <div th:each="loanAgreement : ${pe.getLoanAgreements()}">
                <li>
                    <a th:href="@{/loan_agreement_detail(loanAgreementId=${loanAgreement.getLoanAgreementId()})}" href="loan_agreement_detail.html"
                       th:text="${loanAgreement.getNumLA() + ' от ' + loanAgreement.getDateBeginLA()}">№ КД</a>
                </li>
                <div th:switch="${loanAgreement.getLoaner().getTypeOfClient()}">
                    <div th:case="юл">
                        <a th:href="@{/client(clientId=${loanAgreement.getLoaner().getClientId()})}" href="client.html"
                           th:text="${loanAgreement.getLoaner().getClientLegalEntity().getOrganizationalForm() + ' ' + loanAgreement.getLoaner().getClientLegalEntity().getName()}">Заемщик ЮЛ</a>
                    </div>
                    <div th:case="фл">
                        <a th:href="@{/client(clientId=${loanAgreement.getLoaner().getClientId()})}" href="client.html"
                           th:text="${loanAgreement.getLoaner().getClientIndividual().getSurname() + ' ' + loanAgreement.getLoaner().getClientIndividual().getName()}">Заемщик ФЛ</a>
                    </div>
                </div>
            </div>
        </div>
    </ol>

</div>
</body>
</html>