<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Договор залога: №' + ${pledgeAgreement.getNumPA()}">Договор залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<h1 th:text="'Договор залога: №' + ${pledgeAgreement.getNumPA()} + ' от ' + ${pledgeAgreement.getDateBeginPA()}">Договор залога</h1>
    <label>Ответственный сотрудник: </label>
    <span th:text="${pledgeAgreement.getPledgor().getEmployee().getSurname()} + ' ' + ${pledgeAgreement.getPledgor().getEmployee().name}"></span>
    <br>
    <br>
    <label>Id договора залога:</label>
    <span th:text="${pledgeAgreement.getPledgeAgreementId()}"></span>
    <br>
    <br>
    <label>Номер договора залога:</label>
    <span th:text="${pledgeAgreement.getNumPA()}">н/д</span>
    <br>
    <br>
    <label>Дата начала ДЗ:</label>
    <span th:text="${pledgeAgreement.getDateBeginPA()}">н/д</span>
    <br>
    <br>
    <label>Дата окончания ДЗ:</label>
    <span th:text="${pledgeAgreement.getDateEndPA()}">н/д</span>
    <br>
    <br>
    <label>Залогодатель:</label>
    <div th:switch="${pledgeAgreement.getPledgor().getTypeOfClient()}">
        <div th:case="юл">
            <a th:href="@{/pledgor(pledgorId=${pledgeAgreement.getPledgor().getClientId()})}" href="pledgor.html"
               th:text="${pledgeAgreement.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pledgeAgreement.getPledgor().getClientLegalEntity().getName()}">Залогодатель ЮЛ</a>
        </div>
        <div th:case="фл">
            <a th:href="@{/pledgor(pledgorId=${pledgeAgreement.getPledgor().getClientId()})}" href="pledgor.html"
               th:text="${pledgeAgreement.getPledgor().getClientIndividual().getSurname() + ' ' + pledgeAgreement.getPledgor().getClientIndividual().getName()}">Залогодатель ФЛ</a>

        </div>
    </div>
    <br>
    <br>
    <label>Тип договора:</label>
    <div th:switch="${pledgeAgreement.getPervPosl()}">
        <div th:case="перв">Первичный</div>
        <div th:case="посл">Последующий</div>
    </div>
    <br>
    <br>

    <label>Вид залогового обеспечения:</label>
    <div th:each="typeOfCollateral : ${@pledgeAgreementService.getTypeOfCollateral(pledgeAgreement.getPledgeAgreementId())}">
        <ul>
            <li th:text="${typeOfCollateral}">н/д</li>
        </ul>
    </div>
    <br>
    <br>
    <label>Количество предметов залога:</label>
    <a th:href="@{/pledge_subjects(pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}" href="pledge_subjects.html"
       th:text="${pledgeAgreement.getPledgeSubjects().size()}">н/д</a>
    <br>
    <br>
    <label>Рыночная стоимость по ДЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getRsDz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getZsDz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Рыночная стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getRsZz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getZsZz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Справедливая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getSs(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Статус:</label>
    <span th:text="${pledgeAgreement.getStatusPA()}">н/д</span>
    <br>
    <br>
    <label>Комментарии:</label>
    <span th:text="${pledgeAgreement.getNoticePA()}">н/д</span>
    <br>
    <br>
    <a th:href="@{pledge_agreement_card(whatDo='changePA', pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}"
       href="pledge_agreement_card.html.html"
       th:text="'Изменить данные'">Изменить данные</a>
    <br>
    <br>

    <div th:if="${@pledgeAgreementService.countOfCurrentLoanAgreementsForPladgeAgreement(pledgeAgreement.getPledgeAgreementId()) &gt; 0}">
        <label>Действующие кредитные договоры:</label>
        <div class="containerTable">
            <div th:replace="static/table_loan_agreements :: loanAgreementTable(${@pledgeAgreementService.getCurrentLoanAgreementsForPledgeAgreement(pledgeAgreement.getPledgeAgreementId())})"></div>
        </div>
    </div>

    <div th:if="${@pledgeAgreementService.countOfClosedLoanAgreementsForPledgeAgreement(pledgeAgreement.getPledgeAgreementId()) &gt; 0}">
        <label>Закрытые кредитные договоры:</label>
        <div class="containerTable">
            <div th:replace="static/table_loan_agreements :: loanAgreementTable(${@pledgeAgreementService.getClosedLoanAgreementsForPledgeAgreement(pledgeAgreement.getPledgeAgreementId())})"></div>
        </div>
    </div>





</body>

</html>