<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Предметы залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<h1 th:text="'Предметы залога по договору залога №' + ${pledgeAgreement.getNumPA()}">Предметы залога</h1>
<a th:href="@{monitoring_card(whereUpdateMonitoring='pa', pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}"
   href="monitoring_card.html"
   th:text="'Обновить мониторинг по всем предметам договора залога №' + ${pledgeAgreement.getNumPA()}">Обновить мониторинг по всем предметам договора залога</a>
<br>
<br>
<div class="containerTable">
    <div th:replace="static/table_pledge_subjects :: pledgeSubjectTable(${pledgeAgreement.getPledgeSubjects()})"></div>
</div>

</body>
</html>