<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Залогодатель</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<div th:switch="${pledgor.getTypeOfClient()}">
    <div th:case="юл">
        <h1 th:text="'Залогодатель:' + ${pledgor.getClientLegalEntity().getOrganizationalForm() + ' ' + pledgor.getClientLegalEntity().getName()}">Залогодатель ЮЛ</h1>
        <label>ИНН:</label>
        <span th:text="${pledgor.getClientLegalEntity().getInn()}"></span>
    </div>
    <div th:case="фл">
        <h1 th:text="'Залогодатель:' + ${pledgor.getClientIndividual().getSurname() + ' '
        + pledgor.getClientIndividual().getName() + ' '
        + pledgor.getClientIndividual().getPatronymic()}">Залогодатель ФЛ</h1>
        <label>Паспорт:</label>
        <span th:text="${pledgor.getClientIndividual().getPasportNum()}"></span>
    </div>
</div>
<br>

<label>Ответственный сотрудник: </label>
<span th:text="${pledgor.getEmployee().getSurname()} + ' ' + ${pledgor.getEmployee().name}"></span>
<br>
<br>
<label>Id залогодателя:</label>
<span th:text="${pledgor.getClientId()}"></span>
<br>
<br>

<a th:href="@{monitoring_card(whereUpdateMonitoring='pledgor', pledgorId=${pledgor.getClientId()})}"
   href="monitoring_card.html"
   th:text="'Обновить мониторинг предметов залога по всем договорам залога залогодателя'">Обновить мониторинг предметов залога по всем договорам залога залогодателя</a>

<div th:if="${@clientService.countOfCurrentPledgeAgreementsByPledgorId(pledgor.getClientId()) &gt; 0}">
    <h2>Действующее обеспечение</h2>
    <div class="containerTable">
        <div th:replace="static/table_pledge_agreements :: pledgeAgreementTable(${@clientService.getCurrentPledgeAgreementsByPledgorId(pledgor.getClientId())})"></div>
    </div>
</div>

<div th:if="${@clientService.countOfClosedPledgeAgreementsByPledgorId(pledgor.getClientId()) &gt; 0}">
    <h2>Закрытые договоры залога</h2>
    <div class="containerTable">
        <div th:replace="static/table_pledge_agreements :: pledgeAgreementTable(${@clientService.getClosedPledgeAgreementsByPledgorId(pledgor.getClientId())})"></div>
    </div>
</div>
</body>
</html>