<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="'Договор залога: №' + ${pledgeAgreement.getNumPE()}">Договор залога</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .loanAgreement, .loanAgreement td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
    </style>
</head>
<body>
<h1 th:text="'Договор залога: №' + ${pledgeAgreement.getNumPE()} + ' от ' + ${pledgeAgreement.getDateBeginPE()}">Договор залога</h1>

    <label>Номер договора залога:</label>
    <span th:text="${pledgeAgreement.getNumPE()}">н/д</span>
    <br>
    <br>
    <label>Дата начала ДЗ:</label>
    <span th:text="${pledgeAgreement.getDateBeginPE()}">н/д</span>
    <br>
    <br>
    <label>Дата окончания ДЗ:</label>
    <span th:text="${pledgeAgreement.getDateEndPE()}">н/д</span>
    <br>
    <br>
    <label>Залогодатель:</label>
    <div th:switch="${pledgeAgreement.getPledgor().getTypeOfClient()}">
        <div th:case="юл">
            <a th:href="@{/pledgor(pledgorId=${pledgeAgreement.getPledgor().getClientId()})}" href="pledgor.html"
               th:text="${pledgeAgreement.getPledgor().getClientLegalEntity().getOrganizationalForm() + ' ' + pledgeAgreement.getPledgor().getClientLegalEntity().getName()}">Залогодатель ЮЛ</a>
        </div>
        <div th:case="фл">
            <a th:href="@{/pledgor(pledgorId=${pledgeAgreement.getPledgor().getClientId()})}" href="pledgor.html"
               th:text="${pledgeAgreement.getPledgor().getClientIndividual().getSurname() + ' ' + pledgeAgreement.getPledgor().getClientIndividual().getName()}">Залогодатель ФЛ</a>

        </div>
    </div>
    <br>
    <br>
    <label>Тип договора:</label>
    <div th:switch="${pledgeAgreement.getPervPosl()}">
        <div th:case="перв">Первичный</div>
        <div th:case="посл">Последующий</div>
    </div>
    <br>
    <br>

    <label>Вид залогового обеспечения:</label>
    <div th:each="typeOfCollateral : ${@pledgeAgreementService.getTypeOfCollateral(pledgeAgreement.getPledgeAgreementId())}">
        <ul>
            <li th:text="${typeOfCollateral}">н/д</li>
        </ul>
    </div>
    <br>
    <br>
    <label>Количество предметов залога:</label>
    <a th:href="@{/pledge_subjects(pledgeAgreementId=${pledgeAgreement.getPledgeAgreementId()})}" href="pledge_subjects.html"
       th:text="${pledgeAgreement.getPledgeSubjects().size()}">н/д</a>
    <br>
    <br>
    <label>Рыночная стоимость по ДЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getRsDz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getZsDz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Рыночная стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getRsZz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Залоговая стоимость по ЗЗ:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getZsZz(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Справедливая стоимость:</label>
    <span th:text="${#numbers.formatCurrency(@pledgeAgreementService.getSs(pledgeAgreement.getPledgeAgreementId()))}">0.00</span>
    <br>
    <br>
    <label>Статус:</label>
    <span th:text="${pledgeAgreement.getStatusPE()}">н/д</span>
    <br>
    <br>
    <label>Комментарии:</label>
    <span th:text="${pledgeAgreement.getNoticePE()}">н/д</span>
    <br>
    <br>


    <div th:if="${@pledgeAgreementService.countOfCurrentLoanAgreements(pledgeAgreement.getPledgeAgreementId()) &gt; 0}">
        <label>Действующие кредитные договоры:</label>
        <div class="containerTable">
            <table class="loanAgreement">
                <thead>
                <tr>
                    <th>№КД</th>
                    <th>Дата начала КД</th>
                    <th>Дата окончания КД</th>
                    <th>Сумма договора</th>
                    <th>%</th>
                    <th>Задолженность</th>
                    <th>ПФО</th>
                    <th>Кат.кач.</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="loanAgreement : ${@pledgeAgreementService.getCurrentLoanAgreements(pledgeAgreement.getPledgeAgreementId())}">
                            <tr>
                                <td>
                                    <a th:href="@{/loan_agreement_detail(loanAgreementId=${loanAgreement.getLoanAgreementId()})}" href="loan_agreement_detail.html"
                                       th:text="${loanAgreement.getNumLE()}">№ КД</a>
                                </td>

                                <td th:text="${loanAgreement.getDateBeginLE()}"></td>

                                <td th:text="${loanAgreement.getDateEndLE()}"></td>

                                <td th:text="${#numbers.formatCurrency(loanAgreement.getAmountLE())}"></td>

                                <td th:text="${loanAgreement.getInterestRateLE() + '%'}"></td>

                                <td th:text="${#numbers.formatCurrency(loanAgreement.getDebtLE())}"></td>

                                <td th:text="${loanAgreement.getPfo()}"></td>

                                <td th:text="${loanAgreement.getQualityCategory()}"></td>

                            </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${@pledgeAgreementService.countOfClosedLoanAgreements(pledgeAgreement.getPledgeAgreementId()) &gt; 0}">
        <label>Закрытые кредитные договоры:</label>
        <div class="containerTable">
            <table class="loanAgreement">
                <thead>
                <tr>
                    <th>№КД</th>
                    <th>Дата начала КД</th>
                    <th>Дата окончания КД</th>
                    <th>Сумма договора</th>
                    <th>%</th>
                    <th>Задолженность</th>
                    <th>ПФО</th>
                    <th>Кат.кач.</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="loanAgreement : ${@pledgeAgreementService.getClosedLoanAgreements(pledgeAgreement.getPledgeAgreementId())}">

                            <tr>
                                <td>
                                    <a th:href="@{/loan_agreement_detail(loanAgreementId=${loanAgreement.getLoanAgreementId()})}" href="loan_agreement_detail.html"
                                       th:text="${loanAgreement.getNumLE()}">№ КД</a>
                                </td>

                                <td th:text="${loanAgreement.getDateBeginLE()}"></td>

                                <td th:text="${loanAgreement.getDateEndLE()}"></td>

                                <td th:text="${#numbers.formatCurrency(loanAgreement.getAmountLE())}"></td>

                                <td th:text="${loanAgreement.getInterestRateLE() + '%'}"></td>

                                <td th:text="${#numbers.formatCurrency(loanAgreement.getDebtLE())}"></td>

                                <td th:text="${loanAgreement.getPfo()}"></td>

                                <td th:text="${loanAgreement.getQualityCategory()}"></td>

                            </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>





</body>

</html>