<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whatDo}">
        <div th:case="changePS">
            <title th:text="'Обновление данные предмета залога: ' + ${pledgeSubject.getName()}">Обновление данные предмета залога</title>
        </div>
        <div th:case="newPS">
            <title th:text="'Создание нового предмета залога'">Создание нового предмета залога</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="static/nav :: user_nav_bar"></div>

<div th:switch="${whatDo}">
    <div th:case="changePS">
        <form th:action="@{/pledge_subject_card}" th:method="post" th:object="${pledgeSubject}" action="pledge_subject_card.html">
            <input type="hidden", name="whatDo" value="changePS">
            <input type="hidden", th:field="*{pledgeSubjectId}" th:value="${pledgeSubject.getPledgeSubjectId()}">
            <input type="hidden", th:field="*{zsDz}" th:value="${pledgeSubject.getZsDz()}">
            <input type="hidden", th:field="*{zsZz}" th:value="${pledgeSubject.getZsZz()}">
            <input type="hidden", th:field="*{rsDz}" th:value="${pledgeSubject.getRsDz()}">
            <input type="hidden", th:field="*{rsZz}" th:value="${pledgeSubject.getRsZz()}">
            <input type="hidden", th:field="*{ss}" th:value="${pledgeSubject.getSs()}">
            <input type="hidden", th:field="*{dateMonitoring}" th:value="${pledgeSubject.getDateMonitoring()}">
            <input type="hidden", th:field="*{dateConclusion}" th:value="${pledgeSubject.getDateConclusion()}">
            <input type="hidden", th:field="*{statusMonitoring}" th:value="${pledgeSubject.getStatusMonitoring()}">
            <!--<input type="hidden", th:field="*{typeOfCollateral}" th:value="${pledgeSubject.getTypeOfCollateral()}">-->
            <input type="hidden", th:field="*{typeOfMonitoring}" th:value="${pledgeSubject.getTypeOfMonitoring()}">
            <input type="hidden", th:field="*{pledgeAgreements}" th:value="${pledgeSubject.getPledgeAgreements()}">
            <input type="hidden", th:field="*{costHistories}" th:value="${pledgeSubject.getCostHistories()}">
            <input type="hidden", th:field="*{monitorings}" th:value="${pledgeSubject.getMonitorings()}">
            <input type="hidden", th:field="*{encumbrances}" th:value="${pledgeSubject.getEncumbrances()}">
            <input type="hidden", th:field="*{insurances}" th:value="${pledgeSubject.getInsurances()}">
            <input type="hidden", th:field="*{pledgeSubjectAuto}" th:value="${pledgeSubject.getPledgeSubjectAuto()}">
            <input type="hidden", th:field="*{pledgeSubjectEquipment}" th:value="${pledgeSubject.getPledgeSubjectEquipment()}">
            <input type="hidden", th:field="*{pledgeSubjectRealty}" th:value="${pledgeSubject.getPledgeSubjectRealty()}">
            <input type="hidden", th:field="*{pledgeSubjectSecurities}" th:value="${pledgeSubject.getPledgeSubjectSecurities()}">
            <input type="hidden", th:field="*{pledgeSubjectTBO}" th:value="${pledgeSubject.getPledgeSubjectTBO()}">
            <input type="hidden", th:field="*{pledgeSubjectVessel}" th:value="${pledgeSubject.getPledgeSubjectVessel()}">

            <div class="row">
                <label>Наименование:</label>
                <input required th:field="*{name}" type="text" th:value="${pledgeSubject.getName()}"/>
            </div>
            <br>
            <div class="row">
                <label>Ликвидность</label>
                <select required th:field="*{liquidity}">
                    <option value="высокая">высокая</option>
                    <option value="средняя">средняя</option>
                    <option value="ниже средней">ниже средней</option>
                    <option value="низкая">низкая</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Вид обеспечения</label>
                <select required th:field="*{typeOfCollateral}">
                    <option value="Авто/спецтехника">Авто/спецтехника</option>
                    <option value="Оборудование">Оборудование</option>
                    <option value="ТМЦ">ТМЦ</option>
                    <option value="Ценные бумаги">Ценные бумаги</option>
                    <option value="Недвижимость - ЗУ - собственность">Недвижимость - ЗУ - собственность</option>
                    <option value="Недвижимость - ЗУ - право аренды">Недвижимость - ЗУ - право аренды</option>
                    <option value="Недвижимость - здание/сооружение">Недвижимость - здание/сооружение</option>
                    <option value="Недвижимость - помещение">Недвижимость - помещение</option>
                    <option value="Судно">Судно</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Функция залога</label>
                <select required th:field="*{typeOfPledge}">
                    <option value="возвратная">возвратная</option>
                    <option value="рычаговая">рычаговая</option>
                    <option value="ограничивающая">ограничивающая</option>
                    <option value="информационная">информационная</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label>Адрес(Регион)</label>
                <input required th:field="*{adressRegion}" type="text" th:value="${pledgeSubject.getAdressRegion()}"/>
            </div>
            <br>
            <div class="row">
                <label>Адрес(Район)</label>
                <input th:field="*{adressDistrict}" type="text" th:value="${pledgeSubject.getAdressDistrict()}"/>
            </div>
            <br>
            <div class="row">
            <label>Адрес(Город)</label>
            <input th:field="*{adressCity}" type="text" th:value="${pledgeSubject.getAdressCity()}"/>
            </div>
            <br>
            <div class="row">
                <label>Адрес(Улица)</label>
                <input th:field="*{adressStreet}" type="text" th:value="${pledgeSubject.getAdressStreet()}"/>
            </div>
            <br>
            <div class="row">
                <label>Адрес(Дом)</label>
                <input th:field="*{adressBuilbing}" type="text" th:value="${pledgeSubject.getAdressBuilbing()}"/>
            </div>
            <br>
            <div class="row">
                <label>Адрес(Помещение)</label>
                <input th:field="*{adressPemises}" type="text" th:value="${pledgeSubject.getAdressPemises()}"/>
            </div>
            <br>
            <div class="row">
                <label>Обязательство страхования</label>
                <select required th:field="*{insuranceObligation}">
                    <option value="да">да</option>
                    <option value="нет">нет</option>
                </select>
            </div>
            <br>


            <div th:switch="${pledgeSubject.getTypeOfCollateral()}">
                <div th:case="'Авто/спецтехника'">
                    <div class="row">
                        <label>Марка</label>
                        <input required th:field="*{pledgeSubjectAuto.brand}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getBrand()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Модель</label>
                        <input required th:field="*{pledgeSubjectAuto.model}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getModel()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>VIN</label>
                        <input th:field="*{pledgeSubjectAuto.vin}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getVin()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>№ двигателя</label>
                        <input  th:field="*{pledgeSubjectAuto.numOfEngine}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getNumOfEngine()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>№ ПТС</label>
                        <input th:field="*{pledgeSubjectAuto.numOfPTS}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getNumOfPTS()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Год выпуска</label>
                        <input th:field="*{pledgeSubjectAuto.yearOfManufacture}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getYearOfManufacture()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Инв. №</label>
                        <input th:field="*{pledgeSubjectAuto.inventoryNum}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getInventoryNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>л.с.</label>
                        <input th:field="*{pledgeSubjectAuto.horsepower}" type="text" th:value="${pledgeSubject.getPledgeSubjectAuto().getHorsepower()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид транспорта</label>
                        <select required th:field="*{pledgeSubjectAuto.typeOfAuto}">
                            <option value="бульдозер">бульдозер</option>
                            <option value="экскаватор">экскаватор</option>
                            <option value="прицеп">прицеп</option>
                            <option value="погрузчик">погрузчик</option>
                            <option value="кран">кран</option>
                            <option value="дорожно-строительная">дорожно-строительная</option>
                            <option value="комбайн">комбайн</option>
                            <option value="трактор">трактор</option>
                            <option value="пассажирский транспорт">пассажирский транспорт</option>
                            <option value="грузовой транспорт">грузовой транспорт</option>
                            <option value="легковой транспорт">легковой транспорт</option>
                            <option value="ж/д транспорт">ж/д транспорт</option>
                            <option value="иное">иное</option>
                        </select>
                    </div>
                </div>


                <div th:case="'Оборудование'">
                    <div class="row">
                        <label>Марка</label>
                        <input required th:field="*{pledgeSubjectEquipment.brand}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getBrand()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Модель</label>
                        <input required th:field="*{pledgeSubjectEquipment.model}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getModel()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Завод. №</label>
                        <input th:field="*{pledgeSubjectEquipment.serialNum}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getSerialNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Год выпуска</label>
                        <input th:field="*{pledgeSubjectEquipment.yearOfManufacture}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getYearOfManufacture()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Инв. №</label>
                        <input th:field="*{pledgeSubjectEquipment.inventoryNum}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getInventoryNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид оборудования</label>
                        <select required th:field="*{pledgeSubjectEquipment.typeOfquipment}">
                            <option selected value="">не выбрано</option>
                            <option value="металлообработка">металлообработка</option>
                            <option value="лесообработка">лесообработка</option>
                            <option value="торговое">торговое</option>
                            <option value="офисное">офисное</option>
                            <option value="сети ито">сети ито</option>
                            <option value="рекламное">рекламное</option>
                            <option value="пищевое">пищевое</option>
                            <option value="автомобильное">автомобильное</option>
                            <option value="азс">азс</option>
                            <option value="химическое">химическое</option>
                            <option value="измерительное">измерительное</option>
                            <option value="медицинское">медицинское</option>
                            <option value="нефте-газовое">нефте-газовое</option>
                            <option value="карьерное и горное">карьерное и горное</option>
                            <option value="подъемное">подъемное</option>
                            <option value="авиационное">авиационное</option>
                            <option value="строительое">строительое</option>
                            <option value="ресторанное">ресторанное</option>
                            <option value="транспортировка">транспортировка</option>
                            <option value="упаковачное">упаковачное</option>
                            <option value="хранение">хранение</option>
                            <option value="с/х назначения">с/х назначения</option>
                            <option value="иное">иное</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Производительность</label>
                        <input th:field="*{pledgeSubjectEquipment.productivity}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getProductivity()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид производительности</label>
                        <input th:field="*{pledgeSubjectEquipment.typeOfProductivity}" type="text" th:value="${pledgeSubject.getPledgeSubjectEquipment().getTypeOfProductivity()}"/>
                    </div>
                </div>


                <div th:case="'Ценные бумаги'">
                    <div class="row">
                        <label>Номинал. стоимость</label>
                        <input required th:field="*{pledgeSubjectSecurities.nominalValue}" type="text" th:value="${pledgeSubject.getPledgeSubjectSecurities().getNominalValue()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Действ. стоимость</label>
                        <input required th:field="*{pledgeSubjectSecurities.actualValue}" type="text" th:value="${pledgeSubject.getPledgeSubjectSecurities().getActualValue()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид ценных бумаг</label>
                        <select required th:field="*{pledgeSubjectSecurities.typeOfSecurities}">
                            <option value="доли в ук">доли в ук</option>
                            <option value="акции">акции</option>
                            <option value="вексель">вексель</option>
                            <option value="паи">паи</option>
                        </select>
                    </div>
                </div>


                <div th:case="'Судно'">
                    <div class="row">
                        <label>ИМО</label>
                        <input required th:field="*{pledgeSubjectVessel.imo}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getImo()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>MMSI</label>
                        <input th:field="*{pledgeSubjectVessel.mmsi}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getMmsi()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Флаг</label>
                        <input required th:field="*{pledgeSubjectVessel.flag}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getFlag()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Валовый тоннаж</label>
                        <input required th:field="*{pledgeSubjectVessel.grossTonnage}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getGrossTonnage()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Дедвейт</label>
                        <input required th:field="*{pledgeSubjectVessel.deadweight}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getDeadweight()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Год постройки</label>
                        <input required th:field="*{pledgeSubjectVessel.yearBuilt}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getYearBuilt()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Статус судна</label>
                        <input required th:field="*{pledgeSubjectVessel.statusVessel}" type="text" th:value="${pledgeSubject.getPledgeSubjectVessel().getStatusVessel()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид судна</label>
                        <select required th:field="*{pledgeSubjectVessel.vesselType}">
                            <option value="general cargo (gcd)">general cargo (gcd)</option>
                            <option value="container ship (con)">container ship (con)</option>
                            <option value="log carrier/timber (log)">log carrier/timber (log)</option>
                            <option value="ro-ro (r/r)">ro-ro (r/r)</option>
                            <option value="bulk carrier (b/c)">bulk carrier (b/c)</option>
                            <option value="ore/oil carrier (o/o)">ore/oil carrier (o/o)</option>
                            <option value="oil/bulk/ore carrier (obo)">oil/bulk/ore carrier (obo)</option>
                            <option value="tanker product (tnp)">tanker product (tnp)</option>
                            <option value="tanker crude (tnc)">tanker crude (tnc)</option>
                            <option value="tanker storage (tns)">tanker storage (tns)</option>
                            <option value="tanker vlcc/ulcc (tnv)">tanker vlcc/ulcc (tnv)</option>
                            <option value="chemical tanker (chm)">chemical tanker (chm)</option>
                            <option value="lpg/lng carrier (gas)">lpg/lng carrier (gas)</option>
                            <option value="offshore supply vessel (osv)">offshore supply vessel (osv)</option>
                            <option value="heavy lift vessel (hvl)">heavy lift vessel (hvl)</option>
                            <option value="survey vessel (srv)">survey vessel (srv)</option>
                            <option value="passenger ship (pas)">passenger ship (pas)</option>
                            <option value="reefer (rfg)">reefer (rfg)</option>
                            <option value="livestock carrier (liv)">livestock carrier (liv)</option>
                            <option value="tug">tug</option>
                            <option value="fishing trawler (fsh)">fishing trawler (fsh)</option>
                            <option value="dredger (drg)">dredger (drg)</option>
                            <option value="м">м</option>
                            <option value="м-сп">м-сп</option>
                            <option value="о">о</option>
                            <option value="р">р</option>
                            <option value="л">л</option>
                        </select>
                    </div>
                </div>


                <div th:case="'ТМЦ'">
                    <div class="row">
                        <label>Количество</label>
                        <input th:field="*{pledgeSubjectTBO.countOfTBO}" type="text" th:value="${pledgeSubject.getPledgeSubjectTBO().getCountOfTBO()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Баланс. стоимость</label>
                        <input th:field="*{pledgeSubjectTBO.carryingAmount}" type="text" th:value="${pledgeSubject.getPledgeSubjectTBO().getCarryingAmount()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Вид ТМЦ</label>
                        <select required th:field="*{pledgeSubjectTBO.typeOfTBO}">
                            <option value="транспорт">транспорт</option>
                            <option value="запчасти">запчасти</option>
                            <option value="одежда">одежда</option>
                            <option value="продукты питания">продукты питания</option>
                            <option value="алкоголь">алкоголь</option>
                            <option value="нефтехимия">нефтехимия</option>
                            <option value="металлопродукция">металлопродукция</option>
                            <option value="стройматериалы">стройматериалы</option>
                            <option value="крс">крс</option>
                            <option value="мрс">мрс</option>
                            <option value="медикаменты">медикаменты</option>
                            <option value="сантехника">сантехника</option>
                        </select>
                    </div>
                </div>


                <div th:case="'Недвижимость - ЗУ - собственность'">
                    <input type="hidden", th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership}"
                           th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership()}">

                    <div class="row">
                        <label>Площадь</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.area}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getArea()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. №</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.cadastralNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Услов. №</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.conditionalNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Категория земель</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.landCategory}">
                            <div th:each="lc : ${landCategoryList}">
                                <option th:text="${lc.name}" th:value="${lc.landCategoryid}"></option>
                            </div>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Разрешенное использование</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.permittedUse}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getPermittedUse()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Наличение ОКС</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.builtUp}">
                            <option value="да">да</option>
                            <option value="нет">нет</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. № ОКС</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandOwnership.cadastralNumOfBuilding}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandOwnership().getCadastralNumOfBuilding()}"/>
                    </div>
                </div>


                <div th:case="'Недвижимость - ЗУ - право аренды'">
                    <input type="hidden", th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease}"
                           th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease()}">

                    <div class="row">
                        <label>Площадь</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.area}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getArea()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. №</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.cadastralNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Услов. №</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.conditionalNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Категория земель</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.landCategory}">
                            <div th:each="lc : ${landCategoryList}">
                                <option th:text="${lc.name}" th:value="${lc.landCategoryid}"></option>
                            </div>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Разрешенное использование</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.permittedUse}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getPermittedUse()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Наличение ОКС</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.builtUp}">
                            <option value="да">да</option>
                            <option value="нет">нет</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. № ОКС</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.cadastralNumOfBuilding}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getCadastralNumOfBuilding()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Дата начала аренды</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.dateBeginLease}" type="date"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getDateBeginLease()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Дата окончания аренды</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyLandLease.dateEndLease}" type="date"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyLandLease().getDateEndLease()}"/>
                    </div>
                </div>


                <div th:case="'Недвижимость - здание/сооружение'">
                    <input type="hidden", th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding}"
                           th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding()}">

                    <div class="row">
                        <label>Площадь</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.area}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getArea()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. №</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.cadastralNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Услов. №</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.conditionalNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Степень готовноси</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.readinessDegree}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding().getReadinessDegree()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Год постройки</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.yearOfConstruction}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyBuilding().getYearOfConstruction()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Сегмент рынка</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyBuilding.marketSegment}">
                            <div th:each="ms : ${marketSegmentList}">
                                <option th:text="${ms.name}" th:value="${ms.marketSegmentId}"></option>
                            </div>
                        </select>
                    </div>
                </div>


                <div th:case="'Недвижимость - помещение'">
                    <input type="hidden", th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom}"
                           th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyRoom()}">

                    <div class="row">
                        <label>Площадь</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.area}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getArea()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Кад. №</label>
                        <input required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.cadastralNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getCadastralNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Услов. №</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.conditionalNum}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getConditionalNum()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Этаж расположения</label>
                        <input th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.floorLocation}" type="text"
                               th:value="${pledgeSubject.getPledgeSubjectRealty().getPledgeSubjectRealtyRoom().getFloorLocation()}"/>
                    </div>
                    <br>
                    <div class="row">
                        <label>Сегмент рынка помещения</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.marketSegmentRoom}">
                            <div th:each="ms : ${marketSegmentList}">
                                <option th:text="${ms.name}" th:value="${ms.marketSegmentId}"></option>
                            </div>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Сегмент рынка здания где расположенно помещение</label>
                        <select required th:field="*{pledgeSubjectRealty.pledgeSubjectRealtyRoom.marketSegmentBuilding}">
                            <div th:each="ms : ${marketSegmentList}">
                                <option th:text="${ms.name}" th:value="${ms.marketSegmentId}"></option>
                            </div>
                        </select>
                    </div>
                </div>
            </div>


            <button type="submit">Обновить</button>
        </form>
    </div>
    <div th:case="newPS">
    </div>
</div>



</body>
</html>