<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <style>
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="static/nav :: user_nav_bar"></div>

<h2>Поиск кредитного договора</h2>
<form th:action="@{/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchLA">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>№ КД</label>
        <input name="numLA" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Заемщик</label>
        <input name="loaner" type="text"/>
        <select name="loanerOption">
            <option selected value="юл">ЮЛ</option>
            <option value="фл">ФЛ</option>
        </select>
    </div>
    <br>
    <div class="row">
            <label>дата начала КД</label>
            <input name="dateBeginLA" type="date"/>
            <select name="dateBeginLAOption">
                <option selected value=":">равно</option>
                <option value=">">больше</option>
                <option value=">=">больше или ровно</option>
                <option value="<">меньше</option>
                <option value="<=">меньше или равно</option>
            </select>
    </div>
    <br>
    <div class="row">
        <label>Дата окончания КД</label>
        <input name="dateEndLA" type="date"/>
        <select name="dateEndLAOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ПФО</label>
        <input name="pfo" type="text"/>
        <select name="pfoOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Кат.кач</label>
        <input name="quality" type="text"/>
        <select name="qualityOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Сумма договора</label>
        <input name="amaunt" type="text"/>
        <select name="amauntOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Ссудная задолженность</label>
        <input name="debt" type="text"/>
        <select name="debtOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>%</label>
        <input name="interestRate" type="text"/>
        <select name="interestRateOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Статус КД</label>
        <select name="statusLA">
            <option selected value="открыт">открыт</option>
            <option value="закрыт">закрыт</option>
        </select>
    </div>
    <br>
    <button type="submit">Найти</button>
</form>


<h2>Поиск договора залога</h2>
<form th:action="@{/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchPA">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>№ ДЗ</label>
        <input name="numPA" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Залогодатель</label>
        <input name="pledgor" type="text"/>
        <select name="pledgorOption">
            <option selected value="юл">ЮЛ</option>
            <option value="фл">ФЛ</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>дата начала ДЗ</label>
        <input name="dateBeginPA" type="date"/>
        <select name="dateBeginPAOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата окончания ДЗ</label>
        <input name="dateEndPA" type="date"/>
        <select name="dateEndPAOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Перв/посл</label>
        <select name="pervPslOption">
            <option selected value="all">Все</option>
            <option value="перв">Первичный</option>
            <option value="посл">Последующий</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Рыночная стоимость по ДЗ</label>
        <input name="rsDZ" type="text"/>
        <select name="rsDZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Рыночная стоимость по ЗЗ</label>
        <input name="rsZZ" type="text"/>
        <select name="rsZZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость по ДЗ</label>
        <input name="zsDZ" type="text"/>
        <select name="zsDZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Залоговая стоимость по ЗЗ</label>
        <input name="zsZZ" type="text"/>
        <select name="zsZZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Справедливая стоимость</label>
        <input name="ss" type="text"/>
        <select name="ssOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Статус ДЗ</label>
        <select name="statusPA">
            <option selected value="открыт">открыт</option>
            <option value="закрыт">закрыт</option>
        </select>
    </div>
    <br>
    <button type="submit">Найти</button>
</form>

<h2>Поиск клиента</h2>
<form th:action="@{/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchClient">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>Клиент</label>
        <input name="clientName" type="text"/>
        <select id="whatSearchClient" onchange="choiseClient()" name="clientOption">
            <option selected value="юл">ЮЛ</option>
            <option value="фл">ФЛ</option>
        </select>
    </div>
    <br>
    <div id="elementClient"></div>

    <button type="submit">Найти</button>
</form>

<h2>Поиск предмета залога</h2>
<h3><u>Общие признаки</u>(поиск по всем видам имущества)</h3>

<form th:action="@{/search_results}" th:method="get" action="search_results.html">
    <input type="hidden", name="typeOfSearch" value="searchPS">
    <input type="hidden", name="size" value='50'>
    <input type="hidden", name="page" value='0'>

    <div class="row">
        <label>Наименование</label>
        <input name="namePS" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Ликвидность</label>
        <select name="liquidity">
            <option selected value="">не выбрано</option>
            <option value="высокая">высокая</option>
            <option value="средняя">средняя</option>
            <option value="ниже средней">ниже средней</option>
            <option value="низкая">низкая</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>РС по ДЗ</label>
        <input name="rsDZ" type="text"/>
        <select name="rsDZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ДЗ</label>
        <input name="zsDZ" type="text"/>
        <select name="zsDZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>РС по ЗЗ</label>
        <input name="rsZZ" type="text"/>
        <select name="rsZZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>ЗС по ЗЗ</label>
        <input name="zsZZ" type="text"/>
        <select name="zsZZOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>СС</label>
        <input name="ss" type="text"/>
        <select name="ssOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата мониторинга</label>
        <input name="dateMonitoring" type="date"/>
        <select name="dateMonitoringOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Дата заключения</label>
        <input name="dateConclusion" type="date"/>
        <select name="dateConclusionOption">
            <option selected value=":">равно</option>
            <option value=">">больше</option>
            <option value=">=">больше или ровно</option>
            <option value="<">меньше</option>
            <option value="<=">меньше или равно</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Результат мониторинга</label>
        <select name="resultOfMonitoring">
            <option selected value="">не выбрано</option>
            <option value="в наличии">в наличии</option>
            <option value="частичная утрата">частичная утрата</option>
            <option value="утрата">утрата</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Функция залога</label>
        <select name="typeOfPledge">
            <option selected value="">не выбрано</option>
            <option value="возвратная">возвратная</option>
            <option value="рычаговая">рычаговая</option>
            <option value="ограничивающая">ограничивающая</option>
            <option value="информационная">информационная</option>
        </select>
    </div>
    <br>
    <div class="row">
        <label>Адрес(Регион)</label>
        <input name="adressRegion" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Адрес(Район)</label>
        <input name="adressDistrict" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Адрес(Город)</label>
        <input name="adressCity" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Адрес(Улица)</label>
        <input name="adressStreet" type="text"/>
    </div>
    <br>
    <div class="row">
        <label>Обязательство страхования</label>
        <select name="insuranceObligation">
            <option selected value="">не выбрано</option>
            <option value="да">да</option>
            <option value="нет">нет</option>
        </select>
    </div>
    <br>
    <h3><u>Поиск по конкретному виду обеспечения</u></h3>
    <div class="row">
        <label>Вид обеспечения</label>
        <select id="whatSearchPS" onchange="choisePS()" name="typeOfCollateral">
            <option selected value="">Не выбрано</option>
            <option value="auto">Авто/спецтехника</option>
            <option value="equip">Оборудование</option>
            <option value="tbo">ТМЦ</option>
            <option value="securities">Ценные бумаги</option>
            <option value="landOwn">Недвижимость - ЗУ - собственность</option>
            <option value="landLease">Недвижимость - ЗУ - право аренды</option>
            <option value="build">Недвижимость - здание/сооружение</option>
            <option value="room">Недвижимость - помещение</option>
            <option value="vessel">Судно</option>
        </select>
    </div>
    <br>
    <div id="elementPS"></div>
    <button type="submit">Найти</button>
</form>











<script>
    $(document).ready(choiseClient());
    $(document).ready(choisePS());



    function choiseClient() {
        var n = document.getElementById("whatSearchClient").options.selectedIndex;
        var choise = document.getElementById("whatSearchClient").options[n].value;
        if(choise == 'юл'){
            var codeInner = '<div class="row">\n' +
                '        <label>ИНН</label>\n' +
                '        <input name="inn" type="text"/>\n' +
                '    </div>\n' +
                '    <br>';
            elementClient.innerHTML = '';
            elementClient.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'фл'){
            var codeInner = '<div class="row">\n' +
                '        <label>№ паспорта</label>\n' +
                '        <input name="pasportNum" type="text"/>\n' +
                '    </div>\n' +
                '    <br>';
            elementClient.innerHTML = '';
            elementClient.insertAdjacentHTML('afterbegin', codeInner);
        }
    }


    function choisePS () {
        var n = document.getElementById("whatSearchPS").options.selectedIndex;
        var choise = document.getElementById("whatSearchPS").options[n].value;
        if(choise == ''){
            elementPS.innerHTML = '';
        }else if(choise == 'auto'){
            var codeInner = '<div class="row">\n' +
                '<label>Марка</label>\n' +
                '<input name="brandAuto" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Модель</label>\n' +
                '<input name="modelAuto" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>VIN</label>\n' +
                '<input name="vin" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>№ двигателя</label>\n' +
                '<input name="numOfEngine" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>№ПТС</label>\n' +
                '<input name="numOfPts" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Год выпуска</label>\n' +
                '<input name="yearOfManufactureAuto" type="text"/>\n' +
                '<select name="yearOfManufactureAutoOption">\n' +
                '<option selected value=":">равно</option>\n' +
                '<option value=">">больше</option>\n' +
                '<option value=">=">больше или ровно</option>\n' +
                '<option value="<">меньше</option>\n' +
                '<option value="<=">меньше или равно</option>\n' +
                '</select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Инв.№</label>\n' +
                '<input name="inventoryNumAuto" type="text">\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '<label>Вид транспорта</label>\n' +
                '<select name="typeOfAuto">\n' +
                '<option selected value="">не выбрано</option>\n' +
                '<option value="бульдозер">бульдозер</option>\n' +
                '<option value="экскаватор">экскаватор</option>\n' +
                '<option value="прицеп">прицеп</option>\n' +
                '<option value="погрузчик">погрузчик</option>\n' +
                '<option value="кран">кран</option>\n' +
                '<option value="дорожно-строительная">дорожно-строительная</option>\n' +
                '<option value="комбайн">комбайн</option>\n' +
                '<option value="трактор">трактор</option>\n' +
                '<option value="пассажирский транспорт">пассажирский транспорт</option>\n' +
                '<option value="грузовой транспорт">грузовой транспорт</option>\n' +
                '<option value="легковой транспорт">легковой транспорт</option>\n' +
                '<option value="ж/д транспорт">ж/д транспорт</option>\n' +
                '<option value="иное">иное</option>\n' +
                '</select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'equip'){
            var codeInner = '<div class="row">\n' +
                '    <label>Марка</label>\n' +
                '    <input name="brandEquip" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Модель</label>\n' +
                '    <input name="modelEquip" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Завод №</label>\n' +
                '    <input name="SerialNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год выпуска</label>\n' +
                '    <input name="yearOfManufactureEquip" type="text"/>\n' +
                '    <select name="yearOfManufactureEquipOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Инв №</label>\n' +
                '    <input name="inventoryNumEquip" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид оборудования</label>\n' +
                '    <select name="typeOfEquip">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="металлообработка">металлообработка</option>\n' +
                '        <option value="лесообработка">лесообработка</option>\n' +
                '        <option value="торговое">торговое</option>\n' +
                '        <option value="офисное">офисное</option>\n' +
                '        <option value="сети ито">сети ито</option>\n' +
                '        <option value="рекламное">рекламное</option>\n' +
                '        <option value="пищевое">пищевое</option>\n' +
                '        <option value="автомобильное">автомобильное</option>\n' +
                '        <option value="азс">азс</option>\n' +
                '        <option value="химическое">химическое</option>\n' +
                '        <option value="измерительное">измерительное</option>\n' +
                '        <option value="медицинское">медицинское</option>\n' +
                '        <option value="нефте-газовое">нефте-газовое</option>\n' +
                '        <option value="карьерное и горное">карьерное и горное</option>\n' +
                '        <option value="подъемное">подъемное</option>\n' +
                '        <option value="авиационное">авиационное</option>\n' +
                '        <option value="строительое">строительое</option>\n' +
                '        <option value="ресторанное">ресторанное</option>\n' +
                '        <option value="транспортировка">транспортировка</option>\n' +
                '        <option value="упаковачное">упаковачное</option>\n' +
                '        <option value="хранение">хранение</option>\n' +
                '        <option value="с/х назначения">с/х назначения</option>\n' +
                '        <option value="иное">иное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'tbo'){
            var codeInner = '<div class="row">\n' +
                '    <label>Баланс. стоимость</label>\n' +
                '    <input name="carryingAmount" type="text"/>\n' +
                '    <select name="carryingAmountOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид ТМЦ</label>\n' +
                '    <select name="typeOfTbo">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="транспорт">транспорт</option>\n' +
                '        <option value="запчасти">запчасти</option>\n' +
                '        <option value="одежда">одежда</option>\n' +
                '        <option value="продукты питания">продукты питания</option>\n' +
                '        <option value="алкоголь">алкоголь</option>\n' +
                '        <option value="нефтехимия">нефтехимия</option>\n' +
                '        <option value="металлопродукция">металлопродукция</option>\n' +
                '        <option value="стройматериалы">стройматериалы</option>\n' +
                '        <option value="крс">крс</option>\n' +
                '        <option value="мрс">мрс</option>\n' +
                '        <option value="медикаменты">медикаменты</option>\n' +
                '        <option value="сантехника">сантехника</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'securities'){
            var codeInner = '<div class="row">\n' +
                '    <label>Номинал. стоимость</label>\n' +
                '    <input name="nominalValue" type="text"/>\n' +
                '    <select name="nominalValueOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Действ. стоимость</label>\n' +
                '    <input name="actuaValue" type="text"/>\n' +
                '    <select name="actuaValueOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид ценных бумаг</label>\n' +
                '    <select name="typeOfSecurities">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="доли в ук">доли в ук</option>\n' +
                '        <option value="акции">акции</option>\n' +
                '        <option value="вексель">вексель</option>\n' +
                '        <option value="паи">паи</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'landOwn'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="CadastralNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input name="area" type="text"/>\n' +
                '    <select name="areaOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="ConditionalNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Категория земель</label>\n' +
                '    <select name="landCategory">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="1">земли сельскохозяйственного назначения</option>\n' +
                '        <option value="2">земли населенных пунктов</option>\n' +
                '        <option value="3">земли промышленности, энергетики, транспорта, связи...</option>\n' +
                '        <option value="4">земли особо охраняемых территорий и объектов</option>\n' +
                '        <option value="5">земли лесного фонда</option>\n' +
                '        <option value="6">земли водного фонда</option>\n' +
                '        <option value="7">земли запаса</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Разрешенное использование</label>\n' +
                '    <input name="permittedUse" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Наличие ОКС</label>\n' +
                '    <select name="builtUp">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="да">да</option>\n' +
                '        <option value="нет">нет</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Кад № ОКС</label>\n' +
                '    <input name="cadastralNumOfBuilding" type="text"/>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'landLease'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="CadastralNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input name="area" type="text"/>\n' +
                '    <select name="areaOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="ConditionalNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Категория земель</label>\n' +
                '    <select name="landCategory">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="1">земли сельскохозяйственного назначения</option>\n' +
                '        <option value="2">земли населенных пунктов</option>\n' +
                '        <option value="3">земли промышленности, энергетики, транспорта, связи...</option>\n' +
                '        <option value="4">земли особо охраняемых территорий и объектов</option>\n' +
                '        <option value="5">земли лесного фонда</option>\n' +
                '        <option value="6">земли водного фонда</option>\n' +
                '        <option value="7">земли запаса</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Разрешенное использование</label>\n' +
                '    <input name="permittedUse" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Наличие ОКС</label>\n' +
                '    <select name="builtUp">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="да">да</option>\n' +
                '        <option value="нет">нет</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Кад № ОКС</label>\n' +
                '    <input name="cadastralNumOfBuilding" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дата начала аренды</label>\n' +
                '    <input name="beginDateLease" type="text"/>\n' +
                '    <select name="beginDateLeaseOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дата окончания аренды</label>\n' +
                '    <input name="endDateLease" type="text"/>\n' +
                '    <select name="endDateLeaseOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'build'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="CadastralNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input name="area" type="text"/>\n' +
                '    <select name="areaOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="ConditionalNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка</label>\n' +
                '    <select name="marketSegmentBuilding">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="Торговое">Торговое</option>\n' +
                '        <option value="Офисное">Офисное</option>\n' +
                '        <option value="Торгово-Офисное">Торгово-Офисное</option>\n' +
                '        <option value="Производственное">Производственное</option>\n' +
                '        <option value="Складское">Складское</option>\n' +
                '        <option value="Производственно-складсткое">Производственно-складсткое</option>\n' +
                '        <option value="Квартира">Квартира</option>\n' +
                '        <option value="Жилой дом">Жилой дом</option>\n' +
                '        <option value="Инженерное">Инженерное</option>\n' +
                '        <option value="с/х">с/х</option>\n' +
                '        <option value="Вспомогательное">Вспомогательное</option>\n' +
                '        <option value="Гостиничное">Гостиничное</option>\n' +
                '        <option value="Рекреационное">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Степень готовности</label>\n' +
                '    <input name="readinessВegree" type="text"/>\n' +
                '    <select name="readinessВegreeOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год постройки</label>\n' +
                '    <input name="yearOfConstructionBuilding" type="text"/>\n' +
                '    <select name="yearOfConstructionBuildingOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'room'){
            var codeInner = '<div class="row">\n' +
                '    <label>Кад №</label>\n' +
                '    <input name="CadastralNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Площадь</label>\n' +
                '    <input name="area" type="text"/>\n' +
                '    <select name="areaOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Условный №</label>\n' +
                '    <input name="ConditionalNum" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка ппомещения</label>\n' +
                '    <select name="marketSegmentRoom">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="Торговое">Торговое</option>\n' +
                '        <option value="Офисное">Офисное</option>\n' +
                '        <option value="Торгово-Офисное">Торгово-Офисное</option>\n' +
                '        <option value="Производственное">Производственное</option>\n' +
                '        <option value="Складское">Складское</option>\n' +
                '        <option value="Производственно-складсткое">Производственно-складсткое</option>\n' +
                '        <option value="Квартира">Квартира</option>\n' +
                '        <option value="Жилой дом">Жилой дом</option>\n' +
                '        <option value="Инженерное">Инженерное</option>\n' +
                '        <option value="с/х">с/х</option>\n' +
                '        <option value="Вспомогательное">Вспомогательное</option>\n' +
                '        <option value="Гостиничное">Гостиничное</option>\n' +
                '        <option value="Рекреационное">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Сегмент рынка здания где расположено помещение</label>\n' +
                '    <select name="marketSegmentBuilding">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="Торговое">Торговое</option>\n' +
                '        <option value="Офисное">Офисное</option>\n' +
                '        <option value="Торгово-Офисное">Торгово-Офисное</option>\n' +
                '        <option value="Производственное">Производственное</option>\n' +
                '        <option value="Складское">Складское</option>\n' +
                '        <option value="Производственно-складсткое">Производственно-складсткое</option>\n' +
                '        <option value="Квартира">Квартира</option>\n' +
                '        <option value="Жилой дом">Жилой дом</option>\n' +
                '        <option value="Инженерное">Инженерное</option>\n' +
                '        <option value="с/х">с/х</option>\n' +
                '        <option value="Вспомогательное">Вспомогательное</option>\n' +
                '        <option value="Гостиничное">Гостиничное</option>\n' +
                '        <option value="Рекреационное">Рекреационное</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Этаж расположения</label>\n' +
                '    <input name="floorLocation" type="text"/>\n' +
                '    <select name="floorLocationOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.innerHTML = '';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }else if(choise == 'vessel'){
            var codeInner = '';
            elementPS.innerHTML = '<div class="row">\n' +
                '    <label>IMO</label>\n' +
                '    <input name="imo" type="text"/>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Вид судна</label>\n' +
                '    <select name="typeOfVessel">\n' +
                '        <option selected value="">не выбрано</option>\n' +
                '        <option value="general cargo (gcd)">general cargo (gcd)</option>\n' +
                '        <option value="container ship (con)">container ship (con)</option>\n' +
                '        <option value="log carrier/timber (log)">log carrier/timber (log)</option>\n' +
                '        <option value="ro-ro (r/r)">ro-ro (r/r)</option>\n' +
                '        <option value="bulk carrier (b/c)">bulk carrier (b/c)</option>\n' +
                '        <option value="ore/oil carrier (o/o)">ore/oil carrier (o/o)</option>\n' +
                '        <option value="oil/bulk/ore carrier (obo)">oil/bulk/ore carrier (obo)</option>\n' +
                '        <option value="tanker product (tnp)">tanker product (tnp)</option>\n' +
                '        <option value="tanker crude (tnc)">tanker crude (tnc)</option>\n' +
                '        <option value="tanker storage (tns)">tanker storage (tns)</option>\n' +
                '        <option value="tanker vlcc/ulcc (tnv)">tanker vlcc/ulcc (tnv)</option>\n' +
                '        <option value="chemical tanker (chm)">chemical tanker (chm)</option>\n' +
                '        <option value="lpg/lng carrier (gas)">lpg/lng carrier (gas)</option>\n' +
                '        <option value="offshore supply vessel (osv)">offshore supply vessel (osv)</option>\n' +
                '        <option value="heavy lift vessel (hvl)">heavy lift vessel (hvl)</option>\n' +
                '        <option value="survey vessel (srv)">survey vessel (srv)</option>\n' +
                '        <option value="passenger ship (pas)">passenger ship (pas)</option>\n' +
                '        <option value="reefer (rfg)">reefer (rfg)</option>\n' +
                '        <option value="livestock carrier (liv)">livestock carrier (liv)</option>\n' +
                '        <option value="tug">tug</option>\n' +
                '        <option value="fishing trawler (fsh)">fishing trawler (fsh)</option>\n' +
                '        <option value="dredger (drg)">dredger (drg)</option>\n' +
                '        <option value="м">м</option>\n' +
                '        <option value="м-сп">м-сп</option>\n' +
                '        <option value="о">о</option>\n' +
                '        <option value="р">р</option>\n' +
                '        <option value="л">л</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Валовая вместимость</label>\n' +
                '    <input name="grossTonnage" type="text"/>\n' +
                '    <select name="grossTonnageOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Дедвейт</label>\n' +
                '    <input name="deadweight" type="text"/>\n' +
                '    <select name="deadweightOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>\n' +
                '<div class="row">\n' +
                '    <label>Год постройки</label>\n' +
                '    <input name="yearBuiltVessel" type="text"/>\n' +
                '    <select name="yearBuiltVesselOption">\n' +
                '        <option selected value=":">равно</option>\n' +
                '        <option value=">">больше</option>\n' +
                '        <option value=">=">больше или ровно</option>\n' +
                '        <option value="<">меньше</option>\n' +
                '        <option value="<=">меньше или равно</option>\n' +
                '    </select>\n' +
                '</div>\n' +
                '<br>';
            elementPS.insertAdjacentHTML('afterbegin', codeInner);
        }
    }
</script>
</body>
</html>