<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Обновление/добавление данных</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<a th:href="@{client_card_new(typeOfClient='юл')}"
   href="client_card_new.html"
   th:text="'Добавить нового клиента (ЮЛ)'">Добавить нового клиента (ЮЛ)</a>
<br>
<br>
<a th:href="@{client_card_new(typeOfClient='фл')}"
   href="client_card_new.html"
   th:text="'Добавить нового клиента (ФЛ)'">Добавить нового клиента (ФЛ)</a>
<br>
<br>

<span>Импорт сущностей</span>
<br>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <select name="whatUpload">
        <option value="legalEntity">Клиенты.ЮЛ</option>
        <option value="individual">Клиенты.ФЛ</option>
    </select>
    <input type="file" name="file" accept=".xls,.xlsx"/>
    <input type="submit" value="импорт"/>
</form>
<div th:text="${message}"></div>

</body>
</html>