<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Обновление/добавление данных</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<a th:href="@{client_card_new(typeOfClient='юл')}"
   href="client_card_new.html"
   th:text="'Добавить нового клиента (ЮЛ)'">Добавить нового клиента (ЮЛ)</a>
<br>
<br>
<a th:href="@{client_card_new(typeOfClient='фл')}"
   href="client_card_new.html"
   th:text="'Добавить нового клиента (ФЛ)'">Добавить нового клиента (ФЛ)</a>
<br>
<br>

<span>Импорт сущностей</span>
<br>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <select required name="whatUpload">
        <option value="">не выбрано</option>
        <option value="clientLegalEntity">Клиенты.ЮЛ</option>
        <option value="clientIndividual">Клиенты.ФЛ</option>
        <option value="pledgeAgreement">Договоры залога</option>
        <option value="loanAgreement">Кредитные договоры</option>
        <option value="psBuilding">Предметы залога.Здания/Сооружения</option>
        <option value="psRoom">Предметы залога.Помещения</option>
        <option value="psLandOwnership">Предметы залога.ЗУ.Собственность</option>
        <option value="psLandLease">Предметы залога.ЗУ.Аренда</option>
        <option value="psAuto">Предметы залога.Транспорт/Спецтехника</option>
        <option value="psEquipment">Предметы залога.Оборудование</option>
        <option value="psTBO">Предметы залога.ТМЦ</option>
        <option value="psSecurities">Предметы залога.Ценные бумаги</option>
        <option value="psVessel">Предметы залога.Судна</option>
        <option value="insurance">Договоры страхования</option>
        <option value="encumbrance">Обременения</option>
        <option value="costHistory">Стоимости предметов залога</option>
        <option value="monitoring">Мониторинги</option>
        <option value="clientManager">Клиентские менеджеры</option>
    </select>
    <input type="file" name="file" accept=".xls,.xlsx"/>
    <input type="submit" value="импорт"/>
</form>


<div th:text="${messageError}"></div>

<div th:if="${messageSuccess}">
    <div th:switch="${whatUpload}">
        <div th:case="clientLegalEntity">
            <br>
            <span>Добавлены следующие клиенты (ЮЛ)</span>
            <br>
            <div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>
        </div>
        <div th:case="clientIndividual">
            <br>
            <span>Добавлены следующие клиенты (ФЛ)</span>
            <br>
            <div th:replace="fragments/table_client :: clietTable(${clientIndividualList})"></div>
        </div>
        <div th:case="pledgeAgreement">
            <br>
            <span>Добавлены следующие договоры залога</span>
            <br>
            <div th:replace="fragments/table_pledge_agreements :: pledgeAgreementTable(${pledgeAgreementList})"></div>
        </div>
        <div th:case="loanAgreement">
            <br>
            <span>Добавлены следующие кредитные договоры</span>
            <br>
            <div th:replace="fragments/table_loan_agreements :: loanAgreementTable(${resultList})"></div>
        </div>
        <!--<div th:case="psBuilding">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->
        <!--<div th:case="clientLegalEntity">-->
            <!--<br>-->
            <!--<span>Добавлены следующие клиенты (ЮЛ)</span>-->
            <!--<br>-->
            <!--<div th:replace="fragments/table_client :: clietTable(${clientLegalEntityList})"></div>-->
        <!--</div>-->

    </div>
</div>

</body>
</html>