<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Страхование</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .insuranceTable, .insuranceTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<h1 th:text="'Страхование для предмета залога:' + ${pledgeSubject.getName()}">Страхование для предмета залога</h1>

<a th:href="@{/pledge_subject/detail(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="../pledge_subject/detail.html"
   th:text="'Вернуться к предмету залога ' + ${pledgeSubject.getName()}">Вернуться к предмету залога</a>
<br>
<br>
<a th:href="@{/insurance/card(pledgeSubjectId=${pledgeSubject.getPledgeSubjectId()})}"
   href="card.html"
   th:text="'Добавить договор страхования'">Добавить договор страхования</a>
<br>
<br>

<div class="containerTable">
    <table class="insuranceTable">
        <thead>
            <tr>
                <th>№ договора страхования</th>
                <th>Дата договора</th>
                <th>Дата начала страхования</th>
                <th>Дата окончания страхования</th>
                <th>Страховая сумма</th>
                <th>Оплата страховой премии</th>
                <th>Сумма франшизы</th>
            </tr>
        </thead>
        <tbody>
            <div th:each="insurance : ${insuranceList}">
                <tr>
                    <td th:text="${insurance.getNumInsurance()}">н/д</td>
                    <td th:text="${#temporals.format(insurance.getDateInsuranceContract(), 'dd.MM.yyyy')}">н/д</td>
                    <td th:text="${#temporals.format(insurance.getDateBeginInsurance(), 'dd.MM.yyyy')}">н/д</td>
                    <td th:text="${#temporals.format(insurance.getDateEndInsurance(), 'dd.MM.yyyy')}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(insurance.getSumInsured())}">н/д</td>
                    <td th:text="${insurance.getPaymentOfInsurancePremium()}">н/д</td>
                    <td th:text="${#numbers.formatCurrency(insurance.getFranchiseAmount())}">н/д</td>
                </tr>

            </div>



        </tbody>
    </table>
</div>
</body>
</html>