<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:switch="${whatDo}">
        <div th:case="changeLA">
            <title th:text="'Обновление данных КД№' + ${loanAgreementDto.getNumLA()}">Обновление данных</title>
        </div>
        <div th:case="newLA">
            <title th:text="'Создание нового КД'">Создание нового КД</title>
        </div>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: user_nav_bar"></div>

<div th:switch="${whatDo}">
    <div th:case="changeLA">
        <form th:action="@{/loan_agreement/update_insert}" th:method="post" th:object="${loanAgreementDto}" action="card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden", th:field="*{loanAgreementId}" th:value="${loanAgreementDto.getLoanAgreementId()}">
            <input type="hidden" , th:field="*{clientId}" th:value="${loanAgreementDto.getClientId()}">
            <input type="hidden", th:field="*{pledgeAgreementsIds}" th:value="${loanAgreementDto.getPledgeAgreementsIds()}">

            <div class="row">
                <label>№ КД:</label>
                <input required th:field="*{numLA}" type="text" th:value="${loanAgreementDto.getNumLA()}"/>
                <div th:if="${#fields.hasErrors('numLA')}" th:errors="*{numLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата начала КД</label>
                <input required th:field="*{dateBeginLA}" type="date" th:value="${loanAgreementDto.getDateBeginLA()}"/>
                <div th:if="${#fields.hasErrors('dateBeginLA')}" th:errors="*{dateBeginLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата окончания КД</label>
                <input required th:field="*{dateEndLA}" type="date" th:value="${loanAgreementDto.getDateEndLA()}"/>
                <div th:if="${#fields.hasErrors('dateEndLA')}" th:errors="*{dateEndLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Сумма договора:</label>
                <input type="number" step="0.01" required th:field="*{amountLA}" th:value="${loanAgreementDto.getAmountLA()}"/>
                <div th:if="${#fields.hasErrors('amountLA')}" th:errors="*{amountLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Задолженность:</label>
                <input type="number" step="0.01" required th:field="*{debtLA}" th:value="${loanAgreementDto.getDebtLA()}"/>
                <div th:if="${#fields.hasErrors('debtLA')}" th:errors="*{debtLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>%:</label>
                <input type="number" min="0" max="1" step="0.0001" required th:field="*{interestRateLA}" th:value="${loanAgreementDto.getInterestRateLA()}"/>
                <div th:if="${#fields.hasErrors('interestRateLA')}" th:errors="*{interestRateLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>ПФО</label>
                <select id="pfoSelection" required th:field="*{pfo}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div th:if="${#fields.hasErrors('pfo')}" th:errors="*{pfo}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Кат.кач.</label>
                <select id="qualitySelection" required th:field="*{qualityCategory}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div th:if="${#fields.hasErrors('qualityCategory')}" th:errors="*{qualityCategory}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Статус договора</label>
                <select id="statusSelection" required th:field="*{statusLA}">
                    <option value="OPEN">открыт</option>
                    <option value="CLOSED">закрыт</option>
                </select>
                <div th:if="${#fields.hasErrors('statusLA')}" th:errors="*{statusLA}">Name Error</div>
            </div>
            <br>
            <button type="submit">Обновить</button>
        </form>
    </div>
    <div th:case="newLA">
        <form th:action="@{/loan_agreement/update_insert}" th:method="post" th:object="${loanAgreementDto}" action="card.html">
            <input type="hidden", name="whatDo" th:value="${whatDo}">
            <input type="hidden" , th:field="*{clientId}" th:value="${loanAgreementDto.getClientId()}">

            <div class="row">
                <label>№ КД:</label>
                <input required th:field="*{numLA}" type="text"/>
                <div th:if="${#fields.hasErrors('numLA')}" th:errors="*{numLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата начала КД</label>
                <input required th:field="*{dateBeginLA}" type="date"/>
                <div th:if="${#fields.hasErrors('dateBeginLA')}" th:errors="*{dateBeginLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Дата окончания КД</label>
                <input required th:field="*{dateEndLA}" type="date"/>
                <div th:if="${#fields.hasErrors('dateEndLA')}" th:errors="*{dateEndLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Сумма договора:</label>
                <input type="number" step="0.01" required th:field="*{amountLA}"/>
                <div th:if="${#fields.hasErrors('amountLA')}" th:errors="*{amountLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Задолженность:</label>
                <input type="number" step="0.01" required th:field="*{debtLA}"/>
                <div th:if="${#fields.hasErrors('debtLA')}" th:errors="*{debtLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>%:</label>
                <input type="number" min="0" max="1" step="0.0001" required th:field="*{interestRateLA}"/>
                <div th:if="${#fields.hasErrors('interestRateLA')}" th:errors="*{interestRateLA}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>ПФО</label>
                <select required th:field="*{pfo}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div th:if="${#fields.hasErrors('pfo')}" th:errors="*{pfo}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Кат.кач.</label>
                <select required th:field="*{qualityCategory}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div th:if="${#fields.hasErrors('qualityCategory')}" th:errors="*{qualityCategory}">Name Error</div>
            </div>
            <br>
            <div class="row">
                <label>Статус договора</label>
                <select required th:field="*{statusLA}">
                    <option selected value="OPEN">открыт</option>
                    <option value="CLOSED">закрыт</option>
                </select>
                <div th:if="${#fields.hasErrors('statusLA')}" th:errors="*{statusLA}">Name Error</div>
            </div>
            <br>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div th:case="responseSuccess">
        <h3>Успешно добавлен новый кредитный договор</h3>
        <a th:href="@{/loan_agreement/detail(loanAgreementId=${loanAgreementDto.getLoanAgreementId()})}" href="detail.html"
           th:text="'подробрее'">н/д</a>
    </div>
    <div th:case="responseError">

    </div>
</div>



</body>
</html>